{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "singleQuote": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "trailingComma": "none",
  "semi": false,
  "printWidth": 100,
  "svelteBracketNewLine": false
}

