@use '../theme' as *;
@use '../utilities/mixins' as *;

.intro {
  font-size: $font-size-intro;
  font-weight: var(--font-weight-light);
  line-height: 140%;
}
.text-box {
  padding: 2rem;
  background-color: #fff;
}

.article-page {
  --space-section: var(--spacer-medium);
  --space-sub-section: var(--spacer-small);
  --space-content: var(--spacer-x-small);

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));

  @media only screen and (min-width: $breakpoint-large) {
    --space-section: var(--spacer-large);
    --space-sub-section: var(--spacer-medium);
    --space-content: var(--spacer-x-small);
  }
  > * {
    grid-column: span 12;
  }
  > * + ul,
  > * + ol,
  .intro,
  > * + p {
    margin-top: var(--space-content);
  }

  > .meta + p,
  figure {
    margin-top: var(--spacer-medium);
  }

  h2 {
    margin-top: var(--space-section);
    + h3 {
      margin-top: var(--space-content);
    }
  }

  > h3,
  > h4 {
    margin-top: var(--space-sub-section);
  }

  .text {
    @include xp-html-area;
  }

  .meta {
    margin-top: var(--spacer-small);
  }

  .disclosure {
    margin-top: var(--space-section);
  }

  &.children-full-width {
    @media only screen and (min-width: $breakpoint-large) {
      > * {
        grid-column: span 12;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    > * {
      grid-column: 3 / span 8;
    }
  }
}

.meta {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: $font-size-small;
  row-gap: var(--spacer-xxx-small);

  @media only screen and (min-width: $breakpoint-large) {
    display: flex;
    gap: var(--spacer-xxx-small);

    :nth-child(3) {
      padding-left: var(--spacer-xxx-small);
      border-left: $border-width-small solid var(--color-mt-beige);
    }
  }

  dt {
    &::after {
      content: ':';
    }
  }
  dd {
    margin-right: var(--spacer-large);
    font-weight: normal;

    @media only screen and (min-width: $breakpoint-large) {
      margin-right: 0;
    }
  }
}
