@use '../theme' as *;
@use '../utilities/mixins' as *;

.intro {
  font-size: $font-size-intro;
  font-weight: var(--font-weight-light);
  line-height: 140%;
}
.text-box {
  padding: 2rem;
  background-color: #fff;
}

.article-page {
  @include article-spacing;

  &.children-full-width {
    @media only screen and (min-width: $breakpoint-large) {
      > * {
        grid-column: span 12;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    > * {
      grid-column: 3 / span 8;
    }
  }
}

.meta {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: $font-size-small;
  row-gap: var(--spacer-xxx-small);

  @media only screen and (min-width: $breakpoint-large) {
    display: flex;
    gap: var(--spacer-xxx-small);

    :nth-child(3) {
      padding-left: var(--spacer-xxx-small);
      border-left: $border-width-small solid var(--color-mt-beige);
    }
  }

  dt {
    &::after {
      content: ':';
    }
  }
  dd {
    margin-right: var(--spacer-large);
    font-weight: normal;

    @media only screen and (min-width: $breakpoint-large) {
      margin-right: 0;
    }
  }
}
