@use '../theme' as *;
@use '../utilities/mixins' as *;

.intro {
  font-size: $font-size-intro;
  font-weight: var(--font-weight-light);
  line-height: 140%;
}
.text-box {
  padding: 2rem;
  background-color: #fff;
}

.article-page {
  --section-space: var(--spacer-large);
  --sub-section-space: var(--spacer-medium);
  --content-space: var(--spacer-x-small);

  > * + ul,
  > * + ol,
  .intro,
  > * + p {
    margin-top: var(--content-space);
  }

  figure {
    margin-top: var(--content-space);
  }

  h2 {
    margin-top: var(--section-space);
    + h3 {
      margin-top: var(--content-space);
    }
  }

  > h3,
  > h4 {
    margin-top: var(--sub-section-space);
  }

  .text {
    @include xp-html-area;
  }
  .meta,
  .disclosure {
    margin-top: var(--section-space);
  }
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-xx-small);
  font-size: $font-size-small;

  @media only screen and (min-width: $breakpoint-large) {
    display: inline-grid;
    grid-template-columns: auto 1fr auto 2fr;
    gap: 5px;
  }

  dd {
    &::after {
      content: ':';
    }
  }
  dt {
    margin-right: var(--spacer-large);
    font-weight: normal;

    @media only screen and (min-width: $breakpoint-large) {
      margin-right: 0;
    }
  }
}
