@use '../theme' as *;

.breadcrumbs {
  font-size: 1rem;
  ol {
    display: flex;
    //flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      padding-right: var(--spacer-xx-small);
      font-size: $font-size-small;
      margin-top: 0;
      &.ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
      }
      a::before {
        margin-right: var(--spacer-xx-small);
      }
    }
    &.expanded {
      display: inline;
    }
  }
}
