$button-default-color: 'primary' !default;
$button-colors: 'error' !default;

// stylelint-disable order/properties-order
.button {
  --button-background: var(--color-#{$button-default-color});
  --button-color: var(--color-on-#{$button-default-color});
  --outline-color: transparent;
  --gap: 0.5rem;
  --focus-box-shadow: 0 0 0 2px var(--color-mt-background),
    0 0 0 0.35rem var(--color-mt-blue-medium);
  // Reset for links
  text-decoration: none;

  // Reset for buttons
  padding: 0.25em 1.25em;
  border: var(--border-width-regular) solid transparent;
  font-family: inherit;
  cursor: pointer;

  // Display
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  // Visual
  border-radius: 0.25em;
  background-color: var(--button-background);
  color: var(--button-color);

  // Size
  min-width: 10ch;
  min-height: 2.75rem;

  // Text
  text-align: center;
  line-height: 1;
  font-weight: var(--font-weight-normal);

  // Effects
  // transition: all 180ms ease-in-out;
  transition: none 180ms ease-in-out;
  transition-property: background-color, color, border-color;

  &:focus {
    border-color: var(--button-background);
  }

  &:hover,
  &:active {
    background-color: var(--button-color);
    color: var(--button-background);
  }

  @each $color in $button-colors {
    &--#{$color} {
      --button-background: var(--color-#{$color});
      --button-color: var(--color-on-#{$color});

      &:focus {
        --outline-color: var(--color-#{$color}-50);

        box-shadow: var(--focus-box-shadow);
      }
    }
  }
  &--primary {
    &:hover,
    &:active {
      background-color: var(--color-mt-text-dark);
      color: var(--color-mt-background);
      border-color: var(--color-mt-text-dark);
    }
    &:disabled,
    &[disabled],
    &.disabled {
      background-color: var(--color-mt-grey);
      color: var(--color-mt-background);
      border-color: var(--color-mt-grey);
    }
    &:focus {
      box-shadow: var(--focus-box-shadow);
    }
  }

  &--secondary {
    --button-focus-inner: var(--button-background);
    --button-focus-outer: var(--button-color);
    --color: var(--button-background);
    --background: var(--color-mt-background);

    border-color: var(--color);
    color: var(--color);
    background-color: var(--background);

    &:hover,
    &:active {
      background-color: var(--color);
      color: var(--background);
    }

    &:disabled,
    &[disabled],
    &.disabled {
      background-color: var(--color-mt-background);
      color: var(--color-mt-grey);
      border-color: var(--color-mt-grey);
    }

    &:focus {
      box-shadow: var(--focus-box-shadow);
    }
  }

  &--unstyled {
    background: transparent;
    letter-spacing: normal;
    text-align: left;
    word-spacing: normal;
    cursor: pointer;
    border: 0;
    color: var(--color);
  }

  &--link {
    border: 0 none;
    background: transparent;
    color: var(--color);
    text-decoration: underline;
    min-width: auto;
    min-height: auto;
    margin: 0;
    padding: 0;

    &:hover {
      background: transparent;
      color: var(--color);
    }
    &:focus {
      box-shadow: var(--focus-box-shadow);
    }
  }

  &__icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
  }

  &:not(.button-icon) .button__icon {
    margin-right: 0.5em;
  }

  &-icon {
    border-radius: 50%;
    min-width: unset;
  }
  &--space-between {
    justify-content: space-between;
    text-align: left;
  }
  &--spinner {
    vertical-align: bottom;
  }
  .spinner::after {
    content: '';
    width: 1.0625rem;
    height: 1.0625rem;
    display: block;
    border-width: 0.08125rem;
    border-style: solid;
    border-radius: 50%;
    border-top-color: initial;
    border-bottom-color: initial;
    border-right-color: transparent;
    border-left-color: initial;
    border-image: initial;
    animation: 1s linear 0s infinite normal none running rotate;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.forward-arrow {
    &::before {
      content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNLjIgMS40MyAzLjY2MSA1IC4yIDguNTdsMS4wNjYgMS4wOTdMNS44IDUgMS4yNjYuMzMzLjIgMS40M1oiIGZpbGw9IiM0NjQ1NDUiLz48L3N2Zz4=');
      display: inline-block;
      margin-right: var(--spacer-xxx-small);
    }
  }
}
// stylelint-enable
