@use '../utilities/layout';
@use '../global/utils';

.checkbox-subsets {
  &--primary{
    legend {
      @extend .inclusively-hidden;
    }

    li {
      @extend .p-l-xs;
    }
  }

  &--secondary {
    @extend .m-l-l;
    @extend .p-xs;
    background: var(--color-mt-light-beige);
    position: relative;

    legend {
      position: absolute;
      font-weight: var(--font-weight-normal);
      margin-top: 0;
    }

    ul {
      margin-top: var(--spacer-small);
    }
  }
}
