@use '../utilities/layout';
@use '../global/utils';

.checkbox-subsets {
  &--primary{
    legend {
      @extend .inclusively-hidden;
    }

    li {
      @extend .p-l-xs;
    }
  }

  &--secondary {
    @extend .m-l-l;
    @extend .p-xs;
    background: var(--color-mt-light-beige);

    legend {
      float: left;
      width: 100%;
      font-weight: var(--font-weight-normal);
      margin-top: 0;
    }
  }
}
