@use '../theme' as *;

.current-issues {
  --border-color: var(--color-mt-green);
  --border-width: #{$border-width-regular};
  --border-style: solid;
  --border: var(--border-width) var(--border-style) var(--border-color);
  --issues-padding: var(--spacer-x-small);

  background-color: var(--color-mt-light-green);
  padding: var(--spacer-small) var(--spacer-x-small) var(--spacer-x-small);

  span {
    gap: 0;
    margin-top: var(--spacer-x-small);
  }

  span:first-of-type {
    border-top: var(--border);
    padding-top: var(--issues-padding);
  }

  svg {
    height: #{$menu-point-icon-height};
    width: #{$icon-size-x-large};
    grid-column: 1 / span 1;
    path {
      fill: var(--color-mt-brown);
    }
  }

  h2,
  h3,
  h4 {
    grid-column: 3 / span 10;
  }

  @media only screen and (min-width: $breakpoint-large) {
    span:first-of-type {
      padding-right: var(--spacer-large);
    }
    span:nth-of-type(-n + 2) {
      border-top: var(--border);
      padding-top: var(--issues-padding);
    }
    span {
      gap: var(--spacer-xxx-small);
    }
    h2,
    h3,
    h4 {
      grid-column: 2 / span 11;
    }
  }
}
