@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../color-tokens' as *;

.dialog-box {
  @include focus-outline();
  --focus-box-shadow: 0 0 0 0.125rem var(--color-mt-background),
  0 0 0 0.35rem var(--color-mt-blue-medium);
  --min-clickable-width-height: 2.75rem; // 44px

  display: block;
  background-color: var(--color-mt-lighter-light-blue);
  width: 100%;
  height: auto;
  position: relative;
  padding: var(--spacer-xx-small);
  border: var(--border-width-regular) solid var(--color-primary);
  &--closed{
    display: none;
    visibility: hidden;
  }
  &:focus {
    border-color: var(--color-primary);
    box-shadow: var(--focus-box-shadow);
  }

  &--button {
    float: right;
    margin-bottom: var(--spacer-x-small);
    margin-top: calc(-1 * var(--spacer-xxx-small));
    margin-right: calc(-1 * var(--spacer-xxx-small));
    background-position: center;
    background-repeat: no-repeat;
    min-width: var(--min-clickable-width-height);
    height: var(--min-clickable-width-height);
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23075B7A%22%20stroke-width%3D%222%22%20d%3D%22m.7071%201.5151%2016.8246%2016.8246M1.6722%2018.3398%2018.4968%201.5152%22%2F%3E%3C%2Fsvg%3E');

    &:hover,
    &:active {
      background-image: url('data:image/svg+xml, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20d%3D%22m.7071%201.5151%2016.8246%2016.8246M1.6722%2018.3398%2018.4968%201.5152%22%2F%3E%3C%2Fsvg%3E');
      background-color: $color-mt-brown;
      background-position: center;
      background-repeat: no-repeat;
    }
    &:focus {
      box-shadow: var(--focus-box-shadow);
    }
  }
}
