@use '../theme' as *;
@use '../utilities/mixins' as *;

.disclosure {
  --disclosure-spacing: var(--spacer-x-small);

  @media only screen and (min-width: $breakpoint-large) {
    --disclosure-spacing: var(--spacer-xx-small);
  }

  .disclosure-header {
    display: flex;
    align-items: center;
    gap: var(--spacer-xxx-small);
    width: 100%;
    margin: 0;
    padding: var(--disclosure-spacing) 0;
    overflow-wrap: anywhere;
    word-break: break-word;
  }
  [aria-expanded='true'].disclosure-header {
    font-weight: var(--font-weight-bold);
  }

  .disclosure-panel {
    @include xp-html-area;

    --space-content: var(--spacer-xxx-small);

    padding: 0 0 var(--spacer-x-small) 0;

    h3 {
      margin-top: var(--space-content);
    }
  }

  &.disclosure-bordered {
    border-top: $border-width-regular solid var(--color-secondary);
    border-bottom: $border-width-regular solid var(--color-secondary);

    + .disclosure {
      margin-top: 0;
      border-top: none;
    }

    .disclosure-header {
      justify-content: space-between;
      transition: padding-left ease-in-out 150ms;

      &:hover {
        padding-left: var(--spacer-xxx-small);
      }
    }

    [aria-expanded].disclosure-header::after {
      transition: transform 0.3s ease;
      margin-right: var(--disclosure-spacing);
      margin-left: auto;
      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
      content: '';
      width: var(--icon-size-normal);
      height: var(--icon-size-normal);
      background-size: var(--icon-size-normal) var(--icon-size-normal);
      background-repeat: no-repeat;
      display: block;
      padding-right: var(--icon-size-normal);
    }

    [aria-expanded='true'].disclosure-header::after {
      transform: rotate(-180deg);
    }
  }

  &.disclosure-links {
    &.disclosure-in-disclosure {
      grid-column: 2 / span 3;
    }
    &.disclosure-with-number {
      > .disclosure-header,
      > .disclosure-panel {
        display: grid;
        gap: 0;
        grid-template-columns: max-content max-content;
      }
      > .disclosure-header {
        .chapter-number {
          align-self: start;
          margin-right: var(--spacer-xxx-small);
        }
      }
      > .disclosure-panel {
        > .layout-grid {
          grid-column: none;
        }
      }
      @media only screen and (min-width: $breakpoint-large) {
        --chapter-number-cols: calc((95vw) / 12) auto;
        > .disclosure-header {
          grid-template-columns: var(--chapter-number-cols);
          .chapter-number {
            margin-right: 0;
          }
        }
        > .disclosure-panel {
          grid-template-columns: var(--chapter-number-cols);
          > .layout-grid {
            grid-column: 2 / span 3;
          }
        }
      }
    }

    > .disclosure-header {
      color: var(--color-mt-blue);
    }

    > [aria-expanded].disclosure-header {
      transition: color 0.3s ease;
      .title::after {
        transition: transform 0.3s ease;
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M21.857%204.8%2012%2014.836%202.143%204.8%200%206.982%2012%2019.2%2024%206.982%2021.857%204.8Z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
        content: '';
        width: var(--icon-size-normal);
        height: var(--icon-size-normal);
        background-size: var(--icon-size-normal) var(--icon-size-normal);
        background-repeat: no-repeat;
        display: inline-block;
        padding-right: var(--icon-size-normal);
        margin-left: var(--spacer-xxx-small);
      }
    }

    [aria-expanded='true'].disclosure-header {
      font-weight: $font-weight-normal;
      .title::after {
        transform: rotate(180deg);
      }
    }

    @media only screen and (min-width: $breakpoint-large) {
    }
  }

  &.disclosure-no-border {
    > .disclosure-header {
      gap: var(--spacer-xx-small);
    }

    .disclosure-header {
      padding: var(--spacer-x-small);
      transition: padding-left ease-in-out 150ms;

      &:hover {
        padding-left: var(--spacer-small);
      }
      svg {
        flex: none;
        align-self: center;
        width: $menu-icon-width;
        height: 100%;
      }
    }

    [aria-expanded].disclosure-header::after {
      transition: transform 0.3s ease;
      margin-left: auto;
      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
      content: '';
      width: var(--icon-size-normal);
      height: var(--icon-size-normal);
      background-size: var(--icon-size-normal) var(--icon-size-normal);
      background-repeat: no-repeat;
      display: block;
      padding-right: var(--icon-size-normal);
    }

    [aria-expanded='true'].disclosure-header::after {
      transform: rotate(-180deg);
      transform-origin: center center;
    }
    .disclosure-panel {

      border-top: $border-width-small solid var(--color-secondary);
      margin: 0 var(--spacer-x-small);
      &.on-server {
        > :first-child {
          margin-top: var(--spacer-xx-small);
        }
      }
    }
  }
  &.on-primary {
    svg {
      path {
        fill: currentColor;
      }
    }
    [aria-expanded].disclosure-header {
      &:after {
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
      }
    }
    [aria-expanded='true'].disclosure-header {
      color: var(--color-primary);
      background-color: var(--color-mt-lighter-light-blue);
      font-weight: $font-weight-normal;

      &:after {
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
      }
      svg {
        fill: var(--color-primary);
        path {
          fill: var(--color-primary);
        }
      }
    }
    .disclosure-panel {
      border-top: none;
      padding-top: var(--spacer-xx-small);
    }
  }
}
