@use '../theme' as *;
@use '../utilities/mixins' as *;

.disclosure {
  --disclosure-spacing: var(--spacer-x-small);

  border-top: $border-width-regular solid var(--color-secondary);
  border-bottom: $border-width-regular solid var(--color-secondary);

  + .disclosure {
    margin-top: 0;
    border-top: none;
  }

  .disclosure-header {
    display: flex;
    justify-content: space-between;
    gap: var(--spacer-xx-small);
    width: 100%;
    margin: 0;
    padding: var(--disclosure-spacing) 0;
    border: none;
    background: transparent;
    letter-spacing: normal;
    text-align: left;
    word-spacing: normal;
    &::after {
      content: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
      transition: transform 0.3s ease;
      display: inline-block;
      height: 1.25rem;
      margin-right: var(--disclosure-spacing);
    }
    &.h2::after {
      height: 2.7rem;
    }
    &[aria-expanded='true'] {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }
  .disclosure-panel {
    @include xp-html-area;

    --content-space: var(--spacer-xx-small);

    padding: 0 0 var(--spacer-x-small) 0;

    h3 {
      margin-top: var(--content-space);
    }
  }
}
