@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../color-tokens' as *;
@use '../utilities/functions' as *;

.dropdown {
  --background-color: var(--color-primary);
  $color: $color-mt-background;
  padding: var(--spacer-xx-small);
  text-align: right;
  display: inline-block;
  position: relative;

  .focus,
  &.focus,
  :focus,
  &:focus,
  :focus-visible,
  &:focus-visible {
    border-color: transparent;
    outline: none;
    box-shadow: 0 0 0 $border-width-large set-focus-color($color);
    margin-bottom: $border-width-large;
  }

  details {
    margin-top: 0;
    &[open] {
      summary {
        --color: var(--color-mt-white);
        &::after {
          transform: rotate(-180deg);
          content: url("data:image/svg+xml,%3Csvg width='20' height='12' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
          margin-left: 0;
        }
      }
    }
    summary {
      --color: var(--color-mt-text-dark);
    }
  }

  .dropdown-content {
    $color: $color-primary;

    display: none;
    position: absolute;
    width: 0;
    top: 0;
    padding: 4.125rem var(--spacer-xx-small) var(--spacer-xx-small);
    background-color: var(--background-color);
    z-index: var(--z-index-dropdown);
    right: 0;

    a,
    button {
      margin-bottom: $border-width-large;
    }

    > button,
    .button {
      color: transparent;
    }

    .focus,
    &.focus,
    :focus,
    &:focus,
    :focus-visible,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 $border-width-large set-focus-color($color);
    }
  }

  summary.button,
  .dropdown-title,
  button {
    font-weight: var(--font-weight-light);
    text-decoration: none;
    padding: 0.1875rem;
    position: relative;
    z-index: 0;
    border: $border-width-large solid transparent;
    margin-bottom: $border-width-large;

    &[aria-expanded]::after,
    &::after {
      transition: transform 0.3s ease;
      content: url("data:image/svg+xml,%3Csvg width='20' height='12'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
      margin-left: 0;
    }

    &[aria-expanded='true']::after {
      transform: rotate(-180deg);
      content: url("data:image/svg+xml,%3Csvg width='20' height='12' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
    }
  }

  // Currently used in the header
  &.button__small-text {
    button,
    .button,
    a {
      font-size: $font-size-small;
    }

    @media only screen and (min-width: $breakpoint-large) {
      a {
        font-size: $font-size-body;
      }
      button,
      .button {
        font-size: $font-size-label;
      }
    }
  }
  &.full-menu {
    --button-height: 2.125rem;

    & > button,
    > details {
      color: var(--color-mt-text-dark);
      --icon-size: 1rem;

      &[aria-expanded]::after,
      > summary::after {
        transition: transform 0.3s ease;
        width: var(--icon-size);
        height: var(--icon-size);
        background-size: var(--icon-size);
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M18%2018H0v-2.25h18V18ZM18%2010.125H0v-2.25h18v2.25ZM18%202.25H0V0h18v2.25Z%22%20fill%3D%22%233F3E3E%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        content: '';
        margin-left: 0;
      }

      &[open] > summary::after,
      &[aria-expanded='true']::after {
        transform: rotate(-180deg);
        width: var(--icon-size);
        height: var(--icon-size);
        background-size: var(--icon-size);
        background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20d%3D%22M18%202.25%2011.25%209%2018%2015.75%2015.75%2018%209%2011.25%202.25%2018%200%2015.75%206.75%209%200%202.25%202.25%200%209%206.75%2015.75%200%2018%202.25Z%22%20fill%3D%22%233F3E3E%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        content: '';
      }
    }
    .disclosure-header {
      padding: var(--spacer-xx-small);
      font-size: $font-size-body;
    }
    .disclosure-panel {
      .sub-menu {
        margin-top: var(--spacer-small);
      }
    }
    &.visible,
    & details > summary.button {
      color: var(--color-mt-text-dark);
      .dropdown-content {
        padding: var(--spacer-small) 0;
        top: calc(#{$height-header-mobile} - var(--spacer-xx-small) + 0.6rem);
        min-width: 100vw;
      }
    }

    @media only screen and (min-width: $breakpoint-large) {
      & > button,
      summary.button {
        --icon-size: 1.4rem;
      }
      .disclosure-header {
        font-size: $font-size-h3;
      }
      &.visible {
        .dropdown-content {
          padding: var(--spacer-xx-large) var(--spacer-medium);
          top: calc(#{$height-header-regular} - var(--spacer-xx-small) + 0.9rem);
          right: calc(-1 * var(--spacer-medium));
        }
      }
    }
  }

  &.visible {
    color: var(--color-mt-white);
    .disclosure-header {
      font-weight: var(--font-weight-light);
    }

    .dropdown-content {
      display: inline-block;
      min-width: min(100vw, 20rem);
    }

    .dropdown-title,
    button,
    summary.button {
      z-index: 2000;
    }

    a {
      color: var(--color-mt-white);
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    .dropdown-content {
      min-width: 20rem;
    }
  }
}

.alt-language {
  text-align: left;
  list-style: none;
  padding: 0;
  color: white;

  li {
    display: flex;
    flex-direction: column;
  }
  li + li {
    margin-top: var(--spacer-xx-small);
  }
}
.menu-row,
.sub-menu,
.menu {
  text-align: left;
  list-style: none;
  color: white;
}
.menu-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacer-xx-small);
  a {
    svg {
      height: 1.5rem;
    }
  }
}
.sub-menu,
.menu {
  margin-top: 0;
  padding: 0;
}
.sub-menu {
  display: grid;
  row-gap: var(--spacer-xx-small);
  margin-bottom: var(--spacer-xx-small);
  li {
    margin-top: 0;
  }
}
.menu {
  &.border {
    > li {
      border-top: $border-width-small solid var(--color-mt-white);
    }
    & > li:last-child {
      border-bottom: $border-width-small solid var(--color-mt-white);
    }
  }
  > li {
    display: flex;
    flex-direction: column;
  }
  > li + li {
    margin-top: 0;
  }
  & + .border {
    > li:first-child {
      border-top: none;
    }
  }
  @media only screen and (min-width: $breakpoint-large) {
    & + .border {
      > li:first-child {
        border-top: $border-width-small solid var(--color-mt-white);
      }
    }
  }
}
.split-long {
  display: grid;
  row-gap: var(--spacer-xx-small);
  @media only screen and (min-width: $breakpoint-large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
