@use '../theme' as *;
@use '../utilities/mixins' as *;

.dropdown {
  background: var(--color-mt-background);
  padding: var(--spacer-x-small);
  text-align: right;
  display: inline-block;
  position: relative;

  .dropdown-content {
    position: absolute;
    top: 0;
    padding: var(--spacer-large) 18px 18px;
    background-color: var(--color-mt-blue);
    z-index: 1000;
    right: 0;
  }

  button {
    font-size: $font-size-label;
    font-weight: var(--font-weight-light);
    text-decoration: none;
    padding: 0.1875rem;
    z-index: 1001;
    position: relative;

    &[aria-expanded]::after {
      transition: transform 0.3s ease;
      content: url("data:image/svg+xml,%3Csvg width='20' height='12'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
    }

    &[aria-expanded='true']::after {
      transform: rotate(-180deg);
      content: url("data:image/svg+xml,%3Csvg width='20' height='12' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
    }
  }

  &.visible {

    color: var(--color-mt-white);

    button:focus {
      box-shadow: 0 0 0 0.15rem var(--color-mt-light-blue);
    }

    .alt-language {
      width: max-content;
    }

    a {
      color: var(--color-mt-white);
      font-size: $font-size-h4;
      font-weight: var(--font-weight-light);
      padding: var(--spacer-xxx-small);

      &:focus {
        box-shadow: 0 0 0 0.15rem var(--color-mt-light-blue);
      }
    }
  }
}
