@use '../theme' as *;
@use '../utilities/mixins' as *;

.dropdown {
  padding: var(--spacer-x-small);
  text-align: right;
  display: inline-block;
  position: relative;

  .dropdown-content {
    display: none;
    position: absolute;
    width: 0;
    top: 0;
    padding: 4.125rem var(--spacer-x-small) var(--spacer-x-small);
    background-color: var(--color-mt-blue);
    z-index: var(--z-index-dropdown);
    right: 0;

    button {
      color: transparent;
    }
  }

  .dropdown-title,
  button {
    font-size: $font-size-label;
    font-weight: var(--font-weight-light);
    text-decoration: none;
    padding: 0.1875rem;
    position: relative;
    z-index: 0;

    &[aria-expanded]::after {
      transition: transform 0.3s ease;
      content: url("data:image/svg+xml,%3Csvg width='20' height='12'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
    }

    &[aria-expanded='true']::after {
      transform: rotate(-180deg);
      content: url("data:image/svg+xml,%3Csvg width='20' height='12' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
    }
  }
  // Currently used in the header
  &.button__small-text {
    button{
      font-size: $font-size-small ;
      &[aria-expanded]::after {
        margin-top: 0.313rem; // 5px
        content: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9741 3.6363 8.0001 9.719 2.026 3.6364.7273 4.9587 8 12.3636l7.2727-7.405-1.2986-1.3223Z' fill='%233F3E3E'/%3E%3C/svg%3E");
      }
      &[aria-expanded='true']::after {
        margin-top: -0.313rem; // -5px
        content: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9741 3.6363 8.0001 9.719 2.026 3.6364.7273 4.9587 8 12.3636l7.2727-7.405-1.2986-1.3223Z' /%3E%3C/svg%3E");
      }

      @media only screen and (min-width: $breakpoint-large) {
        font-size: $font-size-label;
        &[aria-expanded]::after {
          content: url("data:image/svg+xml,%3Csvg width='20' height='12'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
        }
        &[aria-expanded='true']::after {
          content: url("data:image/svg+xml,%3Csvg width='20' height='12' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
        }
      }
    }
  }

  &.visible {
    color: var(--color-mt-white);

    .dropdown-content {
      display: inline-block;
      min-width: min(100vw, 20rem);
    }

    .dropdown-title,
    button {
      z-index: 2000;
    }

    button:focus {
      box-shadow: 0 0 0 0.15rem var(--color-mt-light-blue);
    }

    a {
      color: var(--color-mt-white);
      font-size: $font-size-h4;
      font-weight: var(--font-weight-light);

      &:focus {
        box-shadow: 0 0 0 0.15rem var(--color-mt-light-blue);
      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    .dropdown-content {
      min-width: 20rem;
    }
  }
}

.alt-language {
  text-align: left;
  list-style: none;
  padding: 0;
  margin-top: 0;
  color: white;

  li {
    display: flex;
    flex-direction: column;
  }
  li + li {
    margin-top: var(--spacer-x-small);
  }
}
