@use '../theme' as *;

$feedback-box-breakpoint: 70rem; //1120px;
$feedback-box-breakpoint-height: 48.75rem; //780px;


.feedback-container {
  --width-outside-content: 10.25rem; // 196px
  --feedback-from-top: 15vh;
  --feedback-from-right: -10vh;
  --feedback-box-width: 16.25rem; // 260px;

  .feedback-box {
    margin: 0 auto;
    max-width: var(--feedback-box-width);

    form > *,
    fieldset > * {
      margin-top: 0;
    }

    .hide-feedback {
      display: none;
    }

    &--buttons {
      margin-top: var(--spacer-xx-small);
      .button {
        font-weight: bold;
        min-width: 7ch;
        width: 1.25rem;
        padding: 0;
        margin: 0;
      }
    }

    .form-layout {
      display: block;

      .form-label {
        font-weight: var(--font-weight-bold);
        line-height: 1.75rem; // 28px
        font-size: $font-size-h4; // 20px
        margin-bottom: var(--spacer-xxx-small);
      }

      .hint {
        margin-top: var(--spacer-xxx-small);
        margin-bottom: var(--spacer-x-small);
        line-height: 1.375rem;
        & > a {
          padding: 0;
          line-height: initial;
        }
      }
    }
  }
}


.feedback-container.onWidePage {
  margin-bottom: var(--spacer-x-small);
}
@media only screen and (min-width: 1600px) {
  .feedback-container.onWidePage {
    position: fixed;
    left: 0;
    right: 0;

    .feedback-cell {
      width: min(90rem, 95vw);
      margin: 0 auto;
      position: relative;

      .feedback-box {
        position: absolute;
        right: 0;
      }
    }
  }
}

@media only screen and (min-width: $feedback-box-breakpoint) {
    .feedback-container.default {
      width: min(#{$container-width}, 95vw); //1440px - figma grid width
      margin-left: auto;
      margin-right: auto;
      position: fixed;
      top: 0;

      .feedback-box {
        padding: 0;
        max-width: var(--feedback-box-width);
        top: var(--feedback-from-top);
        right: 0;
        text-align: left;
        opacity: 1;
        visibility: visible;
        position: absolute;
        z-index: var(--z-index-feedback);
      }
    }
  }

@media only screen and (min-height: $feedback-box-breakpoint-height) {
  .feedback-container {
    --feedback-from-top: 32vh;
  }
}
