@use '../theme' as *;

.feedback-container {
  --width-outside-content: 6.25rem; // 100px
  --feedback-from-top: 20vh;
  --feedback-box-width: 16.25rem; // 260px;

  .feedback-box {
    margin: 0 auto;
    max-width: var(--feedback-box-width);

    form > *, fieldset > *{
      margin-top: 0;
    }

    .form-layout{
      display: block;
      .form-legend {
        font-weight: var(--font-weight-bold);
        line-height: 1.75rem; // 28px
        font-size: $font-size-h4; // 20px
        margin-bottom: var(--spacer-x-small);
      }
      .form-label {
        font-weight: var(--font-weight-bold);
        line-height: 1.75rem; // 28px
        font-size: $font-size-h4; // 20px
        margin-bottom: var(--spacer-xx-small);
      }
      .button-radio{
        .form-control {
          .button{
            min-width: 7ch;
          }
          .button--secondary {
            background-color:var(--color-mt-white);
            width: 20px;
            padding: 0;
            margin: 0;
          }
        }
      }
      .meta{
        margin-top: var(--spacer-xx-small);
        margin-bottom: var(--spacer-x-small);
        line-height: 1.375rem;
      }
    }
  }

  &--left {
    max-width: calc($breakpoint-large + var(--width-outside-content));
    margin: 0 auto;
    position: relative !important;
  }
}

@media only screen and (min-width: $breakpoint-large) {
  .feedback-container {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;

    .feedback-box {
      padding: var(--spacer-xxx-small);
      max-width: var(--feedback-box-width);
      top: var(--feedback-from-top);
      right: -8vh ;
      text-align: left;
      opacity: 1;
      visibility: visible;
      position: absolute;
      z-index: var(--z-index-feedback);

    }
  }
}