@use "../color-tokens" as *;
@use "../theme" as *;

$step-ring-size: 2.125rem;

ol.steps {
  display: flex;
  flex-flow: row wrap;
  gap: $spacer-medium;
  counter-reset: step;
  list-style-type: none;
  padding-left: 0;

  li {
    &:before {
      margin-right: $spacer-small;
      display: inline-flex;
      border: 2px solid var(--color-primary);
      counter-increment: step;
      content: counter(step);
      background-color: white;
      border-radius: 50%;
      width: $step-ring-size;
      height: $step-ring-size;
      align-items: center;
      justify-content: center;
      transition: background-color 0.5s linear;
    }

    &:not(:last-of-type):after {
      content: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2214%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.907%201.645L6.328%207l-5.42%205.355L2.575%2014l7.102-7-7.102-7L.907%201.645z%22%20fill%3D%22%23055B7A%22%2F%3E%3C%2Fsvg%3E");
      margin-left: $spacer-medium;
    }

    &.steps__complete:before {
      color: white;
      background-color: var(--color-primary);
    }
  }
}
