@use '../color-tokens' as *;
@use '../theme' as *;
@use '../utilities/mixins' as *;

//stylelint-disable no-descending-specificity
$form-group-spacer: 'var(--spacer-small)' !default;
$form-text-space: 'var(--spacer-xx-small)' !default;
$form-field-width: 100% !default;
$form-text-color: 'var(--color-text)' !default;
$form-border-color: $color-secondary !default;
$form-border-radius: 0.25em !default;
$form-outline-style: solid !default;
$form-outline-color: $color-primary-50 !default;

form {
  --form-group-spacer: #{$form-group-spacer};
  --form-field-width: #{$form-field-width};
  --form-text-color: #{$form-text-color};
  --border-color: #{$form-border-color};
  --border-radius: #{$form-border-radius};
  --form-outline-style: #{$form-outline-style};
  --form-outline-color: #{$form-outline-color};
  --form-text-space: #{$form-text-space};

  color: var(--form-text-color);

  .hint {
    font-size: $font-size-small;
  }

  @media only screen and (min-width: $breakpoint-large) {
    --form-group-spacer: var(--spacer-large);
  }
}
form,
fieldset {
  > * {
    margin-top: var(--form-text-space);
  }
}

ul + .form-label,
ol + .form-label,
.button + .form-label,
.form-field + .form-label,
.form-field + button,
[type='hidden'] + button,
.form-field + fieldset,
fieldset + button,
fieldset + fieldset,
fieldset + .form-label {
  margin-top: var(--form-group-spacer);
}

[type='radio'] + .form-label,
[type='checkbox'] + .form-label {
  font-size: inherit;
  font-weight: normal;
}

legend.form-legend,
label.form-label {
  display: block;
  font-size: $font-size-label;
  font-weight: var(--font-weight-normal);
  line-height: 1;
}
.form-field.error {
  &:focus-visible {
    box-shadow: 0 0 0 0.25rem #e2312880;
  }
}
.form-field {
  @include error-style;

  --outline-style: var(--form-outline-style);
  --outline-color: var(--form-outline-color);

  width: 100%;
  max-width: var(--form-field-width, 30ch);
  padding: 0.75em 0.5em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  color: inherit;
  font-family: inherit;

  &:focus {
    border-color: var(--color-primary);
  }
}

.form-field.select {
  --outline-size: max(2px, 0.08em);
  --outline-style: var(--form-outline-style);
  --outline-color: var(--form-outline-color);

  display: grid;
  position: relative;
  grid-template-areas: 'select';
  align-items: center;

  select,
  &::after {
    grid-area: select;
  }

  &::after {
    content: '';
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: currentColor;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

  select {
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 0 1em 0 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: inherit;

    // Remove dropdown arrow in IE10 & IE11
    // @link https://www.filamentgroup.com/lab/select-css.html
    &::-ms-expand {
      display: none;
    }
  }

  @supports selector(:focus-within) {
    select {
      outline: none;
    }

    &:focus-within {
      outline: var(--outline-size) var(--outline-style) var(--outline-color);
      outline-offset: var(--outline-size);
    }
  }
}

.form-control {
  --dimention: 1.5em;

  display: inline-grid;
  grid-template-columns: 1em 1fr;
  align-items: center;
  gap: var(--dimention);

  input {
    width: 1em;
    height: 1em;
    margin: 0;

    &:focus + .input__control {
      box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.15em var(--color-primary);
    }
  }

  &__input {
    display: grid;
    grid-template-areas: 'input';
    place-content: center;
    font-size: 1em;

    > * {
      grid-area: input;
    }
  }

  .input__control {
    display: grid;
    place-content: center;
    width: var(--dimention);
    height: var(--dimention);
    border: $border-width-small solid var(--border-color);
  }
}

.checkbox {
  .input__control {
    @include error-style;
    @include focus-shadow(var(--color-primary-50), var(--color-primary));
    @include radio-check-error-style;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: var(--border-radius);
    color: var(--color-primary);
  }

  .input__control svg {
    width: 0.65em;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
  }

  input:checked + .input__control svg {
    transform: scale(1);
  }
}

.radio {
  .input__control {
    @include error-style;
    @include focus-shadow(var(--color-primary-50), var(--color-primary));
    @include radio-check-error-style;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    color: var(--color-primary);
  }
  .input__control::before {
    content: '';
    width: 0.5em;
    height: 0.5em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    border-radius: 50%;
    box-shadow: inset 1em 1em var(--color-primary);
  }

  input:checked + .input__control::before {
    transform: scale(1);
  }
}

.form-error {
  display: flex;
  align-items: center;
  color: var(--color-error);
  font-size: $font-size-small;

  &::before {
    content: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22%23A41D16%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11%2015h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47%202%202%206.48%202%2012s4.47%2010%209.99%2010C17.52%2022%2022%2017.52%2022%2012S17.52%202%2011.99%202zM12%2020c-4.42%200-8-3.58-8-8s3.58-8%208-8%208%203.58%208%208-3.58%208-8%208z%22%2F%3E%3C%2Fsvg%3E');
    display: inline-block;
    height: 26px;
    margin-right: var(--spacer-xx-small);
  }
}

.error-summary {
  margin-bottom: var(--form-group-spacer);
  padding: $spacer-xx-small $spacer-x-small;
  border-left: $border-width-regular solid var(--color-error);

  h2 {
    color: var(--color-error);
  }

  ul {
    margin-left: 0;
    padding-left: var(--spacer-x-small);
    list-style: disc;
    li.error-summary__list--link {
      color: var(--color-primary);
    }
  }
}
