@use '../theme' as *;

header,
.header {
  display: grid;
  align-items: center;
  padding-right: $spacer-large;
  padding-left: $spacer-large;
  border-bottom: $border-red-regular;
  &--regular {
    height: $height-header-regular;
  }
}
