@use '../theme' as *;
@use '../utilities/mixins' as *;

.legal-collection {
  @include article-spacing;

  section > details,
  section + .disclosure {
    margin-top: var(--spacer-medium);
  }
  .intro {
    font-size: $font-size-medium; // 22 px
    color:red;
    @media only screen and (min-width: $breakpoint-large) {
      font-size: $font-size-label;
    }
  }

  &__border-top {
    border-top: $border-width-regular solid var(--color-mt-beige);
    margin: var(--spacer-small) 0;
  }
}
