@use '../theme' as *;

dl {
  --spacer: 1rem;

  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 2rem;
  + dl {
    margin-top: var(--spacer);
  }
  dt {
    font-weight: bold;
  }
  &.summary-list {
    --spacer: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / span2;
    gap: 0;
    word-break: break-word;

    dt {
      &:first-child {
        margin-top: 0;
      }
      margin-top: var(--spacer-x-small);
      line-height: 140%;
    }

    @media only screen and (min-width: $breakpoint-large) {
      grid-template-columns: 5fr 7fr;
      gap: var(--spacer-x-small);

      dt {
        margin-top: 0;
      }
    }
  }
}

ol.list-unstyled,
ul.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul,
ol {
  margin-top: var(--spacer-xx-small);

  li {
    line-height: 140%;
    & + li {
      margin-top: var(--spacer-xxx-small);
    }
  }
  &.no-space-top {
    margin-top: 0;

    li {
      margin-top: 0;
    }
  }
  &.no-space-between {
    li {
      margin-top: 0;
    }
  }
  &.lines-between {
    --border-color: var(--color-mt-beige);
    --border-width: #{$border-width-regular};
    --border-style: solid;
    --border: var(--border-width) var(--border-style) var(--border-color);

    li {
      border-bottom: var(--border);
    }

    &.lines-top {
      li:first-child {
        border-top: var(--border);
      }
      &.two-col {
        @media only screen and (min-width: $breakpoint-large) {
          li:nth-child(-n + 2) {
            border-top: var(--border);
          }
        }
      }
    }
    &.lines-top-only-desktop {
      @media only screen and (min-width: $breakpoint-large) {
        li:first-child {
          border-top: var(--border);
        }
      }
      &.two-col {
        @media only screen and (min-width: $breakpoint-large) {
          li:nth-child(-n + 2) {
            border-top: var(--border);
          }
        }
      }
    }
  }
}

.list {

  > li {
    border-top: 0.0625rem solid var(--color-mt-beige-50);
    margin-top: 0;
    padding: var(--spacer-small);
    display: flex;
    justify-content: space-between;
    align-content: center;
    &:last-child{
      border-bottom: var(--border-width-small) solid var(--color-mt-beige-50);
    }
    &:nth-child(even) {
      background-color: var(--color-mt-white);
    }
    ul {
     margin-top: 0;
    }
  }

}
