dl {
  --spacer: 1rem;

  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 2rem;
  + dl {
    margin-top: var(--spacer);
  }
  dt {
    font-weight: bold;
  }
}

ol.list-unstyled,
ul.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul,
ol {
  margin-top: var(--spacer-x-small);

  li {
    line-height: 140%;
    & + li {
      margin-top: var(--spacer-xx-small);
    }
  }
}
