@use '../theme' as *;

dl {
  --spacer: 1rem;

  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 2rem;
  + dl {
    margin-top: var(--spacer);
  }
  dt {
    font-weight: bold;
  }
  &.summary-list {
    --spacer: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / span2;
    gap: 0;
    word-break: break-word;

    dt {
      &:first-child {
        margin-top: 0;
      }
      margin-top: var(--spacer-small);
      line-height: 140%;
    }

    @media only screen and (min-width: $breakpoint-large) {
      grid-template-columns: 5fr 7fr;
      gap: var(--spacer-small);

      dt {
        margin-top: 0;
      }
    }
  }
}

ol.list-unstyled,
ul.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul,
ol {
  margin-top: var(--spacer-x-small);

  li {
    line-height: 140%;
    & + li {
      margin-top: var(--spacer-xx-small);
    }
  }
  &.no-space-top {
    margin-top: 0;

    li {
      margin-top: 0;
    }
  }
}
