@use '../theme' as *;

.menu-points-icons {
  --title-gap: var(--spacer-medium);

  display: flex;
  flex-direction: column;
  gap: var(--title-gap);

  a {
    padding-left: 0;
    > * {
      word-break: break-word;
    }
  }
}

.menu-point {
  --svg-color: var(--color-mt-blue);
  --icon-padding: var(--spacer-xxx-small);

  &--title {
    gap: var(--icon-padding);
    display: flex;
    flex-wrap: nowrap;
  }
  &--icon {
    align-self: center;
    min-width: $menu-icon-width;
    max-width: $menu-icon-width;
    svg {
      path {
        fill: var(--svg-color);
      }
    }
  }
  p {
    margin-left: calc($menu-icon-width + var(--icon-padding));
  }
}
