.form-page,
.multipage-form-view {
  &.layout-flex-col {
    gap: 0;

    .steps {
      margin-top: var(--spacer-small);
    }

    > * + * {
      margin-top: var(--content-spacer);
    }

    > h2 {
      margin-top: var(--spacer-large);
    }
    .back-arrow {
      margin-top: var(--spacer-medium);
    }
  }
}
.form-funnel-view {
  section {
    .layout-flex-col {
      margin-top: var(--spacer-large);
    }
  }
}
