@use '../utilities/mixins' as *;
@use '../theme' as *;

.report {
  span:first-child {
    margin-bottom: var(--spacer-xxx-small);
  }
  .text + .report-list {
    margin-top: var(--spacer-x-small);
    border-top: $border-radius-small solid var(--color-secondary);
  }

  section {
    .report-list:first-child {
      dt:first-child,
      dd:nth-child(2) {
        padding-top: 0;
      }
    }
  }
  .report-list {
    gap: 0;
    display: flex;
    flex-direction: column;
    dt {
      padding-top: var(--spacer-x-small);
    }
    dd {
      padding-bottom: var(--spacer-x-small);
    }

    dd:not(:last-child) {
      border-bottom: $border-radius-small solid var(--color-secondary);
    }

    @media only screen and (min-width: $breakpoint-large) {
      display: grid;
      dt,
      dd {
        padding-top: var(--spacer-x-small);
        padding-bottom: var(--spacer-x-small);
      }

      dt:not(:nth-last-child(2)) {
        padding-right: var(--spacer-x-small);
        border-bottom: $border-radius-small solid var(--color-secondary);
      }
    }
  }

  .disclosure {
    margin-top: var(--spacer-large);
    .disclosure-header {
      font-size: $font-size-h3;
      font-weight: $font-weight-normal;
    }
    .disclosure-panel {
      &.on-server > :first-child {
        margin-top: 0;
      }
    }
  }
  .disclosure + .disclosure {
    margin-top: var(--spacer-small);
  }
}
