section {
  &.page-summary {
    --section-heading-pb: 1rem;

    display: grid;
    grid-template-areas: 'heading link';
    grid-template-columns: 1fr min-content;

    a {
      grid-area: link;
      padding-bottom: var(--section-heading-pb);
    }
    h1,
    h2,
    h3 {
      grid-area: heading;
      padding-bottom: var(--section-heading-pb);
    }
    dl {
      grid-column: 1 / span2;
    }
  }
}
