@use '../theme' as *;
@use '../utilities/mixins' as *;

.with-border {
  & summary {
    border-bottom: var(--border);
  }
  & .summary-wrapper {
    margin-left: var(--detail-margin);
    padding-left: var(--detail-padding);
    border-left: var(--border);
  }
}
.with-bold {
  & summary {
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      font-size: $font-size-body;
      font-weight: $font-weight-bold;
    }
  }
}

.with-icon {
  & summary {
    &::before {
      // blue sircle with § inside icon
      content: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%2210%22%20fill%3D%22%23075B7A%22%2F%3E%3Cpath%20d%3D%22M9.121%2014.0957c.1867.2431.4927.3646.9181.3646.2604%200%20.4839-.0803.6705-.2409.1867-.1606.28-.3689.28-.625%200-.23-.0977-.4319-.293-.6055-.1953-.1736-.7487-.4904-1.6601-.9505-.7943-.3906-1.3369-.7118-1.6277-.9635-.4644-.4037-.6966-.8941-.6966-1.4714%200-.5425.1563-.9917.4688-1.3476.1823-.2127.4405-.4059.7747-.5795-.1389-.0955-.2886-.269-.4492-.5208-.165-.3125-.2474-.6597-.2474-1.0417%200-.6467.23-1.2044.6901-1.6731.4644-.4688%201.1393-.7032%202.0248-.7032%201.059%200%201.8099.3473%202.2526%201.0417.2387.3733.3776.8398.4166%201.3997h-1.6797c-.0303-.2604-.0954-.4665-.1953-.6185-.1779-.269-.4709-.4036-.8789-.4036-.2734%200-.497.0673-.6706.2018-.1736.1302-.2604.3234-.2604.5795%200%20.295.152.5164.4558.664.3038.1476.8615.408%201.6731.7813%201.415.6684%202.1224%201.4431%202.1224%202.3242%200%20.5512-.1606%201.0069-.4817%201.3672-.178.1996-.4384.3884-.7813.5664.2431.2083.421.4036.5339.5859.1996.3169.2994.6901.2994%201.1198%200%20.829-.2864%201.4605-.8593%201.8945-.5729.4384-1.2153.6576-1.9271.6576-.7726%200-1.4301-.1932-1.9727-.5794-.5382-.3863-.8441-1.0265-.918-1.9206h1.7579c.0607.3212.1476.5534.2604.6966Zm.0196-4.0299%201.849.97a.9707.9707%200%200%200%20.3646-.2669c.1562-.1693.2343-.3711.2343-.6055%200-.1953-.1041-.382-.3125-.5599-.1128-.0911-.2691-.1888-.4687-.293L8.8607%208.321c-.2257.0954-.3863.2365-.4818.4231a.8614.8614%200%200%200-.0911.3907c0%20.2126.0933.4014.28.5664.1084.0998.2994.2213.5728.3646Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
      display: inline-block;
      margin-right: var(--spacer-xxx-small);
      vertical-align: -10%;
    }
  }
}

details {
  --detail-margin: var(--spacer-xxx-small);
  --detail-padding: var(--spacer-xxx-small);
  --summary-margin-bottom: var(--spacer-xx-small);
  --border: #{$border-width-regular} solid var(--color-mt-beige);

  margin-top: var(--spacer-xxx-small);

  &:focus,
  &:focus-visible {
    box-shadow: 0 0 0 0.25rem var(--color-mt-blue-medium);
  }
  summary {
    @include focus-outline();

    display: inline;
    line-height: 140%;
    color: var(--color-mt-blue);
    list-style: none;
    cursor: pointer;

    &::after {
      content: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2212%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.4667.545%209.9991%208.1481%202.5316.545.9082%202.198l9.091%209.2561L19.09%202.1978%2017.4667.5449Z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
      display: inline-block;
      margin-left: var(--spacer-xxx-small);
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
  &[open] {
    summary {
      margin-bottom: var(--summary-margin-bottom);
      &::after {
        transform: rotateX(180deg);
      }
    }
    .summary-wrapper {
      @include xp-html-area;
    }
  }
}
