@use '../theme' as *;

.tags {
  --gap: var(--spacer-xxx-small);
  display: flex;
  gap: var(--gap);

  .tag-list-item {
    margin-top: 0;
  }
  .tag-text {
    --tag-padding: 0.1em 0.5em;
    border: $border-width-regular solid var(--color-mt-text-dark);
    border-radius: $border-radius;
    padding: var(--tag-padding);
    font-size: $font-size-small;
  }
}
