@use '../theme' as *;

.top-tasks-container {
  h2 + .top-tasks-text {
    margin-top: var(--spacer-xx-small);
  }
  .tasks-layout {
    margin-top: var(--spacer-x-small);
  }
}
.tasks-layout-small {
  --min: 100%;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--min), 100%), 1fr));

  @media only screen and (min-width: $breakpoint-large) {
    --min: 20ch;
  }
}
