@use '../theme' as *;

.top-tasks-container {
  h2 + .top-tasks-text {
    margin-top: var(--spacer-xx-small);
  }
  .tasks-layout {
    margin-top: var(--spacer-x-small);
  }
  .tasks-layout-small {
    flex-direction: row;

    @media only screen and (max-width: $breakpoint-large) {
      flex-direction: column;
      gap: var(--spacer-xx-small);
    }
  }
}
