.spinner {
  width: 20px;
  height: 20px;
  margin: 0 0 2px 10px;
  border-width: 1.3px;
  border-style: solid;
  border-radius: 50%;
  border-color: white transparent white white;
  border-image: initial;
  animation: 1s linear 0s infinite normal none running rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
