@use '../theme' as *;

.layout-grid {
  --gap: 1rem;

  display: grid;
  gap: var(--gap);

  &--column {
    grid-auto-flow: column;
  }

  &--column-3 {
    grid-template-columns: minmax(0, 1fr);
    gap: var(--spacer-xx-small);

    @media only screen and (min-width: $breakpoint-large) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  &--column-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0;

    grid-auto-rows: min-content;

    .breadcrumbs {
      grid-column: span 12;
    }
    main {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));

      .form-page {
        grid-column: span 12;
      }

      > [data-portal-region='main'] {
        --space-section: var(--spacer-small);
        grid-column: span 12;

        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        row-gap: var(--space-section);

        > * {
          grid-column: span 12;
          display: grid;
          grid-template-columns: repeat(12, minmax(0, 1fr));
          & > * {
            grid-column: span 12;
          }
        }
      }
    }

    @media only screen and (min-width: $breakpoint-large) {
      .breadcrumbs {
        grid-column: 3 / span 8;
      }
      main {
        grid-column: span 12;
        display: grid;

        > .form-page {
          grid-column: 3 / span 8;
        }

        > [data-portal-region='main'] {
          --space-section: var(--spacer-large);
          grid-column: span 12;

          > * {
            grid-column: 3 / span 8;
          }

          > .card-grid {
            grid-column: 2 / span 10;
          }

          > .professional-advice-view,
          > .legal-guidance-view,
          > .article-view {
            grid-column: span 12;

            .article-page {
              grid-column: span 12;
              display: grid;
              grid-template-columns: repeat(12, minmax(0, 1fr));

              & > * {
                grid-column: 3 / span 8;
              }
              figure {
                grid-column: 2 / span 10;
              }
            }
          }
        }
      }
    }
  }

  &--auto-fit {
    --min: 20ch;

    grid-template-columns: repeat(auto-fit, minmax(min(var(--min), 100%), 1fr));
  }

  &--sidebar {
    --sidebar-max: 35ch;
    --content-min: 30ch;

    grid-template-columns:
      fit-content(var(--sidebar-max))
      minmax(min(50vw, var(--content-min)), 1fr);
  }

  &--centered {
    place-content: center;
  }

  &--stack {
    grid-template-areas: 'stack';
    place-items: center;

    > * {
      grid-area: stack;
      place-self: var(--place-self);
      align-self: var(--align-self, var(--place-self));
      justify-self: var(--justify-self, var(--place-self));
    }
  }
}
