@use '../theme' as *;

.layout-grid {
  --gap: 1rem;

  display: grid;
  gap: var(--gap);

  &--column {
    grid-auto-flow: column;
  }

  &--column-3 {
    grid-template-columns: minmax(0, 1fr);
    gap: var(--spacer-xx-small);

    @media only screen and (min-width: $breakpoint-large) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  &--column-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0;

    grid-auto-rows: min-content;

    .col-1-span-5,
    .col-1-span-6,
    .col-1-span-8,
    .col-1-span-10,
    .col-7-span-5,
    .col-7-span-6,
    .col-10-span-3,
    .col-4-span-6,
    .col-4-span-7,
    .col-3-span-6,
    .col-3-span-7,
    .col-3-span-8,
    .col-2-span-7,
    .col-2-span-9,
    .col-2-span-10,
    .col-1-span-12 {
      grid-column: span 12;
    }

    .col-1-span-7 {
      grid-column: span 7;
    }

    @media only screen and (min-width: $breakpoint-large) {
      .col-1-span-5 {
        grid-column: 1 / span 5;
      }
      .col-1-span-6 {
        grid-column: 1 / span 6;
      }
      .col-1-span-7 {
        grid-column: 1 / span 7;
      }
      .col-1-span-8 {
        grid-column: 1 / span 8;
      }
      .col-1-span-10 {
        grid-column: 1 / span 10;
      }
      .col-7-span-5 {
        grid-column: 7 / span 5;
      }
      .col-7-span-6 {
        grid-column: 7 / span 6;
      }
      .col-10-span-3 {
        grid-column: 10 / span 3;
      }
      .col-4-span-6 {
        grid-column: 4 / span 6;
      }
      .col-4-span-7 {
        grid-column: 4 / span 7;
      }
      .col-3-span-6 {
        grid-column: 3 / span 6;
      }
      .col-3-span-7 {
        grid-column: 3 / span 7;
      }
      .col-3-span-8 {
        grid-column: 3 / span 8;
      }
      .col-2-span-7 {
        grid-column: 2 / span 7;
      }
      .col-2-span-9 {
        grid-column: 2 / span 9;
      }
      .col-2-span-10 {
        grid-column: 2 / span 10;
      }
      .col-1-span-12 {
        grid-column: span 12;
      }
    }
  }

  &--auto-fit {
    --min: 20ch;

    grid-template-columns: repeat(auto-fit, minmax(min(var(--min), 100%), 1fr));
  }

  &--sidebar {
    --sidebar-max: 35ch;
    --content-min: 30ch;

    grid-template-columns:
      fit-content(var(--sidebar-max))
      minmax(min(50vw, var(--content-min)), 1fr);
  }

  &--centered {
    place-content: center;
  }

  &--stack {
    grid-template-areas: 'stack';
    place-items: center;

    > * {
      grid-area: stack;
      place-self: var(--place-self);
      align-self: var(--align-self, var(--place-self));
      justify-self: var(--justify-self, var(--place-self));
    }
  }

  &.row-gap {
    --space-section: var(--spacer-small);
    row-gap: var(--space-section);
  }
}
