@use '../theme' as *;
@use '../global/typography' as *;

.container {
  width: min(70ch, 95vw);
  margin-right: auto;
  margin-left: auto;
}

.layout-flex {
  --gap: 2rem;
  --wrap: wrap;

  display: flex;
  flex-wrap: var(--wrap);
  gap: var(--gap);
  &--centered {
    place-content: center;
  }
  &--center-vertical {
    align-items: center;
  }
  &--basis-3,
  &--basis-2 {
    > * {
      flex-basis: 100%;
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    &--basis-3 {
      > * {
        flex-basis: min(20rem, 31.5%);
      }
    }
    &--basis-2 {
      > * {
        flex-basis: 20rem;
      }
    }
  }
}
.layout-grid-3 {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--spacer-xx-small);

  @media only screen and (min-width: $breakpoint-large) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.layout-flex-col {
  --gap: var(--spacer-large);

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  &--x-small {
    gap: var(--spacer-x-small);
  }
}

.self-start {
  align-self: start;
  justify-self: start;
}

.self-end {
  align-self: end;
  justify-self: end;
}

.form-layout {
  display: grid;
  grid-auto-rows: min-content;
}

.justify-content-start {
  justify-content: start;
}

.layout-full-width {
  width: 100%;
}

.inclusively-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.visually-hidden-focusable {
  background: var(--color-primary);
  color: white;
  width: 100%;
  height: auto;
  position: fixed;
  text-align: center;
  padding: 4px;
  left: 0;

  &:not(:focus):not(:focus-within) {
    border: 0 !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }
}

header,
.header {
  display: grid;
  align-items: center;
  padding-right: $spacer-xx-small;
  padding-left: $spacer-xx-small;
  border-bottom: $border-red-regular;

  @media only screen and (min-width: $breakpoint-large) {
    padding-right: $spacer-large;
    padding-left: $spacer-large;
  }

  &--regular {
    height: $height-header-regular;
  }
}

footer,
.footer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: min(1440px, 95vw);
  padding: $spacer-small $spacer-small;
  gap: $spacer-x-small;
  border-top: $border-red-regular;

  @media only screen and (min-width: $breakpoint-large) {
    flex-direction: row;
    padding: $spacer-large 0;
  }

  svg {
    align-self: center;
  }

  .col {
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    gap: $spacer-xx-small;

    h2,
    h3 {
      font-size: $font-size-body;
      font-weight: var(--font-weight-bold);
    }
  }
}
.display-none {
  display: none;
}
