.container {
  width: min(60ch, 95vw);
  margin-right: auto;
  margin-left: auto;
}

section,
.section {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.layout-flex {
  --gap: 2rem;
  --wrap: wrap;

  display: flex;
  flex-wrap: var(--wrap);
  gap: var(--gap);
  &--centered {
    place-content: center;
  }
  &--center-vertical {
    align-items: center;
  }
}
.form-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inclusively-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

footer {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  padding: 5rem;
}
