@use '../theme' as *;

@mixin focus-outline() {
  --outline-color: var(--color-primary-50);
  --outline-size: 2px;
  --outline-style: solid;
  --outline-offset: 0.2em;

  &.focus,
  &:focus {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color);
    outline-offset: var(--outline-offset);
  }
}

@mixin disabled {
  &:disabled,
  &[disabled],
  &.disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
  }
}

@mixin focus-shadow($shadow, $border) {
  &:focus {
    border-color: $border;
    box-shadow: 0 0 0 0.25rem $shadow;
  }
}

@mixin error-style {
  &.error {
    $error-focus-color: var(--color-error-50);

    border: $border-width-regular solid var(--color-error);

    &:focus {
      border-color: var(--color-error);
      outline: none;
      box-shadow: 0 0 0 0.25rem $error-focus-color;
    }
  }
}

@mixin radio-check-error-style {
  &.error {
    + label {
      color: var(--color-error);
    }
  }
}

@mixin children-spaced($spacer: $spacer-large) {
  > * + * {
    margin-top: $spacer;
  }
}

@mixin xp-html-area {
  @include children-spaced(var(--content-space));

  --section-space: var(--spacer-large);
  --sub-section-space: var(--spacer-medium);
  --content-space: var(--spacer-x-small);

  > h2 {
    margin-top: var(--spacer-large);
    &.inclusively-hidden {
      + h3 {
        margin-top: 0;
      }
    }
  }

  > h3,
  > h4 {
    margin-top: var(--spacer-small);
  }
  ul {
    padding-left: var(--spacer-large);
    li {
      line-height: 140%;
      & + li {
        margin-top: var(--spacer-xx-small);
      }
    }
  }
}

@mixin card-article {
  @include children-spaced(var(--spacer-x-small));

  padding: var(--spacer-small);

  .title {
    margin-top: 0;
    padding-bottom: var(--spacer-x-small);
    border-bottom: $border-width-small solid var(--color-mt-beige);
    font-size: $font-size-h3;
  }
  .intro {
    font-size: $font-size-body;
    font-style: italic;
  }

  .text {
    @include xp-html-area;
  }
}
