.multipage-form-view {
  --space: 3rem;

  display: grid;
  grid-auto-rows: min-content;

  .page-description,
  .form-layout,
  .error-summary,
  a:not(.button),
  h2 {
    margin-top: var(--space);
  }
  .form-layout {
    width: min(50ch, 100%);
  }
  .error-summary {
    h2 {
      margin-top: 0;
    }
  }
}
