@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../components/layout-with-sidebar';
@use '../global/links';

.intro {
  font-size: $font-size-intro;
  font-weight: var(--font-weight-light);
  line-height: 140%;
}
.text-box {
  padding: 2rem;
  background-color: #fff;
}

.article-page {
  @include article-spacing;
  a {
    @extend .mt-link;
  }
  details,
  section > details,
  section + .disclosure {
    margin-top: var(--space-section);
    margin-bottom: var(--space-section);
  }

  &.children-full-width {
    @media only screen and (min-width: $breakpoint-large) {
      > * {
        grid-column: span 12;
      }
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    > * {
      grid-column: 3 / span 6;
    }
  }
}
