@use '../theme' as *;
@use '../global/links' as *;
@use '../utilities/mixins' as *;

.breadcrumbs {
  font-size: $font-size-small;
  .mt-ol {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: $fds-spacing-1;
    li {
      display: none;
      font-size: $font-size-small;
      margin-top: 0;
      align-items: center;

      &:not(:last-child) {
        .last-breadcrumb,
        .mt-button--link,
        .mt-link {
          @include apply-icon($icon: $icon-carret-right-small, $position: after);
          display: flex;
          gap: calc($fds-spacing-1 + var(--border-width-regular) + var(--border-width-regular));
          align-items: center;
        }
      }
      .mt-link,
      .mt-button--link,
      .last-breadcrumb {
        padding: var(--border-width-regular);
      }
      .mt-button--link {
        @include text-decoration-underline;
        border-radius: 0;
        &:focus {
          box-shadow: $focus-box-shadow-no-outline;
        }
      }

      &:nth-last-child(2) {
        display: flex;
        .mt-link {
          @include apply-icon($icon: $icon-carret-right-small, $position: before) {
            transform: rotateY(180deg);
          }
          &:after {
            display: none;
          }
        }
      }
      &.ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:focus-within {
          box-shadow: $focus-box-shadow-no-outline;
        }
      }

      @media only screen and (min-width: $breakpoint-large) {
        display: flex;
        &:nth-last-child(2) {
          .mt-link {
            @include apply-icon($icon: $icon-carret-right-small, $position: after);
            &:before {
              display: none;
            }
          }
        }
      }
    }
    &.expanded {
      flex-wrap: wrap;
    }
  }
}

@media print {
  .breadcrumbs {
    display: none;
  }
}
