@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../global/body' as *;
$button-default-color: 'primary' !default;
$button-colors: 'error' !default;

$icon-button-padding: $button-padding-lr;
$icon-button-border-radius: 0.25em;

// stylelint-disable order/properties-order
.mt-button {
  @include focus-outline();
  @include disabled;
  --fds-btn-padding: var(--fds-spacing-2) var(--fds-spacing-4);
  --button-background: var(--color-#{$button-default-color});
  --button-color: var(--color-on-#{$button-default-color});
  --outline-color: transparent;
  --gap: 0.5rem;
  // Reset for links
  text-decoration: none;

  // Reset for buttons
  padding: var(--fds-btn-padding);
  border: var(--border-width-regular) solid transparent;
  font-family: inherit;
  cursor: pointer;

  // Display
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  // Visual
  border-radius: $border-radius;
  background-color: var(--button-background);
  color: var(--button-color);

  // Size
  min-width: 10ch;
  min-height: 2.75rem;

  // Text
  text-align: center;
  line-height: 1.75rem;
  font-weight: var(--font-weight-normal);

  // Effects
  transition: none 180ms ease-in-out;
  transition-property: background-color, color, border-color;

  &:hover,
  &:active {
    background-color: var(--button-color);
    color: var(--button-background);
  }

  @each $color in $button-colors {
    &--#{$color} {
      --button-background: var(--color-#{$color});
      --button-color: var(--color-on-#{$color});
    }
  }
  &--primary {
    border-color: var(--mt-button-primary-border);
    &:hover,
    &:active {
      background-color: var(--mt-button-primary-bg-hover);
      color: var(--mt-button-primary-color-hover);
      border-color: var(--mt-button-primary-border-hover);
    }
    &:disabled,
    &[disabled],
    &.disabled {
      background-color: var(--mt-button-primary-bg-disabled);
      color: var(--mt-button-primary-color-disabled);
      border-color: var(--mt-button-primary-border-disabled);
    }
  }
  &--on-primary {
    background-color: transparent;
    border-color: var(--color-mt-white);

    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: none;
      border-color: transparent;
      box-shadow: 0 0 0 0.25rem var(--mt-button-no-primary-border-focus-shadow);
    }
  }

  &--search-clear {
    min-width: $button-min-width;
    min-height: $button-min-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: $border-radius;
    border: transparent;
    padding: 0;
    svg {
      path {
        fill: var(--color-primary);
      }
    }
    &:hover {
      border: $border-width-regular solid var(--color-primary);
      svg {
        path {
          fill: var(--color-mt-brown);
        }
      }
    }
    &:focus {
      box-shadow: $focus-box-shadow-on-white;
      background-color: transparent;
    }
  }

  &--link {
    border: 0 none;
    background: transparent;
    color: var(--color);
    text-decoration: underline;
    min-width: max-content;
    min-height: auto;
    margin: 0;
    padding: 0;

    &:hover {
      background: transparent;
      color: var(--color);
    }
  }
  &--spinner {
    vertical-align: bottom;

    &--start {
      gap: 0;
      flex-direction: row;
      .spinner {
        margin-right: var(--gap);
      }
    }
    &--end {
      gap: 0;
      flex-direction: row-reverse;
      .spinner {
        margin-left: var(--gap);
      }
    }
  }

  .spinner::after {
    content: '';
    width: 1.0625rem;
    height: 1.0625rem;
    display: block;
    border-width: 0.08125rem;
    border-style: solid;
    border-radius: 50%;
    border-top-color: initial;
    border-bottom-color: initial;
    border-right-color: transparent;
    border-left-color: initial;
    border-image: initial;
    animation: 1s linear 0s infinite normal none running rotate;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// stylelint-enable
