@use '../theme' as *;
@use '../utilities/functions' as *;
@use '../color-tokens' as *;
@use '../global/links' as *;

.chapter-menu {
  $color: $color-primary;
  --bg-active: var(--chapter-menu-active-on-dark);
  --color-active: var(--color-mt-blue);
  --link-color: var(--color-mt-white);

  background-color: var(--color-mt-blue);
  color: var(--color-mt-white);
  margin: var(--spacer-xx-small);
  li {
    border-bottom: $border-width-small solid var(--color-mt-background);
    margin-top: 0;
    &:last-child {
      border-bottom: none;
    }
    & + li.chapter-menu--chapter-wrapper {
      margin-top: 0;
    }
  }
  &--chapter-wrapper {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas: 'link btn' 'sub sub';
    a[aria-current] {
      grid-area: link;
    }
    button.icon--caret-down-after-on-primary {
      grid-area: btn;
    }
    ul {
      grid-area: sub;
    }
  }

  a,
  button {
    border-radius: 0;
    &:focus {
      outline: $border-width-large solid set-focus-color($color);
      box-shadow: none;
      outline-offset: -1px;
    }
  }
  a {
    @extend .mt-link;
    display: block;
    color: var(--link-color);
    text-decoration: none;
    width: 100%;
    padding: var(--spacer-xxx-small) 0;

    &:hover {
      text-decoration: underline;
    }
    &[aria-current='page'] {
      background-color: var(--bg-active);
      color: var(--color-active);
      font-weight: $font-weight-bold;
      padding-left: var(--spacer-xxx-small);
    }
    &.chapter-menu--subchapter {
      padding-left: var(--spacer-xx-small);
    }
  }
}

@media print {
  .chapter-menu {
    color: var(--color-mt-text-dark);
    background-color: transparent;
    a {
      &[aria-current='page'] {
        background-color: transparent;
      }
    }
  }
}
