@use '../theme' as *;
@use '../utilities/functions' as *;
@use '../color-tokens' as *;

.chapter-menu {
  $color: $color-primary;

  background-color: var(--color-mt-blue);
  color: var(--color-mt-white);
  margin: var(--spacer-xx-small);

  li {
    border-top: $border-width-small solid var(--color-mt-background);
    margin-top: 0;

    &:last-child {
      border-bottom: $border-width-small solid var(--color-mt-background);
    }
  }
  &--chapter-wrapper {
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas: 'link btn' 'sub sub';
    .mt-link[aria-current] {
      grid-area: link;
    }
    button.icon--caret-down-after-on-primary {
      grid-area: btn;
    }
    ul {
      grid-area: sub;
    }
  }

  a,
  button {
    border-radius: 0;
    &:focus {
      outline: $border-width-large solid set-focus-color($color);
      box-shadow: none;
      outline-offset: -1px;
    }
  }
  .mt-link {
    display: block;
    color: var(--color-mt-white);
    text-decoration: none;
    width: 100%;
    padding: var(--spacer-xxx-small) 0;

    &:hover {
      text-decoration: underline;
    }
    &[aria-current='page'] {
      background-color: var(--color-mt-rationale-blue);
      color: var(--color-mt-blue);
      font-weight: $font-weight-bold;
      padding-left: var(--spacer-xxx-small);
    }
    &.chapter-menu--subchapter {
      padding-left: var(--spacer-xx-small);
    }
  }
}

@media print {
  .chapter-menu {
    color: var(--color-mt-text-dark);
    background-color: transparent;
    .mt-link {
      &[aria-current='page'] {
        background-color: transparent;
      }
    }
  }
}
