@use '../utilities/layout';
@use '../global/utils';

.mt-fieldset .checkbox-subsets {
  .form-control {
    &.m-t-0 {
      margin-top: 0;
    }
  }

  &--primary {
    @extend .m-l-m;
    display: flex;
    flex-direction: column;
    gap: 0;

    legend {
      @extend .inclusively-hidden;
    }
  }

  &--secondary {
    @extend .m-t-xxs;
    @extend .m-l-m;
    @extend .p-xs;
    background: var(--checkbox-subset-secondary-bg);
    display: flex;
    flex-direction: column;
    gap: 0;

    .mt-legend {
      float: left;
      width: 100%;
      font-weight: var(--font-weight-normal);
      margin-top: 0;
      + .form-control {
        @extend .m-t-xs;
      }
    }
  }
}
