@use '../theme' as *;
@use '../global/links' as *;

.current-issues {
  --issues-padding: var(--spacer-x-small);

  background-color: var(--current-issues-bg);
  padding: var(--spacer-small) var(--spacer-x-small) var(--spacer-x-small);
  a {
    @extend .mt-link;
  }
  span {
    gap: 0;
    margin-top: var(--spacer-x-small);
  }

  h2,
  h3,
  h4 {
    display: flex;
    padding-bottom: 0;
    align-items: center;
    gap: var(--spacer-x-small);
    &::before {
      display: block;
      background-image: var(--icon-current-issue);
      padding-right: var(--current-issues-icon-size);
      content: '';
      width: var(--current-issues-icon-size);
      height: var(--current-issues-icon-size);
      background-size: var(--current-issues-icon-size) var(--current-issues-icon-size);
      background-repeat: no-repeat;
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    span {
      gap: var(--spacer-xxx-small);
    }
  }
}
