@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../color-tokens' as *;
.dialog-box {
  --background: var(--dialog-box-bg);
  --min-clickable-width-height: 2.75rem; // 44px
  --close-btn-box-shadow: 0 0 0 0.225rem var(--dialog-box-box-shadow);

  background-color: var(--background);
  width: 100%;
  height: auto;
  position: relative;
  padding: var(--spacer-x-small);
  border: var(--border-width-regular) solid var(--color-primary);

  display: grid;
  grid-template-columns: auto min-content;

  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px var(--color-mt-background), 0 0 0 0.35rem var(--dialog-box-box-shadow);
  }

  &--title {
    grid-column: 1 / span 1;
  }
  &--close-button {
    grid-column: 2 / span 1;
    margin-top: calc(-1 * var(--spacer-xx-small));
    margin-right: calc(-1 * var(--spacer-xx-small));
    background-position: center;
    background-repeat: no-repeat;
    min-width: var(--min-clickable-width-height);
    max-width: var(--min-clickable-width-height);
    height: var(--min-clickable-width-height);
    background-image: var(--icon-x-flat);

    &:hover,
    &:active {
      background-image: var(--icon-x-flat-hover);
      background-color: var(--dialog-box-close-hover);
      background-position: center;
      background-repeat: no-repeat;
      border: var(--border-width-regular) solid var(--dialog-box-close-border-hover);
    }

    &:focus {
      box-shadow: var(--close-btn-box-shadow);
    }
  }
  &--content {
    grid-column: 1 / span 2;
  }
}
@media only screen and (min-width: $breakpoint-large) {
  .dialog-box {
    padding: var(--spacer-xx-small);
    &--title {
      padding: 0;
    }
    &--close-button {
      padding: 0;
      margin-top: calc(-1 * var(--spacer-xxx-small));
      margin-right: calc(-1 * var(--spacer-xxx-small));
    }
  }
}
