@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../components/layout-with-sidebar';
@use '../global/links';

.disclosure {
  --disclosure-spacing: var(--spacer-x-small);
  --disclosure-padding-hover: var(--spacer-xxx-small);

  @media only screen and (min-width: $breakpoint-large) {
    --disclosure-spacing: var(--spacer-xx-small);
  }
  a {
    @extend .mt-link;
  }

  .disclosure-header {
    display: flex;
    align-items: center;
    gap: var(--spacer-xxx-small);
    width: 100%;
    margin: 0;
    padding: var(--disclosure-spacing) 0;
    overflow-wrap: anywhere;
  }
  [aria-expanded='true'].disclosure-header {
    font-weight: var(--font-weight-bold);
  }

  .disclosure-panel {
    @include xp-html-area;

    --space-content: var(--spacer-xxx-small);

    padding: 0 0 var(--spacer-x-small) 0;

    > h3 {
      margin-top: var(--space-content);
    }
    .article-page {
      .intro {
        margin-top: 0;
        :first-child {
          margin-top: 0;
        }
      }
      table.responsive-table {
        grid-column: span 12;
      }
    }
    > .disclosure {
      margin-top: var(--spacer-small);
    }
  }
  &.disclosure-with-number {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .disclosure-header {
      grid-column: 1 / span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      > .title {
        grid-column: 1 / span 11;
      }
      @media screen and (min-width: $breakpoint-large) {
        > .chapter-number {
          grid-column: 1 / span 2;
        }
        > .title {
          grid-column: 3 / span 9;
        }
      }
    }
  }

  &.disclosure-bordered {
    border-top: $border-width-regular solid var(--disclosure-bordered-border);
    border-bottom: $border-width-regular solid var(--disclosure-bordered-border);

    + .disclosure {
      margin-top: 0;
      border-top: none;
    }

    .disclosure-header {
      transition: padding-left ease-in-out 150ms;

      &:hover {
        padding-left: var(--disclosure-padding-hover);
      }
    }

    [aria-expanded].disclosure-header::after {
      transition: transform 0.3s ease;
      margin-right: var(--disclosure-spacing);
      margin-left: auto;
      background-image: var(--icon-arrow-down-on-light);
      content: '';
      width: var(--icon-size-normal);
      height: var(--icon-size-normal);
      background-size: var(--icon-size-normal) var(--icon-size-normal);
      background-repeat: no-repeat;
      display: block;
      padding-right: var(--icon-size-normal);
    }

    [aria-expanded='true'].disclosure-header::after {
      transform: rotate(-180deg);
      background-image: var(--icon-arrow-up-on-light);
    }
  }

  &.disclosure-no-border {
    > .disclosure-header {
      gap: var(--spacer-xx-small);
    }

    .disclosure-header {
      padding: var(--spacer-x-small);
      transition: padding-left ease-in-out 150ms;

      &:hover {
        padding-left: var(--spacer-small);
      }
      svg {
        flex: none;
        align-self: center;
      }
    }

    [aria-expanded].disclosure-header::after {
      transition: transform 0.3s ease;
      margin-left: auto;
      background-image: var(--icon-arrow-down-on-light);
      content: '';
      width: var(--icon-size-normal);
      height: var(--icon-size-normal);
      background-size: var(--icon-size-normal) var(--icon-size-normal);
      background-repeat: no-repeat;
      display: block;
      padding-right: var(--icon-size-normal);
    }

    [aria-expanded='true'].disclosure-header::after {
      transform: rotate(-180deg);
      transform-origin: center center;
    }
    .disclosure-panel {
      border-top: $border-width-small solid var(--list-border);
      margin: 0 var(--spacer-x-small);
      &.on-server {
        > :first-child {
          margin-top: var(--spacer-xx-small);
        }
      }
      &--full-width {
        margin: 0;
        border-top: none;
      }
    }
    &--align-left {
      .disclosure-header {
        padding-left: 0;
        &:hover {
          padding-left: var(--disclosure-padding-hover);
        }
      }
      .disclosure-panel {
        margin-left: 0;
        border-top: none;
      }
    }
  }
  &.on-primary {
    svg {
      path {
        fill: currentColor;
      }
    }
    [aria-expanded].disclosure-header {
      &:after {
        background-image: var(--icon-arrow-down-on-dark);
      }
    }
    [aria-expanded='true'].disclosure-header {
      color: var(--color-primary);
      background-color: var(--disclosure-on-primary-header-expanded);
      font-weight: $font-weight-normal;

      &:after {
        background-image: var(--icon-arrow-up-on-dark);
      }
      svg {
        fill: var(--color-primary);
        path {
          fill: var(--color-primary);
        }
      }
    }
    .disclosure-panel {
      border-top: none;
      padding-top: var(--spacer-xx-small);
    }
  }
}
@media print {
  .disclosure {
    .disclosure-header {
      padding-bottom: 0;
      &.mt-h2 {
        font-size: $font-size-body;
      }
      &.mt-h3 {
        font-size: $font-size-small;
      }
    }
    .disclosure-panel {
      &.display-none-important {
        display: block !important;
        padding-bottom: 0;
        h2.inclusively-hidden,
        h3.inclusively-hidden {
          margin-top: 0;
        }
      }
    }
    &.disclosure-no-border {
      .disclosure-header {
        svg {
          transform: scale(0.7);
        }
      }
    }
  }
}
