@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../color-tokens' as *;
@use '../utilities/functions' as *;
@use '../global/icon' as *;
@use '../global/links' as *;

.dropdown {
  --background-color: var(--color-primary);
  $color: $color-mt-background;
  display: inline-block;
  position: relative;

  a {
    @extend .mt-link;
    border-radius: 0;
  }

  .mt-details {
    margin-top: 0;
    &[open] {
      .mt-summary {
        color: var(--mt-button-neutral-color);
        margin-bottom: 0;
        &::after {
          transform: rotate(-180deg);
          margin-left: 0;
        }
      }
    }
    .mt-summary {
      color: var(--color-mt-text-dark);
    }
    &[aria-expanded]::after,
    > .mt-summary::after {
      @include icon-background;
    }
  }

  .dropdown-content {
    $color: $color-primary;

    position: absolute;
    width: 100%;
    top: $height-header-mobile;
    background-color: var(--color-mt-white);
    z-index: var(--z-index-feedback);
    right: 0;
    border-top: $border-width-small solid var(--color-mt-mellombeige);
    padding: var(--spacer-small) 0;

    > .mt-button {
      color: transparent;
    }

    .focus,
    &.focus,
    :focus,
    &:focus,
    :focus-visible,
    &:focus-visible {
      box-shadow: $focus-box-shadow;
    }
  }
  .mt-button.mt-button--link,
  &.mt-button,
  .dropdown-title,
  .mt-summary.mt-button {
    font-weight: var(--font-weight-light);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .mt-summary.mt-button {
    display: inline-flex;
  }
  .mt-summary.mt-button,
  .dropdown-title,
  .mt-button {
    position: relative;
    z-index: 0;

    &[aria-expanded]::after,
    &::after {
      transition: transform 0.3s ease;
      margin-left: 0;
    }

    &[aria-expanded='true']::after {
      transform: rotate(-180deg);
    }
  }

  // Currently used in the header
  &.mt-button__small-text {
    font-size: $font-size-body;
    .mt-button,
    a {
      padding: var(--spacer-xx-small);
      font-size: $font-size-body;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: $font-size-label;
      .mt-button {
        font-size: $font-size-label;
      }
    }
  }
  &.full-menu {
    --button-height: 2.125rem;
    position: inherit;
    padding: 0;

    & > .mt-button,
    > .mt-details {
      --icon-size: 1rem;
      &[aria-expanded]::after,
      > .mt-summary::after {
        @include icon-background;
      }

      &[open] > .mt-summary::after,
      &[aria-expanded='true']::after {
        background-image: var(--icon-x);
      }
    }
    [aria-expanded='true'].disclosure-header {
      border: $border-width-regular solid var(--disclosure-on-primary-header-expanded);
      margin-top: -1px;
      &:focus,
      &:focus-visible {
        border: $border-width-regular solid var(--color-mt-blue);
      }
    }
    .menu-level-1 {
      gap: var(--spacer-xxx-small);

      --menu-mobile-padding-tb: calc(var(--spacer-xx-small) + 2px);
      padding: var(--menu-mobile-padding-tb) var(--spacer-xx-small);
    }
    .disclosure-header {
      font-size: $font-size-body;
    }
    .disclosure {
      a.disclosure-header {
        margin-bottom: 1px;
      }
    }
    &.visible,
    & .mt-details > .mt-summary.mt-button {
      color: var(--color-mt-text-dark);
    }

    @media only screen and (min-width: $breakpoint-large) {
      .menu-level-1 {
        padding: var(--spacer-xx-small);
      }
      & > .mt-button,
      .mt-summary.mt-button {
        --icon-size: 1.4rem;
      }
      .disclosure-header {
        font-size: $font-size-h3;
      }
      .dropdown-content {
        top: $height-header-regular;
        padding: var(--spacer-medium) 0;
      }
    }
  }

  &.default-dropdown {
    >.mt-button, .mt-summary {
      background-color: var(--color-mt-white);
      padding: var(--spacer-xx-small) var(--spacer-x-small);
      width: 100%;
      justify-content: space-between;
      border: var(--border-width-small) solid var(--form-border-color);
    }

    .dropdown-content {
      position: relative;
      top: 0;
      border-top: none;
      padding: var(--spacer-x-small);
      border-radius: 0 0 var(--border-radius) var(--border-radius);

      .mt-fieldset, .form-control:first-of-type {
        margin-top: 0;
      }

      .mt-button {
        margin-top: var(--spacer-x-small);
      }
    }

    &.visible, .mt-details[open] {
      >.mt-button {
        box-shadow: 0 0 0 0.125rem var(--color-mt-background), 0 0 0 0.35rem var(--mt-button-primary-bg-focus);
      }
    }
  }

  &.visible {
    .disclosure-header {
      font-weight: var(--font-weight-light);
    }

    .dropdown-title,
    .mt-button,
    .mt-summary.mt-button {
      z-index: 2000;
    }

    a,
    .mt-button--unstyled {
      color: var(--dropdown-visible-color);
    }
  }
}

.alt-language {
  text-align: left;
  list-style: none;
  padding: 0;
  color: var(--color-text);

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li + li {
    margin-top: var(--spacer-xx-small);
  }
}
.menu-row,
.sub-menu,
.menu {
  text-align: left;
  list-style: none;
  color: var(--dropdown-color);
}
.menu-row {
  display: flex;
  flex-direction: column;
  a {
    @extend .mt-link;
    text-decoration: none;
    border-bottom: $border-width-regular solid transparent;
    svg {
      height: 1.5rem;
    }
    &:hover,
    &[aria-current='page'] {
      border-bottom: $border-width-regular solid var(--color-links);
    }
  }
  li {
    margin-bottom: var(--spacer-xx-small);
  }
  @media only screen and (min-width: $breakpoint-large) {
    flex-direction: row;
    flex-wrap: wrap;
    li {
      margin-right: var(--spacer-large);
    }
  }
}
.sub-menu,
.menu {
  margin-top: 0;
  padding: 0;
}
.sub-menu {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--spacer-xxx-small);
  padding-bottom: var(--spacer-medium);
  li {
    margin-top: var(--spacer-xx-small);
    &:nth-child(2) {
      margin-top: 0;
    }
    &.menu-level-2 {
      margin-top: var(--spacer-small);
      margin-bottom: var(--spacer-small);
      a {
        font-size: $font-size-h4;
      }
    }
    &.menu-level-2,
    &.menu-level-3 {
      a {
        width: fit-content;
      }
    }
  }
  @media only screen and (min-width: $breakpoint-large) {
    grid-template-columns: 1fr 1fr;
    li {
      margin-top: var(--spacer-xx-small);
      &:nth-child(3) {
        margin-top: 0;
      }
      &.menu-level-2 {
        grid-column: span 2;
        a {
          font-size: $font-size-label;
        }
      }
    }
  }
}
.menu {
  --menu-small-link-font-size-mobile: 1.125rem; //18px
  a {
    @extend .mt-link;
    text-decoration: none;

    &.small-link {
      font-size: var(--menu-small-link-font-size-mobile);
    }
    &[aria-current='page'] {
      border-bottom: $border-width-regular solid var(--color-mt-white);
    }
  }
  .sub-menu {
    .forward-arrow-small {
      &:after {
        display: none;
      }
    }
  }
  > li {
    > a {
      padding-left: var(--spacer-xx-small);
    }
    > a.hover-indent.menu-level-1 {
      &:hover {
        padding-left: var(--spacer-small);
      }
    }
  }
  &--right {
    > :first-child {
      border-top: none;
    }
  }
  &.border {
    --focus-spacing: 0.1875rem; //3px
    > li {
      border-top: $border-width-small solid var(--menu-border);
      margin-top: var(--focus-spacing);
      margin-bottom: var(--focus-spacing);
      padding-top: 0.0625rem; //1px
    }
    & > li:first-child {
      margin-top: 0;
    }
    & > li:last-child {
      border-bottom: $border-width-small solid var(--menu-border);
      padding-bottom: var(--focus-spacing);
      margin-bottom: 0;
    }
  }
  &--icon {
    > li {
      display: flex;
      flex-direction: column;
    }
    > li + li {
      margin-top: 0;
    }
    & + .border {
      > li:first-child {
        border-top: none;
      }
    }
  }
  .disclosure-no-border {
    > .disclosure-header {
      gap: var(--spacer-xx-small);
    }
    .disclosure-panel {
      margin: 0 var(--spacer-xxx-small);
      padding: 0 var(--spacer-xxx-small);
      > * {
        margin-top: 0;
      }
    }
  }
  @media only screen and (min-width: $breakpoint-large) {
    a.small-link {
      font-size: $font-size-body;
    }
    .sub-menu {
      .forward-arrow-small {
        &:after {
          display: block;
        }
      }
    }
    > li {
      > a {
        padding-left: 0;
      }
    }
    .disclosure-no-border {
      .disclosure-panel {
        margin: 0 var(--spacer-medium);
      }
    }
    & + .border {
      > li:first-child {
        border-top: $border-width-small solid var(--menu-border);
      }
    }
  }
}

.shadow-overlay {
  position: relative;
  &::before {
    display: block;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-dropdown);
    background: rgba(0,0,0,0);
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      transition: background $transition-out-overlay-duration $cubic-bezier-easing;
    }
  }
}


.mt-header:has(.dropdown > button[aria-expanded="true"]) + .shadow-overlay,
.mt-header:has(.dropdown > details[open]) + .shadow-overlay {
    &::before {
      background: rgba(0,0,0,0.2);

      @media (prefers-reduced-motion: no-preference) {
        transition: background $transition-in-overlay-duration $cubic-bezier-easing;
      }
    }
}
