@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../color-tokens' as *;
@use '../utilities/functions' as *;
@use '../global/icon' as *;
@use '../global/links' as *;

.dropdown {
  --background-color: var(--color-primary);
  $color: $color-mt-background;
  margin: var(--spacer-xx-small);
  text-align: right;
  display: inline-block;
  position: relative;

  a {
    @extend .mt-link;
    border-radius: 0;
  }

  .focus,
  &.focus,
  :focus,
  &:focus,
  :focus-visible,
  &:focus-visible {
    border-color: transparent;
    outline: $border-width-large solid set-focus-color($color);
    box-shadow: none;
  }

  details {
    margin-top: 0;
    &[open] {
      summary {
        --color: var(--mt-button-neutral-color);
        &::after {
          transform: rotate(-180deg);
          content: var(--icon-carret-down);
          margin-left: 0;
        }
      }
    }
    summary {
      --color: var(--color-mt-text-dark);
    }
  }

  .dropdown-content {
    $color: $color-primary;

    display: none;
    position: absolute;
    width: 0;
    top: 0;
    padding: 4.125rem var(--spacer-xx-small) var(--spacer-xx-small);
    background-color: var(--dropdown-content-bg);
    z-index: var(--z-index-dropdown);
    right: 0;
    border: $border-width-regular solid var(--color-mt-blue);

    > .mt-button {
      color: transparent;
    }

    .focus,
    &.focus,
    :focus,
    &:focus,
    :focus-visible,
    &:focus-visible {
      outline: $border-width-large solid var(--menu-focus);
      box-shadow: none;
    }
  }
  .mt-button.mt-button--link,
  &.mt-button,
  .dropdown-title,
  summary.mt-button {
    font-weight: var(--font-weight-light);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  summary.mt-button,
  .dropdown-title,
  .mt-button {
    padding: 0.1875rem;
    position: relative;
    z-index: 0;
    margin-bottom: $border-width-large;

    &[aria-expanded]::after,
    &::after {
      transition: transform 0.3s ease;
      content: var(--icon-carret-down);
      margin-left: 0;
    }

    &[aria-expanded='true']::after {
      transform: rotate(-180deg);
      content: var(--icon-carret-up);
    }
  }

  // Currently used in the header
  &.mt-button__small-text {
    font-size: $font-size-small;
    .mt-button,
    a {
      font-size: $font-size-small;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: $font-size-label;
      a {
        font-size: $font-size-body;
      }
      .mt-button {
        font-size: $font-size-label;
      }
    }
  }
  &.full-menu {
    --button-height: 2.125rem;
    position: inherit;
    padding: 0;
    margin-right: 0;
    & > .mt-button,
    > details {
      --icon-size: 1rem;

      &[aria-expanded]::after,
      > summary::after {
        @include icon-background;
        background-image: var(--icon-hamburger);
      }

      &[open] > summary::after,
      &[aria-expanded='true']::after {
        background-image: var(--icon-x);
      }
    }
    [aria-expanded='true'].disclosure-header {
      border: $border-width-regular solid var(--disclosure-on-primary-header-expanded);
      margin-top: -1px;
      &:focus,
      &:focus-visible {
        border: $border-width-regular solid var(--color-mt-blue);
      }
    }
    .menu-level-1 {
      gap: var(--spacer-xxx-small);

      --menu-mobile-padding-tb: calc(var(--spacer-xx-small) + 2px);
      padding: var(--menu-mobile-padding-tb) var(--spacer-xx-small);
    }
    .disclosure-header {
      font-size: $font-size-body;
    }
    .disclosure {
      a.disclosure-header {
        margin-bottom: 1px;
      }
    }
    &.visible,
    & details > summary.mt-button {
      color: var(--color-mt-text-dark);
      .dropdown-content {
        padding: var(--spacer-small) 0;
        top: calc(#{$height-header-mobile} - var(--spacer-xx-small) + 0.75rem);
        min-width: 100vw;
      }
    }

    @media only screen and (min-width: $breakpoint-large) {
      .menu-level-1 {
        padding: var(--spacer-xx-small);
      }
      & > .mt-button,
      summary.mt-button {
        --icon-size: 1.4rem;
      }
      .disclosure-header {
        font-size: $font-size-h3;
      }
      &.visible {
        .dropdown-content {
          padding-top: var(--spacer-xx-large);
          padding-bottom: var(--spacer-xx-large);
          top: calc(#{$height-header-regular} - var(--spacer-xx-small) + 1.38rem);
        }
      }
    }
  }

  &.visible {
    color: var(--dropdown-visible-color);
    .disclosure-header {
      font-weight: var(--font-weight-light);
    }

    .dropdown-content {
      display: inline-block;
      min-width: min(100vw, 20rem);
    }

    .dropdown-title,
    .mt-button,
    summary.mt-button {
      z-index: 2000;
    }

    a,
    .mt-button--unstyled {
      color: var(--dropdown-visible-color);
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    .dropdown-content {
      min-width: 20rem;
    }
  }
}

.alt-language {
  text-align: left;
  list-style: none;
  padding: 0;
  color: white;

  li {
    display: flex;
    flex-direction: column;
  }
  li + li {
    margin-top: var(--spacer-xx-small);
  }
}
.menu-row,
.sub-menu,
.menu {
  text-align: left;
  list-style: none;
  color: var(--dropdown-color);
}
.menu-row {
  display: flex;
  flex-direction: column;
  a {
    @extend .mt-link;
    text-decoration: none;
    border-bottom: $border-width-regular solid transparent;
    svg {
      height: 1.5rem;
    }
    &:hover,
    &[aria-current='page'] {
      border-bottom: $border-width-regular solid var(--color-links);
    }
  }
  li {
    margin-bottom: var(--spacer-xx-small);
  }
  @media only screen and (min-width: $breakpoint-large) {
    flex-direction: row;
    flex-wrap: wrap;
    li {
      margin-right: var(--spacer-large);
    }
  }
}
.sub-menu,
.menu {
  margin-top: 0;
  padding: 0;
}
.sub-menu {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--spacer-xxx-small);
  margin-bottom: var(--spacer-medium);
  li {
    margin-top: var(--spacer-xx-small);
    &:nth-child(2) {
      margin-top: 0;
    }
    &.menu-level-2 {
      margin-top: var(--spacer-small);
      margin-bottom: var(--spacer-small);
      a {
        font-size: $font-size-h4;
      }
    }
    &.menu-level-2,
    &.menu-level-3 {
      a {
        width: fit-content;
      }
    }
  }
  @media only screen and (min-width: $breakpoint-large) {
    grid-template-columns: 1fr 1fr;
    li {
      margin-top: var(--spacer-xx-small);
      &:nth-child(3) {
        margin-top: 0;
      }
      &.menu-level-2 {
        grid-column: span 2;
        a {
          font-size: $font-size-label;
        }
      }
    }
  }
}
.menu {
  --menu-small-link-font-size-mobile: 1.125rem; //18px
  a {
    @extend .mt-link;
    text-decoration: none;

    &.small-link {
      font-size: var(--menu-small-link-font-size-mobile);
    }
    &[aria-current='page'] {
      border-bottom: $border-width-regular solid var(--color-mt-white);
    }
  }
  .sub-menu {
    .forward-arrow-small {
      &:after {
        display: none;
      }
    }
  }
  > li {
    > a {
      padding-left: var(--spacer-xx-small);
    }
    > a.hover-indent.menu-level-1 {
      &:hover {
        padding-left: var(--spacer-small);
      }
    }
  }
  &--right {
    > :first-child {
      border-top: none;
    }
  }
  &.border {
    --focus-spacing: 0.1875rem; //3px
    > li {
      border-top: $border-width-small solid var(--menu-border);
      margin-top: var(--focus-spacing);
      margin-bottom: var(--focus-spacing);
      padding-top: 0.0625rem; //1px
    }
    & > li:first-child {
      margin-top: 0;
    }
    & > li:last-child {
      border-bottom: $border-width-small solid var(--menu-border);
      padding-bottom: var(--focus-spacing);
      margin-bottom: 0;
    }
  }
  &--icon {
    > li {
      display: flex;
      flex-direction: column;
    }
    > li + li {
      margin-top: 0;
    }
    & + .border {
      > li:first-child {
        border-top: none;
      }
    }
  }
  .disclosure-no-border {
    > .disclosure-header {
      gap: var(--spacer-xxx-small);
    }
    .disclosure-panel {
      margin: 0 var(--spacer-xxx-small);
      padding: 0 var(--spacer-xxx-small);
      > * {
        margin-top: 0;
      }
    }
  }
  @media only screen and (min-width: $breakpoint-large) {
    a.small-link {
      font-size: $font-size-body;
    }
    .sub-menu {
      .forward-arrow-small {
        &:after {
          display: block;
        }
      }
    }
    > li {
      > a {
        padding-left: 0;
      }
    }
    .disclosure-no-border {
      .disclosure-panel {
        margin: 0 var(--spacer-medium);
      }
    }
    & + .border {
      > li:first-child {
        border-top: $border-width-small solid var(--menu-border);
      }
    }
  }
}
