@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../color-tokens' as *;
@use '../utilities/functions' as *;
@use '../global/icon' as *;
@use '../global/links' as *;

.dropdown-standalone {
  --background-color: var(--color-primary);
  $color: $color-mt-background;
  display: inline-block;
  position: relative;
  width: 100%;

  a {
    @extend .mt-link;
    border-radius: 0;
  }

  .mt-details {
    margin-top: 0;
    &[open] {
      .mt-summary {
        color: var(--mt-button-neutral-color);
        padding: var(--spacer-xx-small) var(--spacer-x-small);
        //margin-bottom: 0;
        &::after {
          transform: rotate(-180deg);
          margin-left: 0;
          @include icon-background;
        }
      }
    }

  }

  .dropdown-content {
    width: 100%;
    background-color: var(--color-mt-white);
    z-index: var(--z-index-feedback);
    padding: var(--spacer-xx-small) var(--spacer-x-small);
    border-radius: var(--border-radius);

    .focus,
    &.focus,
    :focus,
    &:focus,
    :focus-visible,
    &:focus-visible {
      box-shadow: $focus-box-shadow;
    }
  }
  .mt-form {
    width: 100%;
  }

  .mt-button.mt-button--link,
  &.mt-button,
  .dropdown-title,
  .mt-summary.mt-button {
    width: 100%;
    font-weight: var(--font-weight-light);
    text-decoration: none;
    background-color: var(--color-mt-white);
    padding: var(--spacer-xx-small) var(--spacer-x-small);
    gap: var(--spacer-x-small);
    justify-content: space-between;
    border: var(--border-width-small) solid var(--form-border-color);
    &:hover {
      text-decoration: underline;
    }
  }
  .mt-summary.mt-button {
    display: inline-flex;
  }
  .mt-summary.mt-button,
  .dropdown-title,
  .mt-button {
    padding: var(--spacer-xx-small) var(--spacer-x-small);
    position: relative;
    z-index: 0;

    &[aria-expanded]::after,
    &::after {
      transition: transform 0.3s ease;
    }

    &[aria-expanded='true']::after {
      transform: rotate(-180deg);
    }
  }

  // Currently used in the header
  &.mt-button__small-text {
    font-size: $font-size-body;
    .mt-button,
    a {
      font-size: $font-size-body;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: $font-size-label;
      .mt-button {
        font-size: $font-size-label;
        max-width: 80%;
      }
      .dropdown-content {
        max-width: 80%;
      }
    }
  }
    > .mt-details {
      --icon-size: 1rem;
      &[aria-expanded]::after,
      > .mt-summary::after {
        @include icon-background;
      }
    }
  &.visible {
    .dropdown-title,
    .mt-button,
    .mt-summary.mt-button {
      z-index: 2000;
    }

    a,
    .mt-button--unstyled {
      color: var(--dropdown-visible-color);
    }
  }
}
