.expandable-input-list {
  .collapsable-input-list {
    display: grid;
    gap: var(--spacer-xx-small);
    grid-template-columns: max-content;

    .form-field + .mt-label {
      margin-top: 0;
    }
  }
}
