@use '../theme' as *;
.external-list {
  > * {
    grid-column: span 12;
  }
  @media only screen and (min-width: $breakpoint-large) {
    > * {
      grid-column: 3 / span 8;
    }
  }
  .error {
    color: var(--color-error);
  }
}
