@use '../color-tokens' as *;
@use '../theme' as *;

.mt-fieldset {
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;

  label {
    font-weight: normal;
    line-height: 1;
  }

  legend {
    font-weight: var(--font-weight-bold);
    padding-inline: 0;

    &.border {
      width: 100%;
      border-bottom: var(--border-width-small) solid $color-secondary;
      padding-bottom: var(--spacer-xx-small);
    }
  }

  &.validation {
    legend {
      float: left;
      width: 100%;
      margin-top: 0;
    }
  }

  &.fieldset-error {
    border-radius: $border-radius-small;
    box-shadow: $error-box-shadow-small;

    @media only screen and (min-width: $breakpoint-large) {
      box-shadow: $error-box-shadow;
    }
  }
}
