@use '../theme' as *;

.mt-input[type='file'].form-field {
  background-color: transparent;

  &.inclusively-hidden-initial + .mt-label.mt-button {
    display: flex;
    width: fit-content;
    line-height: inherit;

    &:before {
      background-image: var(--icon-file-upload);
      padding-right: var(--icon-size-normal);
      content: '';
      width: var(--icon-size-normal);
      height: var(--icon-size-normal);
      background-size: var(--icon-size-normal) var(--icon-size-normal);
      background-repeat: no-repeat;
    }
  }

  &:focus + .mt-label.mt-button {
    border-color: var(--button-background);
    box-shadow: $focus-box-shadow;
  }
}

.file-button {
  $file-list-item-spacing: var(--spacer-xx-small);

  &__file-list {
    margin-top: $file-list-item-spacing;

    li {
      border-top: $border-width-small solid var(--disclosure-bordered-border);
      border-bottom: $border-width-small solid var(--disclosure-bordered-border);
      padding-top: $file-list-item-spacing;
      padding-bottom: $file-list-item-spacing;
      display: flex;
      flex-direction: row;

      + li {
        margin-top: 0;
        border-top: none;
      }
    }
  }

  &__file-name {
    flex: 1;
    overflow-wrap: anywhere;
    margin-right: $file-list-item-spacing;
    align-self: center;
  }

  &__file-remove {
    margin-right: var(--spacer-xxx-small);
    min-width: $button-min-width;
    min-height: $button-min-height;
    align-self: center;
  }
}
