@use '../color-tokens' as *;
@use '../theme' as *;
@use '../utilities/mixins' as *;
@use '../global/links';

//stylelint-disable no-descending-specificity
$form-field-width: 100% !default;
$form-text-color: 'var(--color-text)' !default;
$form-border-color: 'var(--form-border-color)' !default;
$form-border-radius: 0.25em !default;
$form-outline-style: solid !default;
$form-outline-color: 'var(--form-outline-color)' !default;

.mt-form {
  --form-field-width: #{$form-field-width};
  --form-text-color: #{$form-text-color};
  --border-color: #{$form-border-color};
  --border-radius: #{$form-border-radius};
  --form-outline-style: #{$form-outline-style};
  --form-outline-color: #{$form-outline-color};

  color: var(--form-text-color);

  .hint,
  .form-error {
    font-size: $font-size-small;
    margin-top: var(--form-hint-spacer);
    a {
      @extend .mt-link;
    }
  }
  > * {
    margin-top: var(--form-text-space);
  }
  > .inclusively-hidden,
  > .inclusively-hidden-initial,
  > .inclusively-hidden-initial + .mt-label.mt-button,
  > [type='hidden'] + .mt-label.mt-button {
    margin-top: 0;
  }

  .mt-ul + .mt-label,
  .mt-ol + .mt-label,
  .mt-button + .mt-label,
  .form-field + .mt-label,
  .mt-input[type='hidden'] + .mt-button,
  .form-field + .mt-fieldset,
  .form-field + .mt-button,
  .mt-fieldset + .mt-button,
  .mt-alert + .mt-button,
  .mt-input + .mt-button,
  .count-character + .mt-label,
  .count-character + .mt-fieldset,
  .mt-label + [type='submit'],
  .mt-fieldset + .mt-fieldset,
  .mt-fieldset + .mt-alert,
  .mt-fieldset + .mt-label {
    margin-top: var(--form-group-spacer);
  }
}

.mt-legend.form-legend,
.mt-label {
  display: flex;
  gap: var(--fds-spacing-3);
  font-size: $font-size-label;
  font-weight: var(--font-weight-normal);
  line-height: 1;
  &.small {
    font-size: $font-size-body;
  }
  &.bold {
    font-weight: var(--font-weight-bold);
  }
}

.form-field {
  @include error-style;
  @include focus-outline();
  @include disabled;

  --outline-style: var(--form-outline-style);
  --outline-color: var(--form-outline-color);
  --input-width: 100%;

  width: var(--input-width);
  max-width: var(--form-field-width, 30ch);
  padding: 0.75em $button-padding-lr;
  border: var(--border-width-small) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  color: inherit;
  font-family: inherit;

  &:hover {
    @include form-inputs-hover-style;
  }

  &--small-width {
    --input-width: #{$size-input-3};
  }
  &--medium-width {
    --input-width: #{$size-input-4};
  }
  &--small {
    padding: calc(2 * #{$spacer-xxx-small});
  }
}

.form-field.select {
  --outline-size: max(2px, 0.08em);
  --outline-style: var(--form-outline-style);
  --outline-color: var(--form-outline-color);

  display: grid;
  position: relative;
  grid-template-areas: 'select';
  align-items: center;

  select,
  &::after {
    grid-area: select;
  }

  &::after {
    content: '';
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: currentColor;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

  select {
    appearance: none;
    width: 100%;
    margin: 0;
    padding: 0 1em 0 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: inherit;

    // Remove dropdown arrow in IE10 & IE11
    // @link https://www.filamentgroup.com/lab/select-css.html
    &::-ms-expand {
      display: none;
    }
  }

  @supports selector(:focus-within) {
    select {
      outline: none;
    }
  }
}

.form-control {
  display: inline-grid;
  grid-template-columns: var(--radio-checkbox-dimention) 1fr;
  align-items: center;
  gap: var(--spacer-xx-small);

  &:hover {
    .input__control {
      @include form-inputs-hover-style;
    }
  }

  .mt-input {
    @include focus-outline();
  }

  &__input {
    display: grid;
    grid-template-areas: 'input';
    place-content: center;
    font-size: 1em;

    > * {
      grid-area: input;
    }
  }

  .input__control {
    display: grid;
    place-content: center;
  }
}

.form-error {
  display: flex;
  align-items: center;
  color: var(--color-error);

  &::before {
    content: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22%23A41D16%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11%2015h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47%202%202%206.48%202%2012s4.47%2010%209.99%2010C17.52%2022%2022%2017.52%2022%2012S17.52%202%2011.99%202zM12%2020c-4.42%200-8-3.58-8-8s3.58-8%208-8%208%203.58%208%208-3.58%208-8%208z%22%2F%3E%3C%2Fsvg%3E');
    display: inline-block;
    height: 26px;
    margin-right: var(--spacer-xxx-small);
  }
}

.input-horizontal {
  display: grid;
  column-gap: var(--spacer-xx-small);

  grid-template-columns: auto 1fr;

  div.validation:first-child {
    grid-column: span 2;
  }

  input {
    margin-top: 0;
    justify-self: end;
  }
  input + p {
    grid-column: span 2;
  }

  .form-field {
    &--small-width {
      width: #{$size-input-3};
    }
    &--medium-width {
      width: #{$size-input-4};
    }
    &--small {
      padding: calc(2 * #{$spacer-xxx-small});
    }
  }
}
