@use '../utilities/mixins' as *;
@use '../theme' as *;

.form-intro {
  .mt-button {
    margin-top: var(--spacer-small);
  }
}

.form-intro-module {
  @include card-article;

  background-color: var(--color-mt-white);

  > :first-child {
    display: flex;
    align-items: center;
    gap: var(--spacer-xx-small);
    &::before {
      content: var(--icon-task);
      display: inline-block;
      height: 22px;
    }
  }
}
@media print {
  .form-intro-module {
    > :first-child {
      &::before {
        transform: scale(0.7);
      }
    }
  }
}
