@use '../color-tokens' as *;
@use '../theme' as *;

$step-ring-size: 2.125rem;

.mt-ol.steps {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacer-xx-small);
  counter-reset: step;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  .mt-li {
    display: flex;
    align-items: center;
    margin-top: 0;
    font-size: $font-size-small;
    & + .mt-li {
      margin-top: 0;
    }

    &:before {
      margin-right: 0;
      display: inline-flex;
      border: $border-width-regular dotted var(--steps-bg);
      counter-increment: step;
      content: counter(step);
      background-color: transparent;
      border-radius: 50%;
      width: $step-ring-size;
      height: $step-ring-size;
      align-items: center;
      justify-content: center;
      transition: background-color 0.5s linear;
    }

    &:not(:last-of-type):after {
      content: var(--icon-carret-right);
      margin-left: var(--spacer-xx-small);
      height: 1rem;
      display: inline-block;
    }

    &.steps__complete:before {
      color: var(--steps-color);
      background-color: var(--steps-bg);
    }
    &.steps__current:before {
      border-style: solid;
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    .mt-li {
      &:before {
        margin-right: var(--spacer-xx-small);
      }
    }
  }
}
