@use '../theme';
@use '../global/icon' as *;
@use '../color-tokens' as *;
@use '../utilities/mixins' as *;

$grid-1-col-width: calc((#{theme.$main-width}) / 12);
$sidebar-width-expanded: calc((#{$grid-1-col-width}) * 5);
$main-width-expanded: calc((#{$grid-1-col-width}) * 7);

$width-sidebar-closed: 3.5rem; //56px;
$width-sidebar-expanded: min(#{$sidebar-width-expanded}, 30rem);
$mobile-menu-height: 4rem;
$mobile-menu-extra-height: calc($mobile-menu-height + 2rem);
$chapter-title-link-width: 75%;
$chapter-button-menu-width: 25%;

.layout-with-sidebar {
  position: relative;

  .mt-aside {
    background-color: var(--color-primary);
    //height: $mobile-menu-height;
    //min-height: $mobile-menu-height;
    max-height: 5rem;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //height: $mobile-menu-height;
  //height: auto;
  overflow: hidden;
  padding: var(--spacer-xxx-small) var(--spacer-xx-small);
  background-color: var(--color-primary);
  width: 100%;

  &.no-js {
    padding: var(--spacer-xxx-small) var(--spacer-xx-small);

    .mt-link {
      margin-right: 0;
    }
  }

  .mt-link {
    @include focus-outline();
    @include disabled;
    color: var(--color-mt-white);
    width: $chapter-title-link-width;
    margin-right: var(--spacer-xxx-small);
    font-size: theme.$font-size-small;
    line-height: 140%;
  }

  &[aria-expanded='true'] {
    background-color: var(--chapter-menu-active-on-dark);
    color: var(--color-primary);

    .mt-link {
      color: var(--color-primary);
    }
  }

  .mt-button--unstyled {
    height: theme.$button-min-height;
    width: $chapter-button-menu-width;
    align-items: center;
    justify-content: flex-end;

    &.show-menu {
      background-color: var(--color-primary);
      border: theme.$border-width-regular solid transparent;

      &:focus {
        border: theme.$border-width-regular solid var(--body-background);
      }

      &[aria-expanded='true'] {
        background-color: var(--chapter-menu-active-on-dark);
        color: var(--color-primary);
        border: theme.$border-width-regular solid var(--chapter-menu-active-on-dark);

        &:focus {
          border: theme.$border-width-regular solid var(--color-primary);
        }
      }
    }
  }
}

.no-js.layout-with-sidebar {
  .mt-aside {
    position: relative;
    height: auto;

    .mobile-menu {
      padding: var(--spacer-xxx-small) var(--spacer-xx-small);
      .mt-link {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

.layout-with-sidebar {

  .disclosure {
    .disclosure-header,
    .disclosure-panel {
      grid-column: 1 / span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

    .disclosure-header {
      > .title {
        grid-column: 1 / span 11;
      }
    }

    .disclosure-panel {
      > *:not(.disclosure) {
        grid-column: 1 / span 12;
      }
    }
  }
}

// mobile layout
.has-js.layout-with-sidebar {

  .mt-aside {
    position: sticky;
    top: 0;
    z-index: var(--z-index-dropdown);
    width: 100%;
    //height: $mobile-menu-height;
    height: 5rem;
    transition: width 0.001s ease, max-height 0.3s ease;

    //&.extra-height {
    //  height: $mobile-menu-extra-height;
    //
    //  .mobile-menu {
    //    height: $mobile-menu-extra-height;
    //  }
    //}
    &.fixed {
      position: fixed;
    }
    &.expanded {
      width: 100%;
      height: 100vh;
      max-height: 100vh;
      overflow-y: auto;
    }
  }
}

// tablet to desktop
@media screen and (min-width: theme.$breakpoint-large) {
  .layout-with-sidebar {
    overflow: hidden;

    .article-page {
      > * {
        grid-column: 3 / span 8;
      }
    }

    &.has-js {
      .mt-aside {
        position: initial;
      }
    }

    //level 1
    .in-other-content {
      > .mt-h1 {
        display: grid;

        &.heading-with-chapter {
          grid-column: 1 / span 12;
          grid-template-columns: repeat(12, 1fr);

          > .chapter-number {
            margin-left: var(--chapter-indent);
            grid-column: 1 / span 2;
          }

          > .title {
            grid-column: 3 / span 8;
          }
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: theme.$breakpoint-xx-large) {
  .layout-with-sidebar {
    position: relative;

    &.has-js {
      .mt-aside {
        top: 0;
        left: 0;
        position: static;
        width: $width-sidebar-closed;
        overflow: visible;
        height: 100vh;
        max-height: 100vh;
        transition: width 0.3s ease, height 0.3s ease;

        //&.extraHeight {
        //  height: auto;
        //}

        &.expanded {
          width: $width-sidebar-expanded;
          height: 100vh;
        }

        .btn-open {
          border: theme.$border-width-large solid transparent;
            &:focus {
              border: theme.$border-width-large solid var(--mt-button-no-primary-border-focus-shadow);
              box-shadow: none;
            }
        }
      }
    }

    &.has-js,
    &.no-js {
      display: flex;
    }
  }
  .container {
    --chapter-indent: var(--spacer-small);

    &.menu-is-expanded {
      --breadcrumbs-col: 3 / span 7;
      width: 100%;

      .breadcrumbs {
        grid-column: var(--breadcrumbs-col);
      }
    }
  }
}

//extra large desktop
@media screen and (min-width: theme.$breakpoint-xxx-large) {
  .layout-with-sidebar {
    --content-col: 3 / span 8;

    .container {
      width: theme.$main-width;

      .chapter-navigation.col-3-span-8 {
        grid-column: var(--content-col);
      }

      &.menu-is-expanded {
        --chapter-indent: var(--spacer-xx-large);

        width: calc(#{theme.$main-width});
        margin-right: 20%;
      }
    }
  }
}

.closed-label {
  color: white;
  font-size: theme.$font-size-h3;
  transform: rotate(180deg);
  width: max-content;
  line-height: 2rem;
  writing-mode: vertical-rl;
}

.btn-open {
  padding-top: var(--spacer-small);
  gap: var(--spacer-small);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media print {
  .has-js.layout-with-sidebar {
    display: flex;
    flex-direction: column;

    .mt-aside {
      position: initial;
      background-color: transparent;
      color: var(--color-mt-text-dark);

      a {
        color: var(--color-mt-text-dark);
      }
    }
  }
}
