@use '../theme';
@use '../global/icon' as *;
@use '../color-tokens' as *;

$grid-1-col-width: calc((#{theme.$main-width}) / 12);
$sidebar-width-expanded: calc((#{$grid-1-col-width}) * 5);
$main-width-expanded: calc((#{$grid-1-col-width}) * 7);

$width-sidebar-closed: 3.5rem; //56px;
$width-sidebar-expanded: min(#{$sidebar-width-expanded}, 30rem);
$mobile-menu-height: 3rem;

.mt-aside {
  background-color: var(--color-primary);
  color: white;
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  height: $mobile-menu-height;
  overflow: hidden;
  transition: height 0.3s ease;
  border-top: theme.$border-width-large solid var(--color-primary);
  border-bottom: theme.$border-width-large solid var(--color-primary);
  position: sticky;
  top: 0;

  button {
    padding-inline: var(--spacer-xx-small);
    font-size: theme.$font-size-small;
    line-height: theme.$font-size-small;

    &.show-menu {
      background-color: var(--color-primary);
      color: white;
      width: 100%;
      margin-right: 0;
      border: theme.$border-width-regular solid transparent;
      &:focus {
        border: theme.$border-width-regular solid var(--body-background);
      }
      &[aria-expanded='true'] {
        background-color: var(--chapter-menu-active-on-dark);
        color: var(--color-primary);
        border: theme.$border-width-regular solid var(--chapter-menu-active-on-dark);
        &:focus {
          border: theme.$border-width-regular solid var(--body-background);
        }
      }
    }
  }
}
.no-js.layout-with-sidebar {
  .mt-aside {
    margin-top: -0.6rem;
    .aside-header {
      h2 {
        padding-top: var(--spacer-xx-small);
      }
    }
  }
}
.layout-with-sidebar {
  .disclosure {
    .disclosure-header,
    .disclosure-panel {
      grid-column: 1 / span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    .disclosure-header {
      > .title {
        grid-column: 1 / span 11;
      }
    }
    .disclosure-panel {
      > *:not(.disclosure) {
        grid-column: 1 / span 12;
      }
    }
  }
}

// mobile layout
.has-js.layout-with-sidebar {
  .mt-aside {
    top: $mobile-menu-height;
    position: sticky;
    width: 5.8125rem;
    height: 0;
    overflow: hidden;
    transition: width 0.3s ease, height 0.3s ease, top 0.3s ease;

    &.expanded {
      width: 100%;
      height: auto;
      z-index: var(--z-index-dropdown);
    }

    .aside-header {
      button {
        display: none;
      }
    }
  }
}

// tablet to desktop
@media screen and (min-width: theme.$breakpoint-large) {
  .layout-with-sidebar {
    overflow: hidden;

    .article-page {
      > * {
        grid-column: 3 / span 8;
      }
    }
    &.no-js {
      .mt-aside {
        margin-top: -1.25rem;
      }
    }
    &.has-js {
      .mt-aside {
        top: calc(
          #{theme.$height-header-regular} + #{$mobile-menu-height} + #{theme.$border-width-regular}
        );
      }
    }
    //level 1
    .in-other-content {
      > h1 {
        display: grid;
        &.heading-with-chapter {
          grid-column: 1 / span 12;
          grid-template-columns: repeat(12, 1fr);
          > .chapter-number {
            margin-left: var(--chapter-indent);
            grid-column: 1 / span 2;
          }
          > .title {
            grid-column: 3 / span 8;
          }
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: theme.$breakpoint-xx-large) {
  .mobile-menu {
    height: 0;
    width: 0;
  }
  .layout-with-sidebar {
    &.has-js {
      .mt-aside {
        .mt-button--unstyled {
          border: theme.$border-width-large solid transparent;
          &:focus {
            border: theme.$border-width-large solid var(--mt-button-no-primary-border-focus-shadow);
            box-shadow: none;
          }
        }
        .aside-header {
          position: relative;
          button {
            display: block;
            position: absolute;
            top: var(--spacer-xx-small);
            right: var(--spacer-xx-small);
          }
        }
      }
    }
    &.no-js {
      aside {
        margin-top: 0;
      }
    }
    &.has-js,
    &.no-js {
      display: flex;

      .mt-aside {
        position: static;
        overflow: visible;
        top: 0;
        height: auto;

        h2 {
          margin-top: var(--spacer-xx-small);
        }
      }

      .mt-aside.expanded {
        width: $width-sidebar-expanded;
      }

      .mt-aside:not(.expanded) {
        width: $width-sidebar-closed;
      }
    }
  }
  .container {
    --chapter-indent: var(--spacer-small);

    &.menu-is-expanded {
      --breadcrumbs-col: 3 / span 7;
      width: 100%;

      .breadcrumbs {
        grid-column: var(--breadcrumbs-col);
      }
    }
  }
}
//extra large desktop
@media screen and (min-width: theme.$breakpoint-xxx-large) {
  .layout-with-sidebar {
    --content-col: 3 / span 8;
    .container {
      width: theme.$main-width;
      .chapter-navigation.col-3-span-8 {
        grid-column: var(--content-col);
      }
      &.menu-is-expanded {
        --chapter-indent: var(--spacer-xx-large);

        width: calc(#{theme.$main-width});
        margin-right: 20%;
      }
    }
  }
}

.closed-label {
  color: white;
  font-size: theme.$font-size-h3;
  transform: rotate(180deg);
  width: max-content;
  line-height: 2rem;
  writing-mode: vertical-rl;
}

.btn-open {
  padding-top: var(--spacer-small);
  gap: var(--spacer-small);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media print {
  .has-js.layout-with-sidebar {
    display: flex;
    flex-direction: column;
    .mt-aside {
      position: initial;
      background-color: transparent;
      color: var(--color-mt-text-dark);
      a {
        color: var(--color-mt-text-dark);
      }
    }
    .mobile-menu {
      display: none;
    }
  }
}
