@use '../utilities/mixins' as *;
@use '../theme' as *;

.legal-text {
  @include card-article;
  & {
    --legal-text-border-color: var(--color-mt-granskog);
  }

  > :first-child {
    display: flex;
    margin: 0;
    gap: var(--spacer-xx-small);
    border-bottom: $border-width-regular solid var(--legal-text-border-color);
    padding-bottom: var(--fds-spacing-5);
    align-items: flex-start;
    &::before {
      content: var(--icon-legislation-large);
      display: inline-block;
    }
  }
}
