@use '../utilities/mixins' as *;
@use '../theme' as *;

.legal-text {
  @include card-article;

  background-color: var(--colored-card-bg);

  .mt-link.forward-arrow {
    &::after {
      display: none;
    }
  }

  > :first-child {
    display: flex;
    margin: 0;
    gap: var(--spacer-xx-small);
    &::before {
      content: var(--icon-legislation-large);
      display: inline-block;
      height: 22px;
    }
  }
}
