@use '../theme' as *;
@use '../utilities/mixins' as *;

.legal-collection {
  @include article-spacing;

  section > .mt-details,
  section + .disclosure {
    margin-top: var(--spacer-small);
  }
  .intro {
    font-size: $font-size-medium; // 22 px
    @media only screen and (min-width: $breakpoint-large) {
      font-size: $font-size-label;
    }
  }

  &__border-top {
    border-top: $border-width-regular solid var(--list-border);
    margin-top: var(--spacer-small);
  }

  @media only screen and (min-width: $breakpoint-large) {
    > * {
      grid-column: 3 / span 6;
    }
  }
}
