@use '../theme' as *;

.mt-dl {
  --spacer: 1rem;

  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 2rem;
  + dl {
    margin-top: var(--spacer);
  }
  dt {
    font-weight: bold;
  }
  &.summary-list {
    --spacer: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / span2;
    gap: 0;

    dt {
      &:first-child {
        margin-top: 0;
      }
      margin-top: var(--spacer-x-small);
      line-height: 140%;
    }

    @media only screen and (min-width: $breakpoint-large) {
      grid-template-columns: 5fr 7fr;
      gap: var(--spacer-x-small);

      dt {
        margin-top: 0;
      }
    }
  }

  &.custom-borders {
    --spacer: var(--spacer-xx-small);
    --border: var(--border-width-small) solid var(--color-mt-furu);

    gap: 0;
    display: flex;
    flex-direction: column;

    dt {
      padding-top: var(--spacer);
      padding-right: var(--spacer);
    }
    dd {
      padding-bottom: var(--spacer);
    }

    dt.border-top {
      border-top: var(--border);
    }

    @media only screen and (min-width: $breakpoint-large) {
      display: grid;
      dt,
      dd {
        padding-top: var(--spacer);
        padding-bottom: var(--spacer);
      }

      .border-top + dd {
        padding-right: var(--spacer);
        border-top: var(--border);
      }
    }
  }
}

.mt-ol.list-unstyled,
.mt-ul.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.mt-ul,
.mt-ol {
  li {
    line-height: 140%;
    & + li {
      margin-top: var(--spacer-xxx-small);
    }
  }
  &.no-space-top {
    margin-top: 0;

    li {
      margin-top: 0;
    }
  }
  &.no-space-between {
    li {
      margin-top: 0;
    }
  }
  &.lines-between {
    --border-color: var(--list-border);
    --border-width: #{$border-width-regular};
    --border-style: solid;
    --border: var(--border-width) var(--border-style) var(--border-color);

    > li {
      border-bottom: var(--border);
    }

    &.lines-top {
      > li:first-child {
        border-top: var(--border);
      }
      &.two-col {
        @media only screen and (min-width: $breakpoint-large) {
          > li:nth-child(-n + 2) {
            border-top: var(--border);
          }
        }
      }
    }
    &.lines-top-only-desktop {
      @media only screen and (min-width: $breakpoint-large) {
        li:first-child {
          border-top: var(--border);
        }
      }
      &.two-col {
        @media only screen and (min-width: $breakpoint-large) {
          li:nth-child(-n + 2) {
            border-top: var(--border);
          }
        }
      }
    }
  }
}

.mt-ol.list {
  > li {
    border-top: $border-width-small solid var(--list-border);
    margin-top: 0;
    padding: var(--spacer-x-small);
    &:last-child {
      border-bottom: var(--border-width-small) solid var(--list-border);
    }
    &:nth-child(even) {
      background-color: var(--color-mt-white);
    }
    ul {
      margin-top: 0;
    }
  }
}

.li-center-vertical {
  > * {
    margin: auto;
  }
}
