@use '../utilities/mixins' as *;
// custom Openlayer style
.ol-zoom-in {
  @include focus-outline();
}
.ol-zoom-out {
  @include focus-outline();
}
.ol-attribution {
  button[type='button'] {
    @include focus-outline();
  }
}
// END custom Openlayer style

.mt-map-wrapper {
  height: 30rem;
  width: 100%;
}
.mt-map {
  @include focus-outline();
  width: 100%;
  height: 100%;
  .ol-popup {
    background-color: var(--color-mt-white);
    color: var(--color-text);
    padding: var(--spacer-xxx-small);
  }
}

.mt-link.map-skiplink {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  &:focus {
    @include focus-outline();
    z-index: 1;
    clip: auto;
    height: auto;
    width: auto;
    background-color: var(--color-mt-white);
    padding: var(--spacer-xxx-small);
  }
}
