@use '../utilities/mixins' as *;
@use '../theme' as *;

@mixin map-button-hover {
  &:hover {
    background-color: var(--mt-button-primary-bg-hover);
    outline: none;
  }
}
@mixin map-button {
  width: $button-min-width;
  height: $button-min-height;
  border-radius: $border-radius;
  background-color: var(--color-mt-white);
  border: $border-width-regular solid var(--ol-subtle-foreground-color);
}
@mixin map-button-focus {
  border: $border-width-large solid var(--ol-subtle-foreground-color);
}
@mixin map-spacer-variables {
  --distance-from-edge: var(--spacer-xxx-small);
  --distance-from-bottom: var(--spacer-x-small);
  --space-between-buttons: var(--spacer-xxx-small);
}
// custom Openlayer style
.ol-viewport {
  --map-button-color: var(--color-mt-granskog);
  --ol-subtle-foreground-color: var(--color-mt-granskog);
  @include map-spacer-variables;

  .ol-control {
    button[type='button'] {
      @include map-button-hover;
      @include map-button;
      color: var(--map-button-color);
      outline: none;

      margin: 0;
      position: relative;

      &:focus,
      &:focus-visible {
        @include map-button-focus;
      }
      &.ol-zoom-in {
        position: relative;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:focus {
          @include map-button-focus;
          & + button {
            &:before {
              height: 0;
            }
          }
        }
      }
      &.ol-zoom-out {
        --space-border: var(--spacer-xxx-small);
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        &:before {
          content: '';
          width: calc(
            #{$button-min-width} - var(--border-width-regular) - var(--border-width-regular) - var(
                --space-border
              ) - var(--space-border)
          );
          height: $border-width-small;
          background: var(--map-button-color);
          position: absolute;
          top: 0;
          left: var(--space-border);
        }
        &:focus {
          @include map-button-focus;
          &:before {
            width: $button-min-width;
            height: 0;
          }
        }
      }
    }
  }
  .ol-control.ol-zoom {
    top: unset;
    left: unset;
    bottom: calc(var(--distance-from-bottom) + var(--space-between-buttons));
    right: var(--distance-from-edge);
  }
  .ol-control.ol-attribution {
    right: 0;
    bottom: 0;
    ul {
      li {
        display: list-item;
        text-align: left;
      }
    }
  }
  .ol-control.geolocation-button {
    right: var(--distance-from-edge);
    bottom: calc(
      var(--distance-from-bottom) + (#{$button-min-height} * 2) + var(--space-between-buttons) +
        var(--space-between-buttons)
    );
  }
}

// END custom Openlayer style

.mt-map-wrapper {
  height: 30rem;
  width: 100%;
}
.mt-map {
  @include focus-outline();
  @include map-spacer-variables;
  width: 100%;
  height: 100%;

  &.fullscreen {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .ol-popup {
    background-color: var(--color-mt-white);
    color: var(--color-text);
    padding: var(--spacer-xxx-small);
    border-radius: $border-radius;
  }
  .mt-label.map-toggle-label {
    @include map-button-hover;
    @include map-button;
    display: grid;
    align-items: center;
    justify-items: center;
    svg {
      width: 50%;
      height: 50%;
      #tracker-icon {
        fill: var(--map-button-color);
      }
    }
  }
  .mt-input.map-toggle-input {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;

    &:focus + .mt-label.map-toggle-label {
      --focus-width: #{$border-width-regular};
      --focus-width-minus: calc(-1 * #{$border-width-regular});
      --focus-color: var(--color-mt-granskog);
      box-shadow:
        inset var(--focus-width) var(--focus-width) var(--focus-color),
        inset var(--focus-width) var(--focus-width-minus) var(--focus-color),
        inset var(--focus-width-minus) var(--focus-width-minus) var(--focus-color),
        inset var(--focus-width-minus) var(--focus-width) var(--focus-color);
    }
    &:checked {
      & + .mt-label.map-toggle-label {
        @include map-button-hover;
        background-color: var(--map-button-color);
        svg {
          #tracker-icon {
            fill: var(--color-mt-white);
          }
        }
      }
      &:focus {
        & + .mt-label.map-toggle-label {
          --focus-width: calc(#{$border-width-large} - #{$border-width-small});
          --focus-width-minus: calc(-1 * (#{$border-width-large} - #{$border-width-small}));
          --focus-color: var(--color-mt-white);
          box-shadow:
            inset var(--focus-width) var(--focus-width) var(--focus-color),
            inset var(--focus-width) var(--focus-width-minus) var(--focus-color),
            inset var(--focus-width-minus) var(--focus-width-minus) var(--focus-color),
            inset var(--focus-width-minus) var(--focus-width) var(--focus-color);
          border-width: $border-width-small;
        }
      }
    }
  }
  .ol-control.geolocation-button {
    .mt-input.map-toggle-input + .mt-label.map-toggle-label {
      &:hover {
        background-color: var(--mt-button-primary-bg-focus);
        svg {
          #tracker-icon {
            fill: var(--color-mt-white);
          }
        }
      }

      @media only screen and (min-width: $breakpoint-large) {
        &:hover {
          background-color: var(--mt-button-primary-bg-hover);
          svg {
            #tracker-icon {
              fill: var(--color-mt-granskog);
            }
          }
        }
      }
    }
  }
  .map-activate-wrapper {
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    bottom: var(--distance-from-bottom);

    .mt-label.map-toggle-label {
      width: fit-content;
      padding: var(--spacer-xxx-small) var(--spacer-xx-small);
      grid-template-columns: min-content auto;
      line-height: inherit;
    }

    .mt-input.map-toggle-input {
      &:checked {
        & + .mt-label.map-toggle-label {
          color: var(--color-mt-white);
          &:hover {
            background-color: var(--mt-button-primary-bg-focus);
            color: var(--color-mt-white);
          }
        }
      }
    }
  }
}

.mt-link.map-skiplink {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  &:focus {
    @include focus-outline();
    z-index: 1;
    clip: auto;
    height: auto;
    width: auto;
    background-color: var(--color-mt-white);
    padding: var(--spacer-xxx-small);
  }
}
