@use '../theme' as *;
@use '../global/links' as *;
@use '../utilities/mixins' as *;

.menu-point {
  @include focus-outline();
  @include disabled;
  --svg-color: var(--mt-button-neutral-color);
  --icon-padding: var(--spacer-xxx-small);
  --title-gap: var(--spacer-xx-small);
  --bg-color: var(--color-mt-white);

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: var(--icon-padding);
  grid-template-rows: min-content min-content;
  grid-row-gap: var(--title-gap);
  grid-template-areas: 'icon heading' 'empty keywords';
  align-items: center;
  color: var(--color-text);
  background-color: var(--bg-color);
  height: 100%;
  text-decoration: none;

  .svg-wrapper,
  .mt-img {
    grid-area: icon;
    align-self: start;
    justify-self: center;
    height: var(--menu-point-icon-height);
    svg {
      height: inherit;
      width: inherit;
      circle {
        fill: var(--menu-point-svg-circle);
      }
      path {
        fill: var(--svg-color);
      }
    }
  }

  .mt-h2, .mt-h3 {
    grid-area: heading;
    padding-left: 0;
    text-decoration: underline;
  }
  p {
    grid-area: keywords;
  }

  &:hover {
    --bg-color: var(--color-mt-green-300);
    transition: background-color $transition-ms-300 $cubic-bezier-easing;
  }
  &:active {
    --bg-color: var(--color-mt-green-400);
    transition: background-color $transition-ms-100 ease;
  }
}
