@use '../theme' as *;
@use '../global/links' as *;
@use '../utilities/mixins' as *;

.menu-point {
  @include focus-outline();
  @include disabled;
  @include background-color-on-hover(var(--mt-link-primary-bg)) {
    .svg-wrapper {
      svg {
        circle {
          fill: var(--menu-point-svg-circle-on-hover);
          @media (prefers-reduced-motion: no-preference) {
            transition: fill $transition-ms-300 ease;
          }
        }
      }
    }
  }
  @include background-color-on-active(var(--mt-link-primary-bg-hover));
  --svg-color: var(--mt-button-neutral-color);
  --icon-padding: var(--spacer-xxx-small);
  --title-gap: var(--spacer-xx-small);

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content min-content;
  align-items: center;
  grid-column-gap: var(--icon-padding);
  grid-row-gap: var(--title-gap);
  grid-template-areas: 'icon heading' 'empty keywords';
  color: var(--color-links);
  background-color: var(--color-mt-white);
  height: 100%;
  text-decoration: none;

  .svg-wrapper,
  .mt-img {
    grid-area: icon;
    height: var(--menu-point-icon-height);
    svg {
      height: inherit;
      width: inherit;
      circle {
        fill: var(--menu-point-svg-circle);
        @media (prefers-reduced-motion: no-preference) {
          transition: fill $transition-ms-300 ease;
        }
      }
      path {
        fill: var(--svg-color);
      }
    }
  }

  .menu-point-heading {
    grid-area: heading;
    padding-left: 0;
    text-decoration: underline;
  }
  p {
    grid-area: keywords;
  }
}
