@use '../theme' as *;
@use '../color-tokens' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.multiselect {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;

  .actions {
    align-items: center;
    display: flex;
    flex: 1;
    min-width: 15rem;
    border: $border-width-small solid var(--form-border-color);
    border-radius: $border-radius;
    background-color: var(--color-mt-new-white);
    padding: var(--spacer-xxx-small) var(--spacer-xx-small);
    align-content: center;

    &:focus-within {
      border-radius: $border-radius $border-radius 0 0;
      outline: $border-width-large solid var(--multiselect-focus-outline-color);
      z-index: 1;
    }
    &:hover {
      @include form-inputs-hover-style;
    }
  }

  input {
    border: none;
    margin: 0;
    outline: none;
    line-height: 2;
    padding: 0;
    width: 100%;

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }
  .down-arrow {
    content: var(--icon-carret-on-light);
    margin-top: 0.3rem;

    /* Prevent annoying behavior with onblur */
    position: absolute;
    pointer-events: none;
    left: calc(100% - 22px - var(--spacer-xx-small)); // 100% - content width - padding right
  }
}
.token-label {
  margin-top: var(--spacer-xx-small);
}
.mt-ul.token-wrapper {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-top: 0;
  }
}

.multiselect:hover .dropdown-arrow path {
  fill: hsl(0, 0%, 50%);
}

.options {
  left: 0;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  max-height: 30vh;
  overflow: auto;
  padding-inline-start: 0;
  position: absolute;
  top: calc(100% + 0.0625rem);
  width: 100%;
  padding: var(--spacer-xxx-small);
  background-color: var(--color-mt-white);
  border-left: $border-width-small solid var(--form-border-color);
  border-right: $border-width-small solid var(--form-border-color);
  border-bottom: $border-width-small solid var(--form-border-color);
  border-radius: 0 0 $border-radius $border-radius;

  .option {
    background-color: var(--color-mt-white);
    cursor: pointer;
    padding: var(--spacer-xxx-small);
    position: relative;
    margin-top: 0;
    border-radius: $border-radius;
    display: flex;
    align-content: center;
    gap: var(--spacer-xx-small);
    &:before {
      content: var(--multiselect-option-before);
      height: 1.6rem;
      display: inline-block;
      align-self: center;
    }
    &:last-child {
      border-bottom-left-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
    }
    &:not(.selected):hover {
      background-color: var(--multiselect-option-hover-bg);
    }
    &.divider {
      border-radius: $border-radius $border-radius 0 0;
      border-bottom: $border-width-small solid var(--form-border-color);
    }
    &.selected {
      &:before {
        content: var(--multiselect-option-before-selected);
      }
    }
    .active {
      background-color: hsl(214, 17%, 88%);
    }
    &.active,
    &:hover {
      background-color: var(--multiselect-option-hover-bg);
    }
  }
}

.hidden {
  display: none;
}
