@use '../utilities/mixins' as *;
@use '../theme' as *;
@use '../global/icon' as *;

.notice {
  --notice-padding: var(--spacer-x-small);
  font-size: $font-size-small;
  padding: var(--notice-padding);
  background-color: #fff;

  @media only screen and (min-width: $breakpoint-large) {
    font-size: inherit;
  }

  @include xp-html-area;

  :first-child + h2 {
    margin-top: 0;
  }

  &.important > :first-child,
  &.important > .inclusively-hidden + * {
    margin-top: 0;

    &::before {
      // 20 x 20 size image
      content: var(--icon-important);
      width: 1.4rem;
      height: 1.2rem;
      float: left;
      margin-top: -0.12rem;
      margin-right: var(--spacer-xxx-small);

      @media only screen and (min-width: $breakpoint-large) {
        // 30 x 30 size image
        content: var(--icon-important-large);
        width: 2rem;
        height: 2rem;
        margin-top: -0.25rem;
      }
    }
  }

  ul,
  ol {
    margin-top: var(--spacer-xxx-small);
    padding-left: var(--spacer-x-small);

    li,
    li + li {
      margin-top: 0;
    }
  }
}
