@use '../theme' as *;
@use '../global/links' as *;

.page-summary {
  --gap: var(--spacer-xx-small);
  --pagesummary-border: #{$border-width-regular} solid var(--list-border);

  display: grid;
  grid-template-areas: 'heading change .';
  grid-template-columns: auto max-content 1fr;
  column-gap: var(--gap);
  margin-top: var(--spacer-x-small);

  + .page-summary {
    margin-top: 0;
  }
  h3,
  .mt-button {
    align-self: center;
    margin-bottom: var(--fds-spacing-2);
  }
  h3 {
    grid-area: heading;
  }
  .mt-button {
    grid-area: change;
  }
  .summary-list {
    border-top: var(--pagesummary-border);
    padding-top: var(--gap);
    dd {
      white-space: pre-wrap;
    }
  }
}
