@use '../theme' as *;
@use '../global/links' as *;

.page-summary {
  --gap: var(--spacer-xx-small);
  --pagesummary-border: #{$border-width-regular} solid var(--list-border);
  --heading-padding-bottom: var(--spacer-xxx-small);
  --space-section: var(--spacer-small);

  display: grid;
  grid-template-areas: 'heading link .';
  grid-template-columns: max-content max-content 1fr;
  column-gap: var(--gap);
  margin-top: var(--spacer-x-small);

  + .page-summary {
    margin-top: 0;
  }

  .mt-link {
    @extend .mt-link;
    grid-area: link;
    border-radius: $border-radius;
    color: var(--mt-button-flat-color);
    padding-left: var(--spacer-x-small);
    padding-right: var(--spacer-x-small);
    align-self: end;
  }

  h3 {
    grid-area: heading;
    align-self: center;
  }
  .summary-list {
    border-top: var(--pagesummary-border);
    padding-top: var(--gap);
    dd {
      white-space: pre-wrap;
    }
  }
}
