@use '../theme' as *;
@mixin meta-common {
  font-size: $font-size-small;
  dt {
    font-weight: $font-weight-normal;
    &::after {
      content: ':';
    }
  }
}
.mt-dl.meta {
  @include meta-common;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacer-xxx-small);

  @media only screen and (min-width: $breakpoint-large) {
    display: flex;

    :nth-child(3) {
      padding-left: var(--spacer-xxx-small);
      border-left: $border-width-small solid var(--list-border);
    }
  }

  dt {
    gap: 0;
    &::before {
      margin-right: $icon-gap;
    }
  }
  dd {
    margin-right: var(--spacer-medium);
    font-weight: normal;

    @media only screen and (min-width: $breakpoint-large) {
      margin-right: 0;
    }
  }
}
.mt-dl.meta-rows {
  @include meta-common;
  display: block;
  .mt-dt {
    float: left;
    clear: left;
    margin-right: var(--spacer-xxx-small);
  }
}
