@use '../color-tokens' as *;
@use '../theme' as *;

[type='checkbox'],
[type='radio'] {
  width: 1em;
  height: 1em;
  margin: 0;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: $border-width-small solid var(--form-border-color);
  appearance: none;
  float: left;
  &:disabled,
  &[disabled] {
    pointer-events: none;
    filter: none;
    opacity: 0.5;

    ~ .mt-label {
      opacity: 0.5;
    }
  }
}

[type='radio'] {
  border-radius: 50%;
}

[type='radio']:checked {
  background-image: var(--radio-checked-img);
}

[type='checkbox'] {
  &:checked {
    background-color: var(--color-primary);
    background-image: var(--checkbox-checked-img);
  }

  &:indeterminate {
    background-image: var(--checkbox-indeterminate-img);
    background-color: var(--color-primary);
  }
}
