@use '../theme' as *;

.search-wrap {
  display: flex;

  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  input[type='search'] {
    position: inherit;
  }

  button.icon--search-before-beige {
    flex: content;
    margin: 0;
    width: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: $button-padding-lr;
    padding-right: $button-padding-lr;
    color: var(--color-mt-background);
    line-height: initial;
    z-index: 1;
  }

  .input[type='search'].hasButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
    margin: 0;
    padding-right: calc($button-min-width + var(--spacer-xxx-small));
    &:focus {
      z-index: 2;
    }
  }

  .search-wrap-inner {
    position: relative;
    width: 100%;

    .button--search-clear {
      position: absolute;
      right: var(--spacer-xxx-small);
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      z-index: 2;
    }
  }
}
