@use '../theme' as *;

.search-wrap {
  display: flex;

  .mt-input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  .mt-input[type='search'] {
    position: inherit;
  }

  button.icon--search-after-primary {
    flex: content;
    word-break: normal;
    min-width: auto;
    margin: 0;
    width: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: $button-padding-lr;
    padding-right: $button-padding-lr;
    line-height: initial;
    z-index: 1;
  }

  .mt-input[type='search'].hasButton {
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0 none;
    margin: 0;
    padding-right: calc($button-min-width + var(--spacer-xxx-small));
    &:focus {
      z-index: 2;
    }
  }

  .search-wrap-inner {
    position: relative;
    width: 100%;

    .mt-button--search-clear {
      height: calc(100% - ($border-width-small * 2));
      aspect-ratio: 1 / 1;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      z-index: 2;
      border-radius: 0;

      &::after {
        content: var(--icon-x);
      }

      &:hover {
        border: none;
        background: var(--mt-button-primary-bg-hover);
      }
    }
  }
}
