@use '../utilities/mixins' as *;
@use '../theme' as *;
@use '../global/links' as *;

.status {
  border: $border-width-small solid var(--color-mt-brown);
  border-radius: $border-radius;
  display: grid;
  padding: var(--spacer-x-small);
  grid-template-columns: minmax(0, min-content) auto;
  grid-template-areas: 'icon heading' 'text text' 'actions actions' 'link link' 'date date';

  &--no-border {
    border: none;
  }
  h1,
  h2,
  h3,
  h4 {
    grid-area: heading;
    overflow-wrap: anywhere;
  }

  a {
    // @extend .mt-link;
    grid-area: link;
    margin-top: var(--spacer-x-small);
  }

  dl {
    grid-area: date;
    margin-top: var(--spacer-xx-small);
  }

  .important {
    grid-area: icon;
    display: flex;
    align-items: flex-start;

    &::before {
      content: var(--icon-important-large);
      display: inline-block;
      margin-right: var(--spacer-xx-small);
      width: 2rem;
      height: 2rem;
    }
  }

  .text {
    grid-area: text;

    :first-child:not(h2):not(h3):not(h4) {
      margin-top: var(--spacer-x-small);
    }

    ul {
      li {
        margin-top: var(--spacer-xxx-small);
      }
    }
  }

  .action {
    grid-area: actions;
  }
}
