@use '../theme' as *;
@use '../utilities/mixins' as *;

.mt-details {
  --detail-margin: var(--spacer-xxx-small);
  --detail-padding: var(--spacer-xxx-small);
  --summary-margin-bottom: var(--spacer-xx-small);
  --border: #{$border-width-regular} solid var(--list-border);

  margin-top: var(--spacer-xxx-small);

  &:focus,
  &:focus-visible {
    box-shadow: $focus-box-shadow-no-outline;
  }
  &.full-width {
    width: auto;
  }
  &.with-border {
    & .mt-summary {
      border-bottom: var(--border);
    }
    & .summary-wrapper {
      margin-left: var(--detail-margin);
      padding-left: var(--detail-padding);
      border-left: var(--border);
    }
  }
  &.with-bold {
    & .mt-summary {
      font-weight: $font-weight-bold;
      display: inline-flex;
      align-items: center;
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
        font-size: $font-size-body;
        font-weight: $font-weight-bold;
      }
    }
  }

  &.with-icon {
    & .mt-summary {
      display: inline-flex;
      align-items: center;
      &::before {
        // blue sircle with § inside icon
        content: var(--icon-legislation);
        display: inline-block;
        margin-right: var(--spacer-xxx-small);
        height: 1.55rem;
      }
    }
  }

  .mt-summary {
    @include focus-outline();
    display: inline;
    line-height: 140%;
    color: var(--mt-button-neutral-border);
    list-style: none;
    cursor: pointer;
    > h3 {
      margin-top: 0;
    }
    &::after {
      content: var(--icon-carret-down-primary);
      display: inline-block;
      margin-left: var(--spacer-xxx-small);
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
  &[open] {
    .mt-summary {
      margin-bottom: var(--summary-margin-bottom);
      &::after {
        transform: rotateX(180deg);
      }
    }
    .summary-wrapper {
      @include xp-html-area;
    }
  }
}
