@use '../theme' as *;
@use '../utilities/mixins' as *;

.mt-details {
  --detail-margin: var(--spacer-xxx-small);
  --detail-padding: var(--spacer-xxx-small);
  --summary-margin-bottom: var(--spacer-xx-small);
  --border: #{$border-width-regular} solid var(--list-border);

  &:focus,
  &:focus-visible {
    box-shadow: $focus-box-shadow-no-outline;
  }
  &.full-width {
    width: auto;
  }
  &.with-border {
    & .mt-summary {
      border-bottom: var(--border);
    }
    & .summary-wrapper {
      margin-left: var(--detail-margin);
      padding-left: var(--detail-padding);
      border-left: var(--border);
    }
  }
  &.with-bold {
    & .mt-summary {
      font-weight: $font-weight-bold;
      align-items: center;
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
        font-size: $font-size-body;
        font-weight: $font-weight-bold;
      }
    }
  }

  &.with-icon {
    & .mt-summary {
      // blue circle with ยง inside icon
      @include apply-icon($icon: $icon-legislation, $position: after);
      display: flex;
      align-items: center;
      gap: var(--spacer-xx-small);
    }
  }

  .mt-summary {
    @include focus-outline();

    display: inline-flex;
    align-items: center;
    gap: var(--spacer-xxx-small);
    line-height: 140%;
    color: var(--mt-button-neutral-border);
    list-style: none;
    cursor: pointer;
    > h3 {
      margin-top: 0;
    }
    &::-webkit-details-marker {
      display: none;
    }
    &.mt-summary-icon {
      @include apply-icon($icon: $icon-carret-down-primary, $position: before);
    }
  }
  &[open] {
    .mt-summary {
      margin-bottom: var(--summary-margin-bottom);
      &::before {
        transform: rotateX(180deg);
      }
    }
    .summary-wrapper {
      @include children-spaced(var(--spacer-xxx-small));
      --space-section: var(--spacer-medium);
      --space-sub-section: var(--spacer-small);
      --space-content: var(--spacer-xx-small);
      > h2 {
        margin-top: var(--spacer-medium);
        &.inclusively-hidden {
          + h3 {
            margin-top: 0;
          }
        }
      }

      > h3,
      > h4 {
        margin-top: var(--spacer-x-small);
      }
      ul {
        padding-left: var(--spacer-xx-small);
        li {
          line-height: 140%;
        }
      }
    }
  }
}
