@use '../theme' as *;

table {
  font-size: $font-size-small;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  caption {
    margin-bottom: var(--spacer-xx-small);
    font-weight: $font-weight-bold;
    text-align: left;
  }
  &.responsive-table {
    margin-bottom: 0;
    width: 100%;
  }

  thead {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }

  tbody {
    tr {
      display: block;
      padding: var(--spacer-x-small);
      border-top: $border-radius-small solid var(--color-mt-beige-50);
      &:nth-child(odd) {
        background-color: var(--color-mt-white);
      }

      &:last-child {
        border-bottom: $border-radius-small solid var(--color-mt-beige-50);
      }
      td {
        display: flex;
        flex-direction: column;
        margin-top: var(--spacer-xx-small);
        &:first-child {
          margin-top: 0;
        }
        .responsive-table__heading {
          font-weight: $font-weight-bold;
        }
        &:last-child {
          border-bottom: 0;
        }
        &.text[role='cell'] {
          & > .responsive-table__heading + * {
            margin-top: 0;
          }
          ul {
            padding-left: 0;
          }
        }
      }
    }
  }
  @media only screen and (min-width: $breakpoint-large) {
    .responsive-table__heading {
      display: none;
    }
    thead {
      clip: auto;
      -webkit-clip-path: none;
      clip-path: none;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
      th {
        word-wrap: break-word;
        max-width: 1px;
        -webkit-hyphens: auto; /* iOS 4.2+ */
        -moz-hyphens: auto; /* Firefox 5+ */
        -ms-hyphens: auto; /* IE 10+ */
        hyphens: auto;
        border-top: $border-width-regular solid var(--color-mt-beige-50);
        border-bottom: $border-width-regular solid var(--color-mt-beige-50);
      }
      tr:first-child {
        background-color: var(--color-mt-light-beige);
      }
    }
    tbody {
      tr {
        display: table-row;
        td.text {
          display: table-cell;
        }
      }
    }

    th,
    td {
      text-align: left;
      border: $border-radius-small solid var(--color-mt-beige-50);
      padding: var(--spacer-xx-small);
      overflow-wrap: anywhere;
      vertical-align: text-top;
    }

    th {
      font-weight: $font-weight-bold;

      &.width-20 {
        width: 20%;
      }
      &.width-60 {
        width: 60%;
      }
    }

    tr {
      th:first-child,
      td:first-child {
        border-left: none;
      }
      th:last-child,
      td:last-child {
        border-right: none;
      }
    }
  }
}
