@use '../theme' as *;

.tags {
  --gap: var(--spacer-xxx-small);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  .mt-button {
    margin-right: 0;
  }
  .tag-list-item {
    margin-top: 0;
  }
  .tag-text {
    --tag-padding: 0.1em $button-padding-lr;
    border: $border-width-regular solid var(--color-mt-text-dark);
    border-radius: $border-radius;
    padding: var(--tag-padding);
    font-size: $font-size-small;
  }
  .lightblue {
    background-color: var(--color-mt-rationale-blue);
    border: var(--border-width-small) solid var(--color-mt-blue-medium);
  }
  .yellowgreen {
    background-color: var(--color-mt-yellowgreen-lighter);
    border: var(--border-width-small) solid var(--color-mt-yellowgreen);
  }
  .beige {
    background-color: var(--color-mt-light-beige);
    border: var(--border-width-small) solid var(--color-mt-beige);
  }
}
