@use '../theme' as *;

.tags {
  --gap: var(--spacer-xxx-small);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  .mt-button {
    margin-right: 0;
  }
  .tag-list-item {
    margin-top: 0;
  }
  .tag-text {
    --tag-padding: 0.1em $button-padding-lr;
    border: $border-width-regular solid var(--color-mt-text-dark);
    border-radius: $border-radius;
    padding: var(--tag-padding);
    font-size: $font-size-small;
  }
  .info {
    background-color: var(--tag-info-bg);
    border: var(--border-width-small) solid var(--tag-info-border);
  }
  .success {
    background-color: var(--tag-success-bg);
    border: var(--border-width-small) solid var(--tag-success-border);
  }
  .warning {
    background-color: var(--tag-warning-bg);
    border: var(--border-width-small) solid var(--tag-warning-border);
  }
  .error {
    background-color: var(--tag-error-bg);
    border: var(--border-width-small) solid var(--tag-error-border);
  }
  .neutral {
    background-color: var(--tag-neutral-bg);
    border: var(--border-width-small) solid var(--tag-neutral-border);
  }
}
