@use '../utilities/mixins' as *;
@use '../theme' as *;
@use '../global/links' as *;

.tasks {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-xx-small);
}

.task,
.highlighted-link {
  @include card-article;

  a {
    @extend .mt-link;
  }
  .title {
    display: flex;
    align-items: center;
    gap: var(--spacer-xx-small);

    &.task-icon {
      &::before {
        content: var(--icon-task);
        display: inline-block;
        height: #{$icon-size-x-large};
      }
    }
    &.warning-icon {
      &::before {
        content: var(--icon-warning);
        display: inline-block;
        height: #{$icon-size-x-large};
      }
    }
    &.info-icon {
      &::before {
        content: var(--icon-info);
        display: inline-block;
        height: #{$icon-size-x-large};
      }
    }
  }
}

@media print {
  .task,
  .highlighted-link {
    .title {
      &::before {
        transform: scale(0.7);
      }
    }
  }
}
