@use './color-tokens' as *;

@mixin color-tokens-new() {
  --color-mt-blue: #{$color-mt-granskog};
  --color-on-mt-blue: #{$color-on-mt-blue};
  --color-mt-red: #{$color-mt-red};
  --color-on-mt-red: #{$color-on-mt-red};
  --color-mt-red-uu: #{$color-mt-red-uu};
  --color-on-mt-red-uu: #{$color-on-mt-red-uu};
  --color-mt-beige: #{$color-mt-beige};
  --color-on-mt-beige: #{$color-on-mt-beige};
  --color-mt-beige-50: #{$color-mt-beige-50};
  --color-on-mt-beige-50: #{$color-on-mt-beige-50};
  --color-mt-light-beige: #{$color-mt-light-beige};
  --color-on-mt-light-beige: #{$color-on-mt-light-beige};
  --color-mt-background: #{$color-mt-bg-beige};
  --color-on-mt-background: #{$color-on-mt-background};
  --color-mt-light-blue: #{$color-mt-light-blue};
  --color-on-mt-light-blue: #{$color-on-mt-light-blue};
  --color-mt-lighter-light-blue: #{$color-mt-lighter-light-blue};
  --color-on-mt-lighter-light-blue: #{$color-on-mt-lighter-light-blue};
  --color-mt-rationale-blue: #{$color-mt-rationale-blue};
  --color-on-mt-rationale-blue: #{$color-on-mt-rationale-blue};
  --color-mt-brown: #{$color-mt-brown};
  --color-on-mt-brown: #{$color-on-mt-brown};
  --color-mt-grey: #{$color-mt-grey};
  --color-on-mt-grey: #{$color-on-mt-grey};
  --color-mt-white: #{$color-mt-white};
  --color-on-mt-white: #{$color-on-mt-white};
  --color-mt-green: #{$color-mt-green};
  --color-on-mt-green: #{$color-on-mt-green};
  --color-mt-light-green: #{$color-mt-lys-furu};
  --color-on-mt-light-green: #{$color-on-mt-light-green};
  --color-primary: #{$color-mt-granskog};
  --color-on-primary: #{$color-on-primary};
  --color-mt-blue-medium: #{$color-mt-blue-medium};
  --color-on-mt-blue-medium: #{$color-on-mt-blue-medium};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
  --color-mt-text-dark: #{$color-mt-granskog-dark};
  --color-on-mt-text-dark: #{$color-on-mt-text-dark};
  --color-error: #{$color-mt-rognebaer-contrast};
  --color-on-error: #{$color-on-error};
  --color-error-50: #{$color-mt-rognebaer-contrast};
  --color-on-error-50: #{$color-on-error-50};
  --color-mt-yellowgreen: #{$color-mt-yellowgreen};
  --color-on-mt-yellowgreen: #{$color-on-mt-yellowgreen};
  --color-mt-yellowgreen-lighter: #{$color-mt-yellowgreen-lighter};
  --color-on-mt-yellowgreen-lighter: #{$color-on-mt-yellowgreen-lighter};
  --color-mt-new-white: #{$color-mt-new-white};
  --color-on-mt-new-white: #{$color-on-mt-new-white};
  --color-mt-granskog: #{$color-mt-granskog};
  --color-on-mt-granskog: #{$color-on-mt-granskog};
  --color-mt-lys-furu: #{$color-mt-lys-furu};
  --color-on-mt-lys-furu: #{$color-on-mt-lys-furu};
}
