@use './theme' as *;
@media print {
  @page {
    margin: 2cm;
  }
  main,
  .meta {
    font-size: 0.75rem !important; //12px;
  }
  .mt-h1,
  .text > h1 {
    font-size: $font-size-h3;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .mt-h2,
  .text > h2 {
    font-size: $font-size-h4;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .mt-h3,
  .text > h3,
  .intro > * {
    font-size: $font-size-small;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .mt-h4,
  .text > h4,
  .mt-h5,
  .text > h5,
  .mt-h6,
  .text > h6 {
    font-size: 0.875rem; //14px
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .mt-link {
    font-size: 0.75rem !important;
    break-inside: avoid;
    overflow-wrap: anywhere !important;
    word-wrap: break-word;
    &.mt-button.mt-button--primary {
      text-decoration: underline !important;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
      gap: 0;
      color: var(--color-mt-blue);
      background-color: transparent;
    }
    &[href^="https://"]:after
    {
      content: ' (' attr(href) ')' !important;
    }
    &[href^='#']:after {
      display: none;
    }
  }

  .mt-ul,
  .mt-ol,
  .mt-dl {
    break-before: avoid;
  }
  table,
  pre {
    break-inside: avoid;
  }

  img {
    max-width: 500px;
  }

  .mt-footer,
  .feedback-container {
    display: none;
  }
}
