@use '../theme' as *;
@use '../color-tokens' as *;
@use '../global/links' as *;

:root {
  @include color-tokens();

  --color-links: #{$color-links};
  --grey-medium: hsl(#{$color-grey-hue}, 15%, 50%);
  --grey-light: hsl(#{$color-grey-hue}, 20%, 85%);
  --background-body: #{$color-background-body};
  --font-weight-light: #{$font-weight-light};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};
  --icon-size-small: #{$icon-size-small};
  --icon-size-normal: #{$icon-size-medium};
  --spacer-xxx-small: #{$spacer-xxx-small};
  --spacer-xx-small: #{$spacer-xx-small};
  --spacer-x-small: #{$spacer-x-small};
  --spacer-small: #{$spacer-small};
  --spacer-medium: #{$spacer-medium};
  --spacer-large: #{$spacer-large};
  --spacer-x-large: #{$spacer-x-large};
  --spacer-xx-large: #{$spacer-xx-large};
  --border-radius: #{$border-radius};
  --border-radius-small: #{$border-radius-small};
  --border-width-small: #{$border-width-small};
  --border-width-regular: #{$border-width-regular};
  --z-index-dropdown: #{$zindex-dropdown};
  --z-index-feedback: #{$zindex-tooltip};

  --form-group-spacer: var(--spacer-small);
  --form-text-space: var(--spacer-xxx-small);
  --form-control-vertical: var(--spacer-xxx-small);

  @media only screen and (min-width: $breakpoint-large) {
    --icon-size-normal: #{$icon-size-large};
    --spacer-xxx-small: #{$spacer-xx-small};
    --spacer-xx-small: #{$spacer-x-small};
    --spacer-x-small: #{$spacer-small};
    --spacer-small: #{$spacer-medium};
    --spacer-medium: #{$spacer-large};
    --spacer-large: #{$spacer-x-large};
    --spacer-x-large: #{$spacer-xx-large};
    --spacer-xx-large: #{$spacer-xx-large};
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 0;
  background-color: var(--color-mt-background);
  color: var(--color-mt-text-dark);
  font-family: $font-family;
  font-size: $font-size-body;

  .layout-with-sidebar {
    & + footer {
      margin-top: 0;
    }
  }

  footer {
    margin-top: var(--spacer-small);
  }
  .footer {
    a {
      @extend .mt-link;
    }
  }
}
