@use '../theme' as *;
@use '../color-tokens' as *;
@use '../color-tokens-new' as *;
@use '../global/links' as *;
@use '../global/typography' as *;

:root {
  @include color-tokens();

  --body-background: var(--color-mt-background);
  --body-color: var(--color-mt-text-dark);

  --color-links: #{$color-links};
  --focus-on-light: var(--color-mt-blue-medium);
  --focus-on-dark: var(--color-mt-beige);
  --chapter-menu-active-on-dark: var(--color-mt-rationale-blue);
  --dialog-box-bg: var(--color-mt-lighter-light-blue);
  --dialog-box-box-shadow: var(--color-mt-blue-medium);
  --dialog-box-close-hover: var(--color-mt-brown);
  --disclosure-bordered-border: var(--color-secondary);

  --dropdown-content-bg: var(--color-primary);
  --dropdown-color: var(--color-mt-text-dark);
  --dropdown-visible-color: var(--color-mt-white);

  --menu-border: var(--color-mt-lighter-light-blue);
  --menu-color: var(--color-mt-text-dark);
  --menu-focus: var(--focus-on-dark);
  --disclosure-on-primary-header-expanded: var(--color-mt-lighter-light-blue);
  --highlighted-blue-bg: var(--color-primary);
  --highlighted-blue-color: var(--color-mt-white);
  --highlighted-blue-bg-hover: var(--color-mt-text-dark);
  --highlighted-blue-color-hover: var(--color-mt-background);
  --highlighted-blue-border-hover: var(--color-mt-text-dark);

  --colored-card-bg: var(--color-mt-rationale-blue);

  --table-header-bg: var(--color-mt-light-beige);
  --table-border: var(--color-mt-beige-50);
  --table-row-bg-odd: var(--color-mt-white);

  --tag-info-bg: var(--color-mt-rationale-blue);
  --tag-info-border: var(--color-mt-blue-medium);
  --tag-success-bg: var(--color-mt-yellowgreen-lighter);
  --tag-success-border: var(--color-mt-yellowgreen);
  --tag-warning-bg: var(--color-mt-light-beige); //todo
  --tag-warning-border: var(--color-mt-beige); //todo
  --tag-error-bg: var(--color-error-50); //todo
  --tag-error-border: var(--color-error); //todo
  --tag-neutral-bg: var(--color-mt-light-beige);
  --tag-neutral-border: var(--color-mt-beige);

  --checkbox-subset-secondary-bg: var(--color-mt-light-beige);
  --radio-checked-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%23075A78'/%3e%3c/svg%3e");
  --checkbox-checked-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  --checkbox-indeterminate-img: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='4' fill='%23075B7A'/%3E%3Cline x1='6.5' y1='12.5' x2='17.5' y2='12.5' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
  --radio-chekbox-button-before-bg-hover: var(--color-mt-white);
  --radio-checkbox-bg-hover: var(--color-mt-blue);
  --radio-checkbox-color-hover: var(--color-mt-white);
  --form-border-width: #{$border-width-small};
  --form-border-color: var(--color-secondary);
  --form-border-color-hover: var(--color-mt-blue-medium);
  --form-outline-color: var(--color-primary);

  --icon-search-primary: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23FAF6F3%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-search-primary-hover: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23FAF6F3%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-search-neutral: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-search-neutral-hover: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-list-checkmark: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20d%3D%22M5.729%2017.334%202.995%209.336l-1.67%201.02-.474-.897L3.936%207.71l2.434%207.313L11.39.257h1.292L6.87%2017.334H5.73Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-error: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23E23128%22%2F%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M11.2%205.6%208.8%208l2.4%202.4-.8.8L8%208.8l-2.4%202.4-.8-.8L7.2%208%204.8%205.6l.8-.8L8%207.2l2.4-2.4.8.8Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4.8%204.8h6.4v6.4H4.8z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-alert-filled-success: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23B0B71A%22%2F%3E%3Cpath%20fill%3D%22%233F3E3E%22%20d%3D%22M5.043%207.329%204%208.54%207.458%2011.2%2012%206.476l-1.098-.965L7.465%209.3%205.043%207.33Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-warning: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23EFA60B%22%2F%3E%3Cpath%20fill%3D%22%233F3E3E%22%20d%3D%22M5.043%207.329%204%208.54%207.458%2011.2%2012%206.476l-1.098-.965L7.465%209.3%205.043%207.33Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-repealed: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23676560%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M11.209%204.304v-.5h-1v.829a4.258%204.258%200%200%200-4.527.069%204.098%204.098%200%200%200-1.684%202.212%204.003%204.003%200%200%200%20.14%202.761%204.124%204.124%200%200%200%201.896%202.04%204.269%204.269%200%200%200%202.78.401c.945-.183%201.799-.68%202.415-1.41.616-.732.954-1.65.954-2.6h-1.2c0%20.663-.236%201.309-.672%201.826a3.002%203.002%200%200%201-1.726%201.006c-.68.132-1.387.03-1.997-.288a2.924%202.924%200%200%201-1.346-1.444%202.803%202.803%200%200%201-.098-1.935%202.898%202.898%200%200%201%201.192-1.564%203.058%203.058%200%200%201%202.783-.28h-.577v1h2.667V4.304Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-search-black: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%201%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39a6.995%206.995%200%201%201%201.649-1.649l5.84%205.838-1.65%201.65-5.838-5.84Z%22%20fill%3D%22%233F3E3E%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-arrow-primary: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5.167%208.677%201.988l7.208%207.22H.166v2.584h15.72l-7.208%207.22%201.821%201.821L20.833%2010.5%2010.499.167Z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-primary-hover: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5.167%208.677%201.988l7.208%207.22H.166v2.584h15.72l-7.208%207.22%201.821%201.821L20.833%2010.5%2010.499.167Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-blue: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20viewBox%3D%220%200%2021%2021%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M10.1592%200.158204L8.39668%201.9207L15.3717%208.9082L0.159179%208.9082L0.159179%2011.4082L15.3717%2011.4082L8.39668%2018.3957L10.1592%2020.1582L20.1592%2010.1582L10.1592%200.158204Z%22%20fill%3D%22%23075B7A%22%2F%3E%0A%3C%2Fsvg%3E');
  --icon-newsletter-neutral: url('data:image/svg+xml, %0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20d%3D%22M5.567%201.62%204.132.155A10.765%2010.765%200%200%200%200%208.205h2.006a8.808%208.808%200%200%201%201.045-3.708A8.6%208.6%200%200%201%205.567%201.62Zm12.427%206.585H20A10.831%2010.831%200%200%200%2015.868.154L14.443%201.62A8.653%208.653%200%200%201%2016.95%204.5a8.862%208.862%200%200%201%201.045%203.704Zm-1.976.513c0-3.149-1.645-5.785-4.514-6.482v-.698C11.505.688%2010.834%200%2010%200c-.832%200-1.505.687-1.505%201.538v.698c-2.878.697-4.513%203.323-4.513%206.482v5.128l-2.006%202.051v1.026h16.048v-1.026l-2.006-2.05V8.717ZM10%2020c.14%200%20.27-.01.401-.041a2.046%202.046%200%200%200%201.444-1.21%202.1%202.1%200%200%200%20.151-.8H7.984C7.994%2019.077%208.887%2020%2010%2020Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-newsletter-neutral-hover: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M5.567%201.62%204.132.155A10.765%2010.765%200%200%200%200%208.205h2.006a8.808%208.808%200%200%201%201.045-3.708A8.6%208.6%200%200%201%205.567%201.62Zm12.427%206.585H20A10.831%2010.831%200%200%200%2015.868.154L14.443%201.62A8.653%208.653%200%200%201%2016.95%204.5a8.862%208.862%200%200%201%201.045%203.704Zm-1.976.513c0-3.149-1.645-5.785-4.514-6.482v-.698C11.505.688%2010.834%200%2010%200c-.832%200-1.505.687-1.505%201.538v.698c-2.878.697-4.513%203.323-4.513%206.482v5.128l-2.006%202.051v1.026h16.048v-1.026l-2.006-2.05V8.717ZM10%2020c.14%200%20.27-.01.401-.041a2.046%202.046%200%200%200%201.444-1.21%202.1%202.1%200%200%200%20.151-.8H7.984C7.994%2019.077%208.887%2020%2010%2020Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-changelog-blue: url('data:image/svg+xml, %0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18.022.012v5.557h-5.667v-1.5h2.896a8.101%208.101%200%200%200-3.968-1.49%208.146%208.146%200%200%200-5.215%201.27%207.745%207.745%200%200%200-3.186%204.18%207.508%207.508%200%200%200%20.262%205.182%207.811%207.811%200%200%200%203.595%203.859%208.172%208.172%200%200%200%205.318.767%208.005%208.005%200%200%200%204.603-2.684%207.583%207.583%200%200%200%201.798-4.889h2c0%202.257-.804%204.44-2.269%206.178a10.004%2010.004%200%200%201-5.751%203.359c-2.254.436-4.593.099-6.623-.957a9.81%209.81%200%200%201-4.512-4.85%209.508%209.508%200%200%201-.33-6.56%209.745%209.745%200%200%201%204.005-5.26A10.146%2010.146%200%200%201%2011.473.587c1.84.177%203.587.849%205.049%201.932V.012h1.5Zm-6.966%207.175a1%201%200%201%200-2%200v4.329l.503.287%203.134%201.795a1%201%200%201%200%20.994-1.735l-2.631-1.507v-3.17Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-calendar: url('data:image/svg+xml, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M3.5122%209.22374H6.53659V11.9635H3.5122V9.22374Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M6.53659%2013.8813H3.5122V16.621H6.53659V13.8813Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M8.4878%209.22374H11.5122V11.9635H8.4878V9.22374Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M11.5122%2013.8813H8.4878V16.621H11.5122V13.8813Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M16.4878%209.22374V11.9635H13.4634V9.22374H16.4878Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M16.4878%2016.621V13.8813H13.4634V16.621H16.4878Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.92683%200C5.33094%200%205.65854%200.306654%205.65854%200.684932V1.18721H14.2439V0.684932C14.2439%200.306654%2014.5715%200%2014.9756%200C15.3797%200%2015.7073%200.306654%2015.7073%200.684932V1.18721H19.6098C19.8253%201.18721%2020%201.35076%2020%201.55251V19.6347C20%2019.8365%2019.8253%2020%2019.6098%2020H0.390244C0.174718%2020%200%2019.8365%200%2019.6347V1.55251C0%201.35076%200.174718%201.18721%200.390244%201.18721H4.19512V0.684932C4.19512%200.306654%204.52272%200%204.92683%200ZM14.2439%202.55708V2.69406C14.2439%203.07234%2014.5715%203.379%2014.9756%203.379C15.3797%203.379%2015.7073%203.07234%2015.7073%202.69406V2.55708H18.5366V5.84475H1.46341V2.55708H4.19512V2.69406C4.19512%203.07234%204.52272%203.379%204.92683%203.379C5.33094%203.379%205.65854%203.07234%205.65854%202.69406V2.55708H14.2439ZM1.46341%207.21461V18.6301H18.5366V7.21461H1.46341Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  --icon-important: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSIxNSIgY3k9IjE1IiByPSIxNSIgZmlsbD0iI0UyMzEyOCIvPgogIDxwYXRoIGQ9Ik0xMy4zNjcgNy42NTRoMy4wNTd2My42NTNsLS43OTEgNi43MThoLTEuNDU1bC0uODEtNi43MThWNy42NTRabS4wNjggMTEuNTI0aDIuOTFWMjJoLTIuOTF2LTIuODIyWiIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K');
  --icon-important-large: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTUiIGN5PSIxNSIgcj0iMTUiIGZpbGw9IiNFMjMxMjgiLz4KPHBhdGggZD0iTTEzLjM2NzIgNy42NTQzSDE2LjQyMzhWMTEuMzA2NkwxNS42MzI4IDE4LjAyNTRIMTQuMTc3N0wxMy4zNjcyIDExLjMwNjZWNy42NTQzWk0xMy40MzU1IDE5LjE3NzdIMTYuMzQ1N1YyMkgxMy40MzU1VjE5LjE3NzdaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
  --icon-x-flat: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23075B7A%22%20stroke-width%3D%222%22%20d%3D%22m.7071%201.5151%2016.8246%2016.8246M1.6722%2018.3398%2018.4968%201.5152%22%2F%3E%3C%2Fsvg%3E');
  --icon-x-flat-hover: url('data:image/svg+xml, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20d%3D%22m.7071%201.5151%2016.8246%2016.8246M1.6722%2018.3398%2018.4968%201.5152%22%2F%3E%3C%2Fsvg%3E');

  --icon-carret-on-light: url("data:image/svg+xml,%3Csvg width='20' height='12'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.214 0 10 8.364 1.786 0 0 1.818 10 12 20 1.818 18.214 0Z' /%3E%3C/svg%3E");
  --icon-carret-on-light-expanded: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M16.393%203.6%209%2011.127%201.607%203.6%200%205.236%209%2014.4l9-9.164L16.393%203.6Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-carret-breadcrumb: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNLjIgMS40MyAzLjY2MSA1IC4yIDguNTdsMS4wNjYgMS4wOTdMNS44IDUgMS4yNjYuMzMzLjIgMS40M1oiIGZpbGw9IiM0NjQ1NDUiLz48L3N2Zz4=');
  --icon-hamburger: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23403f3f%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18%2018H0v-2.25h18V18ZM18%2010.125H0v-2.25h18v2.25ZM18%202.25H0V0h18v2.25Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-x: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23403f3f%22%20d%3D%22M18%202.25%2011.25%209%2018%2015.75%2015.75%2018%209%2011.25%202.25%2018%200%2015.75%206.75%209%200%202.25%202.25%200%209%206.75%2015.75%200%2018%202.25Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  //blue
  --icon-arrow-down-on-light: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
  //blue
  --icon-arrow-up-on-light: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
  //white
  --icon-arrow-down-on-dark: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
  //blue
  --icon-arrow-up-on-dark: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');

  --icon-task: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%233F3E3E%22%2F%3E%3Cpath%20d%3D%22M7%2014h10M7%2018h5M7%2010h12%22%20stroke%3D%22%23F9F6F1%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20d%3D%22m16.176%2020.722-.11%202.294a.162.162%200%200%200%20.25.144l1.932-1.241a.16.16%200%200%200%20.052-.056l5.684-9.844-2.103-1.214-5.684%209.844a.161.161%200%200%200-.021.073ZM24.39%2011.318l-2.104-1.214L23.42%208.14a.162.162%200%200%201%20.222-.06l1.822%201.053a.162.162%200%200%201%20.06.22l-1.134%201.964Z%22%20fill%3D%22%23F9F6F1%22%2F%3E%3C%2Fsvg%3E');

  --multiselect-focus-outline-color: var(--color-mt-blue-medium);
  --multiselect-option-hover-bg: var(--color-mt-lighter-light-blue);
  --multiselect-option-before: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20x%3D%22.5%22%20y%3D%22.5%22%20width%3D%2223%22%20height%3D%2223%22%20rx%3D%223.5%22%20fill%3D%22%23fff%22%20stroke%3D%22%23AFAB89%22%2F%3E%3C%2Fsvg%3E');
  --multiselect-option-before-selected: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2224%22%20height%3D%2224%22%20rx%3D%224%22%20fill%3D%22%23075B7A%22%2F%3E%3Cpath%20d%3D%22M6.826%209.98%205%2012.365l6.051%205.234L19%208.3l-1.922-1.9-6.014%207.463L6.826%209.98Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');

  --grey-medium: hsl(#{$color-grey-hue}, 15%, 50%);
  --grey-light: hsl(#{$color-grey-hue}, 20%, 85%);
  --background-body: #{$color-background-body};
  --font-weight-light: #{$font-weight-light};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};
  --icon-size-small: #{$icon-size-small};
  --icon-size-normal: #{$icon-size-medium};
  --spacer-xxx-small: #{$spacer-xxx-small};
  --spacer-xx-small: #{$spacer-xx-small};
  --spacer-x-small: #{$spacer-x-small};
  --spacer-small: #{$spacer-small};
  --spacer-medium: #{$spacer-medium};
  --spacer-large: #{$spacer-large};
  --spacer-x-large: #{$spacer-x-large};
  --spacer-xx-large: #{$spacer-xx-large};
  --border-radius: #{$border-radius};
  --border-radius-small: #{$border-radius-small};
  --border-width-small: #{$border-width-small};
  --border-width-regular: #{$border-width-regular};
  --z-index-dropdown: #{$zindex-dropdown};
  --z-index-feedback: #{$zindex-tooltip};

  --form-group-spacer: var(--spacer-small);
  --form-text-space: var(--spacer-xxx-small);
  --form-control-vertical: var(--spacer-xxx-small);

  --mt-header-bg: transparent;
  --mt-header-footer-border: var(--color-mt-red);
  --mt-footer-background: transparent;
  --mt-footer-color: var(--color-mt-text-dark);

  --mt-button-primary-bg: var(--color-primary);
  --mt-button-primary-color: var(--color-mt-new-white);
  --mt-button-primary-border: var(--color-primary);
  --mt-button-primary-bg-hover: var(--color-mt-text-dark);
  --mt-button-primary-color-hover: var(--color-mt-background);
  --mt-button-primary-border-hover: var(--color-mt-text-dark);
  --mt-button-primary-bg-focus: var(--color-mt-blue-medium);
  --mt-button-primary-color-focus: var(--color-mt-new-white);
  --mt-button-primary-border-focus: var(--color-primary);
  --mt-button-primary-bg-disabled: lightgrey;
  --mt-button-primary-color-disabled: var(--color-primary);
  --mt-button-primary-border-disabled: lightgrey;

  --mt-button-no-primary-border-focus-shadow: var(--color-mt-beige);

  --mt-button-neutral-bg: transparent; //var(--color-mt-new-white);
  --mt-button-neutral-color: var(--color-primary);
  --mt-button-neutral-border: var(--color-primary);
  --mt-button-neutral-bg-hover: var(--color-mt-blue);
  --mt-button-neutral-color-hover: var(--color-mt-white);
  --mt-button-neutral-border-hover: var(--color-mt-blue);
  --mt-button-neutral-bg-focus: var(--color-mt-new-white);
  --mt-button-neutral-color-focus: var(--color-primary);
  --mt-button-neutral-border-focus: var(--color-primary);
  --mt-button-neutral-bg-disabled: purple;
  --mt-button-neutral-color-disabled: purple;
  --mt-button-neutral-border-disabled: purple;

  --mt-button-flat-bg: transparent;
  --mt-button-flat-color: var(--color-mt-blue);
  --mt-button-flat-border: var(--color-mt-new-white);
  --mt-button-flat-bg-hover: transparent;
  --mt-button-flat-color-hover: var(--color-mt-blue);
  --mt-button-flat-border-hover: var(--color-primary);
  --mt-button-flat-bg-focus: var(--color-mt-new-white);
  --mt-button-flat-color-focus: var(--color-primary);
  --mt-button-flat-border-focus: var(--color-primary);
  --mt-button-flat-bg-disabled: purple;
  --mt-button-flat-color-disabled: purple;
  --mt-button-flat-border-disabled: purple;

  @media only screen and (min-width: $breakpoint-large) {
    --icon-size-normal: #{$icon-size-large};
    --spacer-xxx-small: #{$spacer-xx-small};
    --spacer-xx-small: #{$spacer-x-small};
    --spacer-x-small: #{$spacer-small};
    --spacer-small: #{$spacer-medium};
    --spacer-medium: #{$spacer-large};
    --spacer-large: #{$spacer-x-large};
    --spacer-x-large: #{$spacer-xx-large};
    --spacer-xx-large: #{$spacer-xx-large};
  }
}
[data-theme='green'] {
  @include color-tokens-new();
  --body-background: var(--color-mt-background);
  --body-color: var(--color-mt-text-dark);
  background-color: var(--body-background);
  color: var(--body-color);

  --color-links: var(--color-primary);

  --focus-on-light: var(--color-mt-granskog);
  --focus-on-dark: var(--color-mt-mellombeige);
  --chapter-menu-active-on-dark: var(--color-mt-lys-furu);
  --dialog-box-bg: var(--color-mt-bg-furu);
  --dialog-box-box-shadow: var(--color-mt-granskog);
  --dialog-box-close-hover: var(--color-mt-bg-furu);
  --dialog-box-close-border-hover: var(--color-mt-granskog);
  --disclosure-bordered-border: var(--color-mt-granskog);
  --highlighted-bg: var(--col);
  --highlighted-color: var(--col);

  --dropdown-content-bg: var(--color-mt-bg-furu);
  --dropdown-color: var(--color-links);
  --dropdown-visible-color: var(--color-links);

  --menu-border: var(--color-mt-furu);
  --menu-color: var(--color-links);
  --menu-focus: var(--focus-on-light);
  --disclosure-on-primary-header-expanded: var(--color-mt-white);

  --highlighted-blue-bg: var(--color-mt-white);
  --highlighted-blue-color: var(--color-mt-text-dark);
  --highlighted-blue-link-color: var(--color-mt-text-dark);
  --highlighted-blue-bg-hover: var(--color-mt-lys-furu);
  --highlighted-blue-color-hover: var(--color-mt-text-dark);
  --highlighted-blue-border-hover: var(--color-mt-text-dark);

  --steps-bg: var(--color-mt-granskog);
  --steps-color: var(--color-mt-new-white);

  --colored-card-bg: var(--color-mt-bg-furu);

  --table-header-bg: var(--color-mt-bg-furu);
  --table-border: var(--color-mt-granskog);
  --table-row-bg-odd: var(--color-mt-new-white);

  --tag-info-bg: var(--color-mt-bg-fjord);
  --tag-info-border: var(--color-primary);
  --tag-success-bg: var(--color-mt-bg-furu);
  --tag-success-border: var(--color-primary);
  --tag-warning-bg: var(--color-mt-bg-sommerdag);
  --tag-warning-border: var(--color-primary);
  --tag-error-bg: var(--color-mt-bg-rognebaer);
  --tag-error-border: var(--color-primary);
  --tag-neutral-bg: var(--color-mt-mellombeige);
  --tag-neutral-border: var(--color-primary);

  --checkbox-subset-secondary-bg: var(--color-mt-mellombeige);

  --radio-checked-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%23054449'/%3e%3c/svg%3e");
  --checkbox-checked-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  --checkbox-indeterminate-img: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='4' fill='%23054449'/%3E%3Cline x1='6.5' y1='12.5' x2='17.5' y2='12.5' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");

  --radio-chekbox-button-before-bg-hover: var(--color-primary);
  --radio-checkbox-bg-hover: var(--color-mt-bg-furu);
  --radio-checkbox-color-hover: var(--color-primary);
  --form-border-width: #{$border-width-regular};
  --form-border-color: var(--color-primary);
  --form-border-color-hover: var(--color-primary);
  --form-outline-color: var(--color-mt-blue-medium);

  --icon-search-primary: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23FAF6F3%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-search-primary-hover: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23054449%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-search-neutral: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23054449%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-search-neutral-hover: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23054449%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');

  --icon-list-checkmark: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22M5.729%2017.334%202.995%209.336l-1.67%201.02-.474-.897L3.936%207.71l2.434%207.313L11.39.257h1.292L6.87%2017.334H5.73Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-error: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%2392301C%22%2F%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M11.2%205.6%208.8%208l2.4%202.4-.8.8L8%208.8l-2.4%202.4-.8-.8L7.2%208%204.8%205.6l.8-.8L8%207.2l2.4-2.4.8.8Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4.8%204.8h6.4v6.4H4.8z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-alert-filled-success: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%2368B096%22%2F%3E%3Cpath%20fill%3D%22%23032C30%22%20d%3D%22M5.043%207.329%204%208.54%207.458%2011.2%2012%206.476l-1.098-.965L7.465%209.3%205.043%207.33Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-warning: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23F1BE3C%22%2F%3E%3Cpath%20fill%3D%22%23032C30%22%20d%3D%22M5.043%207.329%204%208.54%207.458%2011.2%2012%206.476l-1.098-.965L7.465%209.3%205.043%207.33Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-repealed: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23EDDED4%22%2F%3E%3Cpath%20fill%3D%22%23032C30%22%20fill-rule%3D%22evenodd%22%20d%3D%22M11.209%204.304v-.5h-1v.829a4.258%204.258%200%200%200-4.527.069%204.098%204.098%200%200%200-1.684%202.212%204.003%204.003%200%200%200%20.14%202.761%204.124%204.124%200%200%200%201.896%202.04%204.269%204.269%200%200%200%202.78.401c.945-.183%201.799-.68%202.415-1.41.616-.732.954-1.65.954-2.6h-1.2c0%20.663-.236%201.309-.672%201.826a3.002%203.002%200%200%201-1.726%201.006c-.68.132-1.387.03-1.997-.288a2.924%202.924%200%200%201-1.346-1.444%202.803%202.803%200%200%201-.098-1.935%202.898%202.898%200%200%201%201.192-1.564%203.058%203.058%200%200%201%202.783-.28h-.577v1h2.667V4.304Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-search-black: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23054449%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39a6.995%206.995%200%201%201%201.649-1.649l5.84%205.838-1.65%201.65-5.838-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-arrow-primary: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5.167%208.677%201.988l7.208%207.22H.166v2.584h15.72l-7.208%207.22%201.821%201.821L20.833%2010.5%2010.499.167Z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-primary-hover: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5.167%208.677%201.988l7.208%207.22H.166v2.584h15.72l-7.208%207.22%201.821%201.821L20.833%2010.5%2010.499.167Z%22%20fill%3D%22%23032C30%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-blue: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20viewBox%3D%220%200%2021%2021%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M10.1592%200.158204L8.39668%201.9207L15.3717%208.9082L0.159179%208.9082L0.159179%2011.4082L15.3717%2011.4082L8.39668%2018.3957L10.1592%2020.1582L20.1592%2010.1582L10.1592%200.158204Z%22%20fill%3D%22%23054449%22%2F%3E%0A%3C%2Fsvg%3E');
  --icon-newsletter-neutral: url('data:image/svg+xml, %0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22M5.567%201.62%204.132.155A10.765%2010.765%200%200%200%200%208.205h2.006a8.808%208.808%200%200%201%201.045-3.708A8.6%208.6%200%200%201%205.567%201.62Zm12.427%206.585H20A10.831%2010.831%200%200%200%2015.868.154L14.443%201.62A8.653%208.653%200%200%201%2016.95%204.5a8.862%208.862%200%200%201%201.045%203.704Zm-1.976.513c0-3.149-1.645-5.785-4.514-6.482v-.698C11.505.688%2010.834%200%2010%200c-.832%200-1.505.687-1.505%201.538v.698c-2.878.697-4.513%203.323-4.513%206.482v5.128l-2.006%202.051v1.026h16.048v-1.026l-2.006-2.05V8.717ZM10%2020c.14%200%20.27-.01.401-.041a2.046%202.046%200%200%200%201.444-1.21%202.1%202.1%200%200%200%20.151-.8H7.984C7.994%2019.077%208.887%2020%2010%2020Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-newsletter-neutral-hover: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23032C30%22%20d%3D%22M5.567%201.62%204.132.155A10.765%2010.765%200%200%200%200%208.205h2.006a8.808%208.808%200%200%201%201.045-3.708A8.6%208.6%200%200%201%205.567%201.62Zm12.427%206.585H20A10.831%2010.831%200%200%200%2015.868.154L14.443%201.62A8.653%208.653%200%200%201%2016.95%204.5a8.862%208.862%200%200%201%201.045%203.704Zm-1.976.513c0-3.149-1.645-5.785-4.514-6.482v-.698C11.505.688%2010.834%200%2010%200c-.832%200-1.505.687-1.505%201.538v.698c-2.878.697-4.513%203.323-4.513%206.482v5.128l-2.006%202.051v1.026h16.048v-1.026l-2.006-2.05V8.717ZM10%2020c.14%200%20.27-.01.401-.041a2.046%202.046%200%200%200%201.444-1.21%202.1%202.1%200%200%200%20.151-.8H7.984C7.994%2019.077%208.887%2020%2010%2020Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-changelog-blue: url('data:image/svg+xml, %0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23054449%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18.022.012v5.557h-5.667v-1.5h2.896a8.101%208.101%200%200%200-3.968-1.49%208.146%208.146%200%200%200-5.215%201.27%207.745%207.745%200%200%200-3.186%204.18%207.508%207.508%200%200%200%20.262%205.182%207.811%207.811%200%200%200%203.595%203.859%208.172%208.172%200%200%200%205.318.767%208.005%208.005%200%200%200%204.603-2.684%207.583%207.583%200%200%200%201.798-4.889h2c0%202.257-.804%204.44-2.269%206.178a10.004%2010.004%200%200%201-5.751%203.359c-2.254.436-4.593.099-6.623-.957a9.81%209.81%200%200%201-4.512-4.85%209.508%209.508%200%200%201-.33-6.56%209.745%209.745%200%200%201%204.005-5.26A10.146%2010.146%200%200%201%2011.473.587c1.84.177%203.587.849%205.049%201.932V.012h1.5Zm-6.966%207.175a1%201%200%201%200-2%200v4.329l.503.287%203.134%201.795a1%201%200%201%200%20.994-1.735l-2.631-1.507v-3.17Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-calendar: url('data:image/svg+xml, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M3.5122%209.22374H6.53659V11.9635H3.5122V9.22374Z%22%20fill%3D%22%23032C30%22%2F%3E%0A%3Cpath%20d%3D%22M6.53659%2013.8813H3.5122V16.621H6.53659V13.8813Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M8.4878%209.22374H11.5122V11.9635H8.4878V9.22374Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M11.5122%2013.8813H8.4878V16.621H11.5122V13.8813Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M16.4878%209.22374V11.9635H13.4634V9.22374H16.4878Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M16.4878%2016.621V13.8813H13.4634V16.621H16.4878Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.92683%200C5.33094%200%205.65854%200.306654%205.65854%200.684932V1.18721H14.2439V0.684932C14.2439%200.306654%2014.5715%200%2014.9756%200C15.3797%200%2015.7073%200.306654%2015.7073%200.684932V1.18721H19.6098C19.8253%201.18721%2020%201.35076%2020%201.55251V19.6347C20%2019.8365%2019.8253%2020%2019.6098%2020H0.390244C0.174718%2020%200%2019.8365%200%2019.6347V1.55251C0%201.35076%200.174718%201.18721%200.390244%201.18721H4.19512V0.684932C4.19512%200.306654%204.52272%200%204.92683%200ZM14.2439%202.55708V2.69406C14.2439%203.07234%2014.5715%203.379%2014.9756%203.379C15.3797%203.379%2015.7073%203.07234%2015.7073%202.69406V2.55708H18.5366V5.84475H1.46341V2.55708H4.19512V2.69406C4.19512%203.07234%204.52272%203.379%204.92683%203.379C5.33094%203.379%205.65854%203.07234%205.65854%202.69406V2.55708H14.2439ZM1.46341%207.21461V18.6301H18.5366V7.21461H1.46341Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  --icon-important: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%2392301C%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m13.566%208.771-.86%207.307h-1.582l-.882-7.307V4.8h3.324V8.77Zm-.085%208.56V20.4h-3.165v-3.07h3.165Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-important-large: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%2392301C%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m16.956%2010.965-1.076%209.132h-1.977L12.8%2010.965V6h4.155v4.965Zm-.107%2010.699V25.5h-3.955v-3.836h3.955Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-x-flat: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23054449%22%20stroke-width%3D%222%22%20d%3D%22m.7071%201.5151%2016.8246%2016.8246M1.6722%2018.3398%2018.4968%201.5152%22%2F%3E%3C%2Fsvg%3E');
  --icon-x-flat-hover: url('data:image/svg+xml, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23032C30%22%20stroke-width%3D%222%22%20d%3D%22m.7071%201.5151%2016.8246%2016.8246M1.6722%2018.3398%2018.4968%201.5152%22%2F%3E%3C%2Fsvg%3E');
  --icon-carret-on-light: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22M16.393%203.6%209%2011.127%201.607%203.6%200%205.236%209%2014.4l9-9.164L16.393%203.6Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-carret-on-light-expanded: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22M16.393%203.6%209%2011.127%201.607%203.6%200%205.236%209%2014.4l9-9.164L16.393%203.6Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-carret-breadcrumb: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22M1.867%201.5%205.77%205.333%201.867%209.167l.848.833%204.752-4.667L2.715.667l-.848.833Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%2010V.667h9.333V10z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');

  --icon-hamburger: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23054449%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18%2018H0v-2.25h18V18ZM18%2010.125H0v-2.25h18v2.25ZM18%202.25H0V0h18v2.25Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-x: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22M18%202.25%2011.25%209%2018%2015.75%2015.75%2018%209%2011.25%202.25%2018%200%2015.75%206.75%209%200%202.25%202.25%200%209%206.75%2015.75%200%2018%202.25Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');

  --icon-arrow-down-on-dark: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23054449%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-up-on-dark: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23054449%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-down-on-light: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23054449%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-up-on-light: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23054449%22%2F%3E%3C%2Fsvg%3E');

  --icon-task: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%23054449%22%2F%3E%3Cpath%20d%3D%22M7%2014h10M7%2018h5M7%2010h12%22%20stroke%3D%22%23F9F6F1%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20d%3D%22m16.176%2020.722-.11%202.294a.162.162%200%200%200%20.25.144l1.932-1.241a.16.16%200%200%200%20.052-.056l5.684-9.844-2.103-1.214-5.684%209.844a.161.161%200%200%200-.021.073ZM24.39%2011.318l-2.104-1.214L23.42%208.14a.162.162%200%200%201%20.222-.06l1.822%201.053a.162.162%200%200%201%20.06.22l-1.134%201.964Z%22%20fill%3D%22%23F9F6F1%22%2F%3E%3C%2Fsvg%3E');
  --multiselect-focus-outline-color: var(--color-mt-lys-furu);
  --multiselect-option-hover-bg: var(--color-mt-bg-furu);
  --multiselect-option-before: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20x%3D%22.5%22%20y%3D%22.5%22%20width%3D%2223%22%20height%3D%2223%22%20rx%3D%223.5%22%20fill%3D%22%23fff%22%20stroke%3D%22%23054449%22%2F%3E%3C%2Fsvg%3E');
  --multiselect-option-before-selected: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2224%22%20height%3D%2224%22%20rx%3D%224%22%20fill%3D%22%23054449%22%2F%3E%3Cpath%20d%3D%22M6.826%209.98%205%2012.365l6.051%205.234L19%208.3l-1.922-1.9-6.014%207.463L6.826%209.98Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');

  --chapter-navigation-border: var(--color-mt-beige);
  --chapter-navigation-border: var(--color-primary);

  //--mt-color-background-default: beige;
  //
  //--mt-color-surface-default: beige;
  //--mt-color-surface-hover: beige;
  //--mt-color-surface-active: beige;
  //--mt-color-surface-selected: beige;
  //--mt-color-surface-subtle: beige;
  //
  //--mt-color-surface-neutral-default: beige;
  //--mt-color-surface-neutral-hover: beige;
  //--mt-color-surface-neutral-active: beige;
  //--mt-color-surface-neutral-selected: beige;
  //--mt-color-surface-neutral-subtle: beige;
  //
  //--mt-color-surface-action-default: blue;
  //--mt-color-surface-action-hover: brown;
  //--mt-color-surface-action-active: beige;
  //
  //--mt-color-surface-success-default: blue;
  //--mt-color-surface-success-hover: brown;
  //--mt-color-surface-success-active: beige;
  //
  //--mt-color-surface-info-default: blue;
  //--mt-color-surface-info-hover: brown;
  //--mt-color-surface-info-active: beige;
  //
  //--mt-color-text-neutral: blue;
  //--mt-color-text-neutral-hover: brown;
  //--mt-color-text-neutral-active: beige;
  //--mt-color-text-neutral-disabled: beige;
  //--mt-color-text-neutral-inverted: beige;
  //--mt-color-text-neutral-inverted-hover: beige;
  //--mt-color-text-neutral-inverted-active: beige;
  //
  //--mt-color-text-primary: white;
  //--mt-color-text-primary-hover: brown;
  //--mt-color-text-primary-active: beige;
  //--mt-color-text-primary-disabled: beige;
  //--mt-color-text-primary-inverted: beige;
  //--mt-color-text-primary-inverted-hover: beige;
  //--mt-color-text-primary-inverted-active: beige;
  //
  //--mt-color-border-neutral: white;
  //--mt-color-border-primary: brown;
  //--mt-color-border-active: beige;
  //--mt-color-border-status-danger: beige;
  //--mt-color-border-status-success: beige;
  //--mt-color-border-status-warning: beige;
  //--mt-color-border-status-info: beige;
  --mt-header-bg: var(--color-mt-new-white);
  --mt-header-footer-border: transparent;
  --mt-footer-background: var(--color-mt-granskog);
  --mt-footer-color: var(--color-mt-new-white);

  --mt-button-primary-bg: var(--color-primary);
  --mt-button-primary-color: var(--color-mt-new-white);
  --mt-button-primary-border: var(--color-primary);
  --mt-button-primary-bg-hover: var(--color-mt-lys-furu);
  --mt-button-primary-color-hover: var(--color-primary);
  --mt-button-primary-border-hover: var(--color-mt-lys-furu);
  --mt-button-primary-bg-focus: var(--color-primary);
  --mt-button-primary-color-focus: var(--color-mt-new-white);
  --mt-button-primary-border-focus: var(--color-primary);
  --mt-button-primary-bg-disabled: purple;
  --mt-button-primary-color-disabled: purple;
  --mt-button-primary-border-disabled: purple;

  --mt-button-no-primary-border-focus-shadow: var(--color-mt-lys-furu);

  --mt-button-neutral-bg: var(--color-mt-new-white);
  --mt-button-neutral-color: var(--color-primary);
  --mt-button-neutral-border: var(--color-primary);
  --mt-button-neutral-bg-hover: var(--color-mt-bg-furu);
  --mt-button-neutral-color-hover: var(--color-primary);
  --mt-button-neutral-border-hover: var(--color-primary);
  --mt-button-neutral-bg-focus: var(--color-mt-new-white);
  --mt-button-neutral-color-focus: var(--color-primary);
  --mt-button-neutral-border-focus: var(--color-primary);
  --mt-button-neutral-bg-disabled: purple;
  --mt-button-neutral-color-disabled: purple;
  --mt-button-neutral-border-disabled: purple;

  --mt-button-flat-bg: var(--color-mt-new-white);
  --mt-button-flat-color: var(--color-primary);
  --mt-button-flat-border: var(--color-mt-new-white);
  --mt-button-flat-bg-hover: var(--color-mt-bg-furu);
  --mt-button-flat-color-hover: var(--color-primary);
  --mt-button-flat-border-hover: var(--color-primary);
  --mt-button-flat-bg-focus: var(--color-mt-new-white);
  --mt-button-flat-color-focus: var(--color-primary);
  --mt-button-flat-border-focus: var(--color-primary);
  --mt-button-flat-bg-disabled: purple;
  --mt-button-flat-color-disabled: purple;
  --mt-button-flat-border-disabled: purple;
}

.mt-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 0;
  background-color: var(--body-background);
  color: var(--body-color);
  font-family: $font-family;
  font-size: $font-size-body;

  .layout-with-sidebar {
    & + .mt-footer {
      margin-top: 0;
    }
  }

  .mt-footer {
    margin-top: var(--spacer-small);

    a {
      @extend .mt-link;
      color: var(--mt-footer-color);
      &:focus {
        box-shadow: 0 0 0 0.25rem var(--mt-footer-color);
      }
    }
    h2 {
      @extend .mt-h2;
    }
    h3 {
      @extend .mt-h3;
    }
    h4 {
      @extend .mt-h4;
    }
    h5 {
      @extend .mt-h5;
    }
    h6 {
      @extend .mt-h6;
    }
  }
}
