@use '../theme' as *;
@use '../color-tokens' as *;
@use '../color-tokens-new' as *;
@use '../global/links' as *;
@use '../global/typography' as *;

:root {
  @include color-tokens();

  --body-background: var(--color-mt-background);
  --body-color: var(--color-mt-text-dark);

  --color-links: #{$color-links};
  --focus-on-light: var(--color-mt-blue-medium);
  --focus-on-dark: var(--color-mt-beige);
  --chapter-menu-active-on-dark: var(--color-mt-rationale-blue);
  --dialog-box-bg: var(--color-mt-lighter-light-blue);
  --dialog-box-box-shadow: var(--color-mt-blue-medium);
  --dialog-box-close-hover: var(--color-mt-brown);
  --disclosure-bordered-border: var(--color-secondary);
  --list-border: var(--color-secondary);

  --dropdown-content-bg: var(--color-primary);
  --dropdown-color: var(--color-mt-text-dark);
  --dropdown-visible-color: var(--color-mt-white);

  --menu-border: var(--color-mt-lighter-light-blue);
  --menu-focus: var(--focus-on-dark);
  --disclosure-on-primary-header-expanded: var(--color-mt-lighter-light-blue);
  --highlighted-blue-bg: var(--color-primary);
  --highlighted-blue-color: var(--color-mt-white);
  --highlighted-blue-bg-hover: var(--color-mt-text-dark);
  --highlighted-blue-color-hover: var(--color-mt-background);
  --highlighted-blue-border-hover: var(--color-mt-text-dark);

  --steps-bg: var(--color-mt-brown);
  --steps-color: var(--color-mt-background);

  --colored-card-bg: var(--color-mt-rationale-blue);

  --table-header-bg: var(--color-mt-light-beige);
  --table-border: var(--color-mt-beige-50);
  --table-row-bg-odd: var(--color-mt-white);

  --tag-info-bg: var(--color-mt-rationale-blue);
  --tag-info-border: var(--color-mt-blue-medium);
  --tag-success-bg: var(--color-mt-yellowgreen-lighter);
  --tag-success-border: var(--color-mt-yellowgreen);
  --tag-warning-bg: var(--color-mt-light-beige);
  --tag-warning-border: var(--color-mt-beige);
  --tag-error-bg: var(--color-error-50);
  --tag-error-border: var(--color-error);
  --tag-neutral-bg: var(--color-mt-light-beige);
  --tag-neutral-border: var(--color-mt-beige);

  --checkbox-subset-secondary-bg: var(--color-mt-light-beige);
  --radio-checked-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%23075A78'/%3e%3c/svg%3e");
  --checkbox-checked-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  --checkbox-indeterminate-img: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='4' fill='%23075B7A'/%3E%3Cline x1='6.5' y1='12.5' x2='17.5' y2='12.5' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
  --radio-chekbox-button-before-bg-hover: var(--color-mt-white);
  --radio-checkbox-bg-hover: var(--color-mt-blue);
  --radio-checkbox-color-hover: var(--color-mt-white);
  --form-border-width: #{$border-width-small};
  --form-border-color: var(--color-secondary);
  --form-border-color-hover: var(--color-mt-blue-medium);
  --form-outline-color: var(--color-primary);

  --icon-arrow-primary: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5.167%208.677%201.988l7.208%207.22H.166v2.584h15.72l-7.208%207.22%201.821%201.821L20.833%2010.5%2010.499.167Z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-primary-hover: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5.167%208.677%201.988l7.208%207.22H.166v2.584h15.72l-7.208%207.22%201.821%201.821L20.833%2010.5%2010.499.167Z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-right-primary: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5.167%208.677%201.988l7.208%207.22H.166v2.584h15.72l-7.208%207.22%201.821%201.821L20.833%2010.5%2010.499.167Z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-right-on-primary: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5.167%208.677%201.988l7.208%207.22H.166v2.584h15.72l-7.208%207.22%201.821%201.821L20.833%2010.5%2010.499.167Z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-right-primary-small: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219%22%20height%3D%2212%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22M11.848.233a.848.848%200%200%200-.24.24.844.844%200%200%200%20.108%201.061l3.622%203.622H1.625a.844.844%200%200%200%200%201.688h13.713l-3.622%203.622a.844.844%200%200%200%201.193%201.193l5.063-5.062a.844.844%200%200%200%200-1.194L12.909.341a.844.844%200%200%200-1.06-.108Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-right-primary-x-small: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20d%3D%22m6%20.096-1.04%201.04%204.118%204.126H.096V6.74h8.982L4.96%2010.864%206%2011.905%2011.905%206%206%20.096Z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20transform%3D%22rotate%28-90%206%206%29%22%20d%3D%22M0%200h12v12H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-arrow-left-primary-x-small: url('data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20d%3D%22m6%2011.904%201.04-1.04-4.118-4.126h8.982V5.26H2.922L7.04%201.135%206%20.095.095%206%206%2011.904Z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M0%200h12v12H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-search-primary: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22m15.713%2014.384-4.275-4.278a6.272%206.272%200%200%200%201.235-3.765A6.343%206.343%200%200%200%206.336%200%206.343%206.343%200%200%200%200%206.341a6.343%206.343%200%200%200%206.336%206.341c1.368%200%202.66-.428%203.762-1.236l4.275%204.278a.94.94%200%200%200%20.675.276.947.947%200%200%200%20.675-1.616h-.01Zm-4.94-8.043a4.437%204.437%200%201%201-8.873%200%204.437%204.437%200%201%201%208.873%200Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-search-primary-hover: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23FFFFF%22%20d%3D%22m15.713%2014.384-4.275-4.278a6.272%206.272%200%200%200%201.235-3.765A6.343%206.343%200%200%200%206.336%200%206.343%206.343%200%200%200%200%206.341a6.343%206.343%200%200%200%206.336%206.341c1.368%200%202.66-.428%203.762-1.236l4.275%204.278a.94.94%200%200%200%20.675.276.947.947%200%200%200%20.675-1.616h-.01Zm-4.94-8.043a4.437%204.437%200%201%201-8.873%200%204.437%204.437%200%201%201%208.873%200Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-search-neutral: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-search-neutral-hover: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20fill-rule%3D%22evenodd%22%20d%3D%22m10.953%2010.983.03-.03a4.663%204.663%200%201%200-.03.03Zm.77%202.39A6.997%206.997%200%200%201%202.725%202.724a6.995%206.995%200%200%201%2010.649%209l5.838%205.839-1.648%201.649-5.84-5.84Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-search-white: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22m15.713%2014.384-4.275-4.278a6.272%206.272%200%200%200%201.235-3.765A6.343%206.343%200%200%200%206.336%200%206.343%206.343%200%200%200%200%206.341a6.343%206.343%200%200%200%206.336%206.341c1.368%200%202.66-.428%203.762-1.236l4.275%204.278a.94.94%200%200%200%20.675.276.947.947%200%200%200%20.675-1.616h-.01Zm-4.94-8.043a4.437%204.437%200%201%201-8.873%200%204.437%204.437%200%201%201%208.873%200Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-list-checkmark: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20d%3D%22M5.729%2017.334%202.995%209.336l-1.67%201.02-.474-.897L3.936%207.71l2.434%207.313L11.39.257h1.292L6.87%2017.334H5.73Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-info: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2214%22%20fill%3D%22%239ECCED%22%20stroke%3D%22%239ECCED%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22M16.5%2011.475V22.5h-3V11.475h3Zm0-3.975v2.66h-3V7.5h3Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-neutral: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2214%22%20fill%3D%22%234F3521%22%20stroke%3D%22%234F3521%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20fill%3D%22%23F4ECE6%22%20d%3D%22M16.5%2011.475V22.5h-3V11.475h3Zm0-3.975v2.66h-3V7.5h3Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-danger: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23E23128%22%2F%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M11.2%205.6%208.8%208l2.4%202.4-.8.8L8%208.8l-2.4%202.4-.8-.8L7.2%208%204.8%205.6l.8-.8L8%207.2l2.4-2.4.8.8Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4.8%204.8h6.4v6.4H4.8z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-alert-filled-success: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23539D82%22%2F%3E%0A%3Cpath%20d%3D%22M7.56522%2010.9928L6%2012.8109L11.1867%2016.799L18%209.71347L16.3526%208.26562L11.1976%2013.9518L7.56522%2010.9928Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E');
  --icon-alert-filled-warning: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%23F1BE3C%22%2F%3E%3Cpath%20fill%3D%22%23032C30%22%20d%3D%22M13.5%2019.5h3v3h-3v-3Zm0-12h3v9h-3v-9Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-partial: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23EFA60B%22%2F%3E%3Cpath%20fill%3D%22%233F3E3E%22%20d%3D%22M5.043%207.329%204%208.54%207.458%2011.2%2012%206.476l-1.098-.965L7.465%209.3%205.043%207.33Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-alert-filled-repealed: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23676560%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M11.209%204.304v-.5h-1v.829a4.258%204.258%200%200%200-4.527.069%204.098%204.098%200%200%200-1.684%202.212%204.003%204.003%200%200%200%20.14%202.761%204.124%204.124%200%200%200%201.896%202.04%204.269%204.269%200%200%200%202.78.401c.945-.183%201.799-.68%202.415-1.41.616-.732.954-1.65.954-2.6h-1.2c0%20.663-.236%201.309-.672%201.826a3.002%203.002%200%200%201-1.726%201.006c-.68.132-1.387.03-1.997-.288a2.924%202.924%200%200%201-1.346-1.444%202.803%202.803%200%200%201-.098-1.935%202.898%202.898%200%200%201%201.192-1.564%203.058%203.058%200%200%201%202.783-.28h-.577v1h2.667V4.304Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-search-black: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22m15.713%2014.384-4.275-4.278a6.272%206.272%200%200%200%201.235-3.765A6.343%206.343%200%200%200%206.336%200%206.343%206.343%200%200%200%200%206.341a6.343%206.343%200%200%200%206.336%206.341c1.368%200%202.66-.428%203.762-1.236l4.275%204.278a.94.94%200%200%200%20.675.276.947.947%200%200%200%20.675-1.616h-.01Zm-4.94-8.043a4.437%204.437%200%201%201-8.873%200%204.437%204.437%200%201%201%208.873%200Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-newsletter-neutral: url('data:image/svg+xml, %0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20d%3D%22M5.567%201.62%204.132.155A10.765%2010.765%200%200%200%200%208.205h2.006a8.808%208.808%200%200%201%201.045-3.708A8.6%208.6%200%200%201%205.567%201.62Zm12.427%206.585H20A10.831%2010.831%200%200%200%2015.868.154L14.443%201.62A8.653%208.653%200%200%201%2016.95%204.5a8.862%208.862%200%200%201%201.045%203.704Zm-1.976.513c0-3.149-1.645-5.785-4.514-6.482v-.698C11.505.688%2010.834%200%2010%200c-.832%200-1.505.687-1.505%201.538v.698c-2.878.697-4.513%203.323-4.513%206.482v5.128l-2.006%202.051v1.026h16.048v-1.026l-2.006-2.05V8.717ZM10%2020c.14%200%20.27-.01.401-.041a2.046%202.046%200%200%200%201.444-1.21%202.1%202.1%200%200%200%20.151-.8H7.984C7.994%2019.077%208.887%2020%2010%2020Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-newsletter-neutral-hover: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M5.567%201.62%204.132.155A10.765%2010.765%200%200%200%200%208.205h2.006a8.808%208.808%200%200%201%201.045-3.708A8.6%208.6%200%200%201%205.567%201.62Zm12.427%206.585H20A10.831%2010.831%200%200%200%2015.868.154L14.443%201.62A8.653%208.653%200%200%201%2016.95%204.5a8.862%208.862%200%200%201%201.045%203.704Zm-1.976.513c0-3.149-1.645-5.785-4.514-6.482v-.698C11.505.688%2010.834%200%2010%200c-.832%200-1.505.687-1.505%201.538v.698c-2.878.697-4.513%203.323-4.513%206.482v5.128l-2.006%202.051v1.026h16.048v-1.026l-2.006-2.05V8.717ZM10%2020c.14%200%20.27-.01.401-.041a2.046%202.046%200%200%200%201.444-1.21%202.1%202.1%200%200%200%20.151-.8H7.984C7.994%2019.077%208.887%2020%2010%2020Z%22%2F%3E%3C%2Fsvg%3E');
  --icon-changelog: url('data:image/svg+xml, %0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18.022.012v5.557h-5.667v-1.5h2.896a8.101%208.101%200%200%200-3.968-1.49%208.146%208.146%200%200%200-5.215%201.27%207.745%207.745%200%200%200-3.186%204.18%207.508%207.508%200%200%200%20.262%205.182%207.811%207.811%200%200%200%203.595%203.859%208.172%208.172%200%200%200%205.318.767%208.005%208.005%200%200%200%204.603-2.684%207.583%207.583%200%200%200%201.798-4.889h2c0%202.257-.804%204.44-2.269%206.178a10.004%2010.004%200%200%201-5.751%203.359c-2.254.436-4.593.099-6.623-.957a9.81%209.81%200%200%201-4.512-4.85%209.508%209.508%200%200%201-.33-6.56%209.745%209.745%200%200%201%204.005-5.26A10.146%2010.146%200%200%201%2011.473.587c1.84.177%203.587.849%205.049%201.932V.012h1.5Zm-6.966%207.175a1%201%200%201%200-2%200v4.329l.503.287%203.134%201.795a1%201%200%201%200%20.994-1.735l-2.631-1.507v-3.17Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-calendar: url('data:image/svg+xml, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M3.5122%209.22374H6.53659V11.9635H3.5122V9.22374Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M6.53659%2013.8813H3.5122V16.621H6.53659V13.8813Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M8.4878%209.22374H11.5122V11.9635H8.4878V9.22374Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M11.5122%2013.8813H8.4878V16.621H11.5122V13.8813Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M16.4878%209.22374V11.9635H13.4634V9.22374H16.4878Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20d%3D%22M16.4878%2016.621V13.8813H13.4634V16.621H16.4878Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.92683%200C5.33094%200%205.65854%200.306654%205.65854%200.684932V1.18721H14.2439V0.684932C14.2439%200.306654%2014.5715%200%2014.9756%200C15.3797%200%2015.7073%200.306654%2015.7073%200.684932V1.18721H19.6098C19.8253%201.18721%2020%201.35076%2020%201.55251V19.6347C20%2019.8365%2019.8253%2020%2019.6098%2020H0.390244C0.174718%2020%200%2019.8365%200%2019.6347V1.55251C0%201.35076%200.174718%201.18721%200.390244%201.18721H4.19512V0.684932C4.19512%200.306654%204.52272%200%204.92683%200ZM14.2439%202.55708V2.69406C14.2439%203.07234%2014.5715%203.379%2014.9756%203.379C15.3797%203.379%2015.7073%203.07234%2015.7073%202.69406V2.55708H18.5366V5.84475H1.46341V2.55708H4.19512V2.69406C4.19512%203.07234%204.52272%203.379%204.92683%203.379C5.33094%203.379%205.65854%203.07234%205.65854%202.69406V2.55708H14.2439ZM1.46341%207.21461V18.6301H18.5366V7.21461H1.46341Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  --icon-important: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSIxNSIgY3k9IjE1IiByPSIxNSIgZmlsbD0iI0UyMzEyOCIvPgogIDxwYXRoIGQ9Ik0xMy4zNjcgNy42NTRoMy4wNTd2My42NTNsLS43OTEgNi43MThoLTEuNDU1bC0uODEtNi43MThWNy42NTRabS4wNjggMTEuNTI0aDIuOTFWMjJoLTIuOTF2LTIuODIyWiIgZmlsbD0iI2ZmZiIvPgo8L3N2Zz4K');
  --icon-important-large: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTUiIGN5PSIxNSIgcj0iMTUiIGZpbGw9IiNFMjMxMjgiLz4KPHBhdGggZD0iTTEzLjM2NzIgNy42NTQzSDE2LjQyMzhWMTEuMzA2NkwxNS42MzI4IDE4LjAyNTRIMTQuMTc3N0wxMy4zNjcyIDExLjMwNjZWNy42NTQzWk0xMy40MzU1IDE5LjE3NzdIMTYuMzQ1N1YyMkgxMy40MzU1VjE5LjE3NzdaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
  --icon-x-flat: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23075B7A%22%20stroke-width%3D%222%22%20d%3D%22m.7071%201.5151%2016.8246%2016.8246M1.6722%2018.3398%2018.4968%201.5152%22%2F%3E%3C%2Fsvg%3E');
  --icon-x-flat-hover: url('data:image/svg+xml, %3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20d%3D%22m.7071%201.5151%2016.8246%2016.8246M1.6722%2018.3398%2018.4968%201.5152%22%2F%3E%3C%2Fsvg%3E');

  --icon-carret-down: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%233F3E3E%22%20d%3D%22M16.393%203.6%209%2011.127%201.607%203.6%200%205.236%209%2014.4l9-9.164L16.393%203.6Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-carret-down-primary: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0_1090_112548%29%22%3E%0A%3Cpath%20d%3D%22M18.2143%203.99999L10%2012.3636L1.78571%204L0%205.81819L10%2016L20%205.81817L18.2143%203.99999Z%22%20fill%3D%22%23075B7A%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_1090_112548%22%3E%0A%3Crect%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A');
  --icon-carret-up: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M16.393%203.6%209%2011.127%201.607%203.6%200%205.236%209%2014.4l9-9.164L16.393%203.6Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-carret-right-small: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNLjIgMS40MyAzLjY2MSA1IC4yIDguNTdsMS4wNjYgMS4wOTdMNS44IDUgMS4yNjYuMzMzLjIgMS40M1oiIGZpbGw9IiM0NjQ1NDUiLz48L3N2Zz4=');
  --icon-carret-left: url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%2212%22%20fill%3D%22%23075A78%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.41%201.41L6%200%200%206l6%206%201.41-1.41L2.83%206l4.58-4.59z%22%2F%3E%3C%2Fsvg%3E');
  --icon-carret-right: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2214%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M.907%201.645L6.328%207l-5.42%205.355L2.575%2014l7.102-7-7.102-7L.907%201.645z%22%20fill%3D%22%23403F3F%22%2F%3E%3C%2Fsvg%3E');
  --icon-hamburger: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23403f3f%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18%2018H0v-2.25h18V18ZM18%2010.125H0v-2.25h18v2.25ZM18%202.25H0V0h18v2.25Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-hamburger-on-dark: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18%2018H0v-2.25h18V18ZM18%2010.125H0v-2.25h18v2.25ZM18%202.25H0V0h18v2.25Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-x: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23403f3f%22%20d%3D%22M18%202.25%2011.25%209%2018%2015.75%2015.75%2018%209%2011.25%202.25%2018%200%2015.75%206.75%209%200%202.25%202.25%200%209%206.75%2015.75%200%2018%202.25Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-x-on-dark: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23075B7A%22%20d%3D%22M18%202.25%2011.25%209%2018%2015.75%2015.75%2018%209%2011.25%202.25%2018%200%2015.75%206.75%209%200%202.25%202.25%200%209%206.75%2015.75%200%2018%202.25Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');

  --icon-arrow-down-on-light: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-up-on-light: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-down-on-dark: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-down-white: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22m29.762%2015-2.602-2.602-10.315%2010.297V.238h-3.69v22.457L2.84%2012.398.238%2015%2015%2029.762%2029.762%2015Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h30v30H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
  --icon-arrow-up-on-dark: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.841%2010l-1.734-1.735-6.877%206.865V.159H8.77v14.97L1.893%208.266.16%2010%2010%2019.841%2019.841%2010z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
  --icon-arrow-down-small: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1Ljg3MyA3Ljk5OTk3TDE0LjQ4NTQgNi42MTIzNUw4Ljk4NDE2IDEyLjEwMzhMOC45ODQxNiAwLjEyNjk1M0w3LjAxNTkgMC4xMjY5NTNMNy4wMTU5IDEyLjEwMzhMMS41MTQ2NCA2LjYxMjM1TDAuMTI3MDE3IDcuOTk5OTdMOC4wMDAwMyAxNS44NzNMMTUuODczIDcuOTk5OTdaIiBmaWxsPSIjMDc1QjdBIi8+Cjwvc3ZnPgo=');
  --icon-form-intro: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%233F3E3E%22%2F%3E%3Cpath%20d%3D%22M7%2014h10M7%2018h5M7%2010h12%22%20stroke%3D%22%23F9F6F1%22%20stroke-width%3D%222%22%2F%3E%3Cpath%20d%3D%22m16.176%2020.722-.11%202.294a.162.162%200%200%200%20.25.144l1.932-1.241a.16.16%200%200%200%20.052-.056l5.684-9.844-2.103-1.214-5.684%209.844a.161.161%200%200%200-.021.073ZM24.39%2011.318l-2.104-1.214L23.42%208.14a.162.162%200%200%201%20.222-.06l1.822%201.053a.162.162%200%200%201%20.06.22l-1.134%201.964Z%22%20fill%3D%22%23F9F6F1%22%2F%3E%3C%2Fsvg%3E');
  --icon-task: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%20%20%3Cline%20x1%3D%227%22%20y1%3D%2214%22%20x2%3D%2219%22%20y2%3D%2214%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%2F%3E%0A%20%20%3Cline%20x1%3D%227%22%20y1%3D%2218%22%20x2%3D%2212%22%20y2%3D%2218%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%2F%3E%0A%20%20%3Cline%20x1%3D%227%22%20y1%3D%2210%22%20x2%3D%2219%22%20y2%3D%2210%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M15.5%2017L14%2019L18.9706%2023.387L25.5%2015.5927L23.9212%2014L18.981%2020.2549L15.5%2017Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  --icon-warning: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2231%22%20viewBox%3D%220%200%2030%2031%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2215%22%20cy%3D%2215.5%22%20r%3D%2215%22%20fill%3D%22%23EFA60B%22%2F%3E%0A%3Cpath%20d%3D%22M13.5%2020H16.5V23H13.5V20ZM13.5%208H16.5V17H13.5V8Z%22%20fill%3D%22%233F3E3E%22%2F%3E%0A%3C%2Fsvg%3E');
  --icon-info: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2231%22%20viewBox%3D%220%200%2030%2031%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%2215%22%20cy%3D%2215.5%22%20r%3D%2214%22%20fill%3D%22%23348BA3%22%20stroke%3D%22%23348BA3%22%20stroke-width%3D%222%22%2F%3E%0A%3Cpath%20d%3D%22M16.5%2011.9751V23H13.5V11.9751H16.5ZM16.5%208V10.6601H13.5V8H16.5Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E');
  --icon-current-issue: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227%22%20height%3D%2234%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%233F3E3E%22%20fill-rule%3D%22evenodd%22%20d%3D%22M26.5%201.964V0l-1.588%201.155-10.737%207.809H3c-1.021%200-1.8.327-2.321.87A2.4%202.4%200%200%200%200%2011.464V21.464c0%20.726.325%201.276.79%201.611.416.299.883.389%201.21.389h6.5v9.555h2v-9.555h3.691l10.746%207.326%201.563%201.066V1.964Zm-11.412%208.809L24.5%203.928v24.144l-9.437-6.434-.255-.174H2V11.463a.32.32%200%200%201%20.022-.09.462.462%200%200%201%20.1-.155c.078-.082.3-.255.878-.255H14.825l.263-.191Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-file-upload: url('data:image/svg+xml,%3Csvg%20width%3D%2223%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M21.51%2010.46L11.312%2020.537c-1.979%201.949-5.197%201.949-7.175%200a4.956%204.956%200%20010-7.072L14.921%202.879a3.079%203.079%200%20014.305%200%202.972%202.972%200%20010%204.242l-8.63%208.464c-.396.39-1.04.39-1.435%200a.99.99%200%20010-1.414l7.196-7.05-1.436-1.414-7.196%207.049a2.971%202.971%200%20000%204.244%203.076%203.076%200%20004.304%200l8.63-8.464A4.946%204.946%200%200022.146%205c0-2.77-2.279-5-5.073-5a5.094%205.094%200%2000-3.587%201.466L2.703%2012.049a6.934%206.934%200%2000-2.08%204.95c0%203.864%203.176%207%207.102%207a7.136%207.136%200%20005.022-2.05l10.197-10.074-1.435-1.414z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
  --icon-document: url('data:image/svg+xml,%3Csvg%20width%3D%2215%22%20height%3D%2216%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.52%208H2.88V6.4h8.64V8Zm-5.04%202.91h-3.6v-1.6h3.6v1.6Zm5.04-5.82H2.88v-1.6h8.64v1.6ZM12.8%201.6H1.6v12.8h11.2V1.6ZM0%200v16h14.4V0H0Z%22%20fill%3D%22%23075B7A%22%2F%3E%3C%2Fsvg%3E');
  --icon-pdf: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227%22%20height%3D%2228%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23054449%22%20d%3D%22M8.663%2017.19c.252%200%20.451.07.598.212.152.136.228.32.228.551a.728.728%200%200%201-.228.56c-.147.136-.346.204-.598.204h-.78v-1.528h.78ZM13.503%2017.229c.241%200%20.435.068.582.204.147.137.22.315.22.536v2.055a.706.706%200%200%201-.22.544c-.147.136-.34.204-.582.204h-.685V17.23h.685Z%22%2F%3E%3Cpath%20fill%3D%22%23054449%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.906%205.563c0-.777.63-1.407%201.407-1.407h8.437c.224%200%20.438.09.597.247l4.5%204.5a.844.844%200%200%201%20.247.597v4.781h2.531c.466%200%20.844.378.844.844V23a.844.844%200%200%201-.844.844H3.375A.844.844%200%200%201%202.531%2023v-7.875c0-.466.378-.844.844-.844h2.531V5.562Zm10.407%204.78c-.777%200-1.407-.629-1.407-1.405V5.844H7.594v8.437h11.812v-3.937h-3.093Zm.28-3.306%201.62%201.62h-1.62v-1.62Zm-6.875%209.318c-.3-.153-.651-.229-1.055-.229H6.702v5.749h1.18V19.78h.78c.405%200%20.757-.076%201.056-.228.299-.152.533-.365.7-.638.169-.278.253-.599.253-.96%200-.368-.084-.689-.252-.962a1.656%201.656%200%200%200-.701-.637Zm4.824%200c-.294-.153-.64-.229-1.04-.229h-1.866v5.749h1.867c.399%200%20.745-.076%201.04-.229.298-.157.53-.375.692-.653.168-.278.252-.601.252-.969V17.97c0-.373-.084-.696-.252-.969a1.65%201.65%200%200%200-.693-.645Zm2.107%205.52v-5.749h3.702v1.103h-2.536v1.275h2.331v1.103h-2.315v2.268H16.65Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --icon-external-link: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227%22%20height%3D%2228%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%23054449%22%20fill-rule%3D%22evenodd%22%20d%3D%22M23.098%204.405a.84.84%200%200%201%20.246.595v8.438a.844.844%200%200%201-1.688%200V7.037l-9.81%209.81a.844.844%200%201%201-1.193-1.194l9.81-9.81h-6.4a.844.844%200%200%201%200-1.687H22.5a.84.84%200%200%201%20.595.246l.002.001.001.002Zm-17.754%206.22c0-.155.126-.281.281-.281H13.5a.844.844%200%200%200%200-1.688H5.625a1.969%201.969%200%200%200-1.969%201.969v11.25c0%201.087.882%201.969%201.969%201.969h11.25a1.969%201.969%200%200%200%201.969-1.969V14a.844.844%200%200%200-1.688%200v7.875a.281.281%200%200%201-.281.281H5.625a.281.281%200%200%201-.281-.281v-11.25Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');

  --icon-legislation: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%2210%22%20fill%3D%22%23075B7A%22%2F%3E%3Cpath%20d%3D%22M9.121%2014.0957c.1867.2431.4927.3646.9181.3646.2604%200%20.4839-.0803.6705-.2409.1867-.1606.28-.3689.28-.625%200-.23-.0977-.4319-.293-.6055-.1953-.1736-.7487-.4904-1.6601-.9505-.7943-.3906-1.3369-.7118-1.6277-.9635-.4644-.4037-.6966-.8941-.6966-1.4714%200-.5425.1563-.9917.4688-1.3476.1823-.2127.4405-.4059.7747-.5795-.1389-.0955-.2886-.269-.4492-.5208-.165-.3125-.2474-.6597-.2474-1.0417%200-.6467.23-1.2044.6901-1.6731.4644-.4688%201.1393-.7032%202.0248-.7032%201.059%200%201.8099.3473%202.2526%201.0417.2387.3733.3776.8398.4166%201.3997h-1.6797c-.0303-.2604-.0954-.4665-.1953-.6185-.1779-.269-.4709-.4036-.8789-.4036-.2734%200-.497.0673-.6706.2018-.1736.1302-.2604.3234-.2604.5795%200%20.295.152.5164.4558.664.3038.1476.8615.408%201.6731.7813%201.415.6684%202.1224%201.4431%202.1224%202.3242%200%20.5512-.1606%201.0069-.4817%201.3672-.178.1996-.4384.3884-.7813.5664.2431.2083.421.4036.5339.5859.1996.3169.2994.6901.2994%201.1198%200%20.829-.2864%201.4605-.8593%201.8945-.5729.4384-1.2153.6576-1.9271.6576-.7726%200-1.4301-.1932-1.9727-.5794-.5382-.3863-.8441-1.0265-.918-1.9206h1.7579c.0607.3212.1476.5534.2604.6966Zm.0196-4.0299%201.849.97a.9707.9707%200%200%200%20.3646-.2669c.1562-.1693.2343-.3711.2343-.6055%200-.1953-.1041-.382-.3125-.5599-.1128-.0911-.2691-.1888-.4687-.293L8.8607%208.321c-.2257.0954-.3863.2365-.4818.4231a.8614.8614%200%200%200-.0911.3907c0%20.2126.0933.4014.28.5664.1084.0998.2994.2213.5728.3646Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
  --icon-legislation-large: url('data:image/svg+xml,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%233F3E3E%22%2F%3E%3Cpath%20d%3D%22M11.934%2012.514c-.209-.144-.433-.404-.674-.782a3.295%203.295%200%200%201-.371-1.562c0-.97.345-1.807%201.035-2.51.696-.703%201.709-1.055%203.037-1.055%201.588%200%202.715.521%203.379%201.563.358.56.566%201.26.625%202.1h-2.52c-.045-.391-.143-.7-.293-.928-.267-.404-.706-.606-1.318-.606-.41%200-.745.101-1.006.303-.26.195-.39.485-.39.87%200%20.442.227.774.683.995.456.222%201.292.612%202.51%201.172%202.122%201.003%203.183%202.165%203.183%203.486%200%20.827-.24%201.511-.722%202.051-.267.3-.658.583-1.172.85.364.312.631.605.8.879.3.475.45%201.035.45%201.68%200%201.243-.43%202.19-1.29%202.841a4.638%204.638%200%200%201-2.89.987c-1.159%200-2.145-.29-2.959-.87-.807-.579-1.266-1.54-1.377-2.88h2.637c.091.481.221.83.39%201.045.28.364.74.546%201.378.546.39%200%20.726-.12%201.005-.36.28-.242.42-.554.42-.938%200-.345-.146-.648-.44-.909-.292-.26-1.122-.735-2.49-1.425-1.19-.586-2.005-1.068-2.44-1.446-.697-.605-1.046-1.34-1.046-2.207%200-.813.235-1.487.704-2.021.273-.32.66-.609%201.162-.87Zm5.449%203.73c0-.293-.156-.573-.469-.84a4.333%204.333%200%200%200-.703-.44l-2.92-1.484c-.338.144-.58.355-.723.635a1.292%201.292%200%200%200-.136.586c0%20.32.14.602.42.85.162.15.449.332.859.547l2.773%201.455c.215-.091.397-.225.547-.4.235-.255.352-.557.352-.909Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');

  --multiselect-focus-outline-color: var(--color-mt-blue-medium);
  --multiselect-option-hover-bg: var(--color-mt-lighter-light-blue);
  --multiselect-option-before: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20x%3D%22.5%22%20y%3D%22.5%22%20width%3D%2223%22%20height%3D%2223%22%20rx%3D%223.5%22%20fill%3D%22%23fff%22%20stroke%3D%22%23AFAB89%22%2F%3E%3C%2Fsvg%3E');
  --multiselect-option-before-selected: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2224%22%20height%3D%2224%22%20rx%3D%224%22%20fill%3D%22%23075B7A%22%2F%3E%3Cpath%20d%3D%22M6.826%209.98%205%2012.365l6.051%205.234L19%208.3l-1.922-1.9-6.014%207.463L6.826%209.98Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');

  --current-issues-icon-size: 2.125rem; //34px;
  --current-issues-bg: var(--color-mt-light-green);
  --changelog-panel-bg: var(--color-mt-light-beige);
  --menu-point-svg-circle: var(--color-mt-background);
  --menu-point-icon-height: 2.125rem; //34px

  --grey-medium: hsl(#{$color-grey-hue}, 15%, 50%);
  --grey-light: hsl(#{$color-grey-hue}, 20%, 85%);
  --background-body: #{$color-background-body};
  --font-weight-light: #{$font-weight-light};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};
  --icon-size-small: #{$icon-size-small};
  --icon-size-normal: #{$icon-size-medium};
  --spacer-xxx-small: #{$spacer-xxx-small};
  --spacer-xx-small: #{$spacer-xx-small};
  --spacer-x-small: #{$spacer-x-small};
  --spacer-small: #{$spacer-small};
  --spacer-medium: #{$spacer-medium};
  --spacer-large: #{$spacer-large};
  --spacer-x-large: #{$spacer-x-large};
  --spacer-xx-large: #{$spacer-xx-large};
  --border-radius: #{$border-radius};
  --border-radius-small: #{$border-radius-small};
  --border-radius-large: #{$border-radius-large};
  --border-width-small: #{$border-width-small};
  --border-width-regular: #{$border-width-regular};
  --z-index-dropdown: #{$zindex-dropdown};
  --z-index-fixed: #{$zindex-fixed};
  --z-index-tooltip: #{$zindex-tooltip};
  --z-index-always-focusable-a11y: #{$zindex-always-focusable-a11y};

  --form-group-spacer: var(--spacer-small);
  --form-hint-spacer: var(--spacer-xxx-small);
  --form-text-space: var(--spacer-xx-small);
  --form-control-vertical: var(--spacer-xxx-small);
  --radio-checkbox-dimention: 1.5em;

  --mt-header-bg: transparent;
  --mt-header-footer-border: var(--color-mt-red);
  --mt-footer-background: transparent;
  --mt-footer-color: var(--color-mt-text-dark);
  --mt-footer-links-color: var(--color-links);
  --mt-footer-link-color-focus: var(--color-mt-blue-medium);

  --mt-button-primary-bg: var(--color-primary);
  --mt-button-primary-color: var(--color-mt-new-white);
  --mt-button-primary-border: var(--color-primary);
  --mt-button-primary-bg-hover: var(--color-mt-text-dark);
  --mt-button-primary-color-hover: var(--color-mt-background);
  --mt-button-primary-border-hover: var(--color-mt-text-dark);
  --mt-button-primary-bg-focus: var(--color-mt-blue-medium);
  --mt-button-primary-color-focus: var(--color-mt-new-white);
  --mt-button-primary-border-focus: var(--color-primary);
  --mt-button-primary-bg-disabled: #a7a9ac;
  --mt-button-primary-color-disabled: var(--color-primary);
  --mt-button-primary-border-disabled: #a7a9ac;

  --mt-button-no-primary-border-focus-shadow: var(--color-mt-beige);

  --mt-button-neutral-bg: var(--color-mt-background);
  --mt-button-neutral-color: var(--color-primary);
  --mt-button-neutral-border: var(--color-primary);
  --mt-button-neutral-bg-hover: var(--color-mt-blue);
  --mt-button-neutral-color-hover: var(--color-mt-white);
  --mt-button-neutral-border-hover: var(--color-mt-blue);
  --mt-button-neutral-bg-focus: var(--color-mt-new-white);
  --mt-button-neutral-color-focus: var(--color-primary);
  --mt-button-neutral-border-focus: var(--color-primary);
  --mt-button-neutral-bg-disabled: var(--color-mt-background);
  --mt-button-neutral-color-disabled: #a7a9ac;
  --mt-button-neutral-border-disabled: var(--color-mt-background);

  --mt-button-flat-bg: transparent;
  --mt-button-flat-color: var(--color-mt-blue);
  --mt-button-flat-border: var(--color-mt-new-white);
  --mt-button-flat-bg-hover: transparent;
  --mt-button-flat-color-hover: var(--color-mt-blue);
  --mt-button-flat-border-hover: var(--color-primary);
  --mt-button-flat-bg-focus: var(--color-mt-new-white);
  --mt-button-flat-color-focus: var(--color-primary);
  --mt-button-flat-border-focus: var(--color-primary);
  --mt-button-flat-bg-disabled: var(--color-mt-background);
  --mt-button-flat-color-disabled: #a7a9ac;
  --mt-button-flat-border-disabled: var(--color-mt-background);

  @media only screen and (min-width: $breakpoint-large) {
    --icon-size-normal: #{$icon-size-large};
    --spacer-xxx-small: #{$spacer-xx-small};
    --spacer-xx-small: #{$spacer-x-small};
    --spacer-x-small: #{$spacer-small};
    --spacer-small: #{$spacer-medium};
    --spacer-medium: #{$spacer-large};
    --spacer-large: #{$spacer-x-large};
    --spacer-x-large: #{$spacer-xx-large};
    --spacer-xx-large: #{$spacer-xx-large};
  }
}
[data-theme='green'] {
  @include color-tokens-new();
  --body-background: var(--color-mt-bg-beige);
  --body-color: var(--color-mt-text-dark);
  background-color: var(--body-background);
  color: var(--body-color);

  --status-bg-hover: var(--color-mt-white);

  --color-text: var(--color-mt-granskog-dark);
  --color-links: var(--color-mt-granskog-dark);
  --icon-gap: var(--spacer-xxx-small);

  --focus-on-light: var(--color-mt-granskog);
  --focus-on-dark: var(--color-mt-mellombeige);
  --chapter-menu-active-on-dark: var(--color-mt-lys-furu);
  --dialog-box-bg: var(--color-mt-bg-furu);
  --dialog-box-box-shadow: var(--color-mt-granskog);
  --dialog-box-close-hover: var(--color-mt-bg-furu);
  --dialog-box-close-border-hover: var(--color-mt-granskog);
  --disclosure-bordered-border: var(--color-mt-granskog);
  --list-border: var(--color-mt-lys-furu);
  --highlighted-bg: var(--col);
  --highlighted-color: var(--col);

  --dropdown-content-bg: var(--color-mt-bg-furu);
  --dropdown-color: var(--color-links);
  --dropdown-visible-color: var(--color-links);

  --menu-border: var(--color-mt-furu);
  --menu-focus: var(--focus-on-light);
  --disclosure-on-primary-header-expanded: var(--color-mt-white);

  --highlighted-blue-bg: var(--color-mt-white);
  --highlighted-blue-color: var(--color-mt-text-dark);
  --highlighted-blue-link-color: var(--color-mt-text-dark);
  --highlighted-blue-bg-hover: var(--color-mt-lys-furu);
  --highlighted-blue-color-hover: var(--color-mt-text-dark);
  --highlighted-blue-border-hover: var(--color-mt-text-dark);

  --steps-completed-bg: var(--color-mt-lys-furu);
  --steps-bg: var(--color-mt-granskog);
  --steps-color: var(--color-mt-new-white);

  --colored-card-bg: var(--color-mt-bg-furu);

  --table-header-bg: var(--color-mt-bg-furu);
  --table-border: var(--color-mt-granskog);
  --table-row-bg-odd: var(--color-mt-new-white);

  --tag-info-bg: var(--color-mt-bg-fjord);
  --tag-info-border: var(--color-primary);
  --tag-success-bg: var(--color-mt-bg-furu);
  --tag-success-border: var(--color-primary);
  --tag-warning-bg: var(--color-mt-bg-sommerdag);
  --tag-warning-border: var(--color-primary);
  --tag-error-bg: var(--color-mt-bg-rognebaer);
  --tag-error-border: var(--color-primary);
  --tag-neutral-bg: var(--color-mt-mellombeige);
  --tag-neutral-border: var(--color-primary);

  --checkbox-subset-secondary-bg: var(--color-mt-mellombeige);

  --radio-checked-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='%23054449'/%3e%3c/svg%3e");
  --checkbox-checked-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  --checkbox-indeterminate-img: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='4' fill='%23054449'/%3E%3Cline x1='6.5' y1='12.5' x2='17.5' y2='12.5' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");

  --radio-chekbox-button-before-bg-hover: var(--color-primary);
  --radio-checkbox-bg-hover: var(--color-mt-bg-furu);
  --radio-checkbox-color-hover: var(--color-primary);
  --form-border-width: #{$border-width-regular};
  --form-border-color: var(--color-primary);
  --form-border-color-hover: var(--color-primary);
  --form-outline-color: var(--color-mt-blue-medium);

  --icon-search-primary: #{$icon-search-primary};
  --icon-search-primary-hover: #{$icon-search-primary-hover};
  --icon-search-neutral: #{$icon-search-neutral};
  --icon-search-neutral-hover: #{$icon-search-neutral-hover};
  --icon-search-white: #{$icon-search-white};

  --icon-list-checkmark: #{$icon-list-checkmark};
  --icon-alert-filled-info: #{$icon-alert-filled-info};
  --icon-alert-filled-neutral: #{$icon-alert-filled-neutral};
  --icon-alert-filled-danger: #{$icon-alert-filled-danger};
  --icon-alert-filled-success: #{$icon-alert-filled-success};
  --icon-alert-filled-warning: #{$icon-alert-filled-warning};
  --icon-alert-filled-partial: #{$icon-alert-filled-partial};
  --icon-alert-filled-repealed: #{$icon-alert-filled-repealed};
  --icon-search-black: #{$icon-search-black};

  --icon-arrow-primary: #{$icon-arrow-primary};
  --icon-arrow-primary-hover: #{$icon-arrow-primary-hover};
  --icon-arrow-right-primary: #{$icon-arrow-right-primary};
  --icon-arrow-right-on-primary: #{$icon-arrow-right-on-primary};
  --icon-arrow-right-primary-small: #{$icon-arrow-right-primary-small};
  --icon-arrow-right-primary-x-small: #{$icon-arrow-right-primary-x-small};
  --icon-arrow-left-primary-x-small: #{$icon-arrow-left-primary-x-small};
  --icon-arrow-up-on-dark: #{$icon-arrow-up-on-dark};
  --icon-arrow-up-on-light: #{$icon-arrow-up-on-light};
  --icon-arrow-down-on-dark: #{$icon-arrow-down-on-dark};
  --icon-arrow-down-on-light: #{$icon-arrow-down-on-light};
  --icon-arrow-down-small: #{$icon-arrow-down-small};

  --icon-newsletter-neutral: #{$icon-newsletter-neutral};
  --icon-newsletter-neutral-hover: #{$icon-newsletter-neutral-hover};
  --icon-changelog: #{$icon-changelog};
  --icon-change: #{$icon-change};
  --icon-calendar: #{$icon-calendar};
  --icon-important: #{$icon-important};
  --icon-important-large: #{$icon-important-large};
  --icon-x-flat: #{$icon-x-flat};
  --icon-x-flat-hover: #{$icon-x-flat-hover};
  --icon-carret-down: #{$icon-carret-down};
  --icon-carret-down-primary: #{$icon-carret-down-primary};
  --icon-carret-up: #{$icon-carret-up};
  --icon-carret-right-small: #{$icon-carret-right-small};
  --icon-carret-left: #{$icon-carret-left};
  --icon-carret-right-pagination: #{$icon-carret-right-pagination};
  --icon-carret-right: #{$icon-carret-right};
  --icon-hamburger: #{$icon-hamburger};
  --icon-hamburger-on-dark: #{$icon-hamburger-on-dark};
  --icon-x: #{$icon-x};
  --icon-x-on-dark: #{$icon-x-on-dark};
  --icon-form-intro: #{$icon-form-intro};
  --icon-task: #{$icon-task};
  --icon-warning: #{$icon-warning};
  --icon-info: #{$icon-info};
  --icon-current-issue: #{$icon-current-issue};
  --icon-file-upload: #{$icon-file-upload};
  --icon-download: #{$icon-download};
  --icon-upload: #{$icon-upload};
  --icon-document: #{$icon-document};
  --icon-pdf: #{$icon-pdf};
  --icon-external-link: #{$icon-external-link};
  --icon-expand-granskog: #{$icon-expand-granskog};
  --icon-expand-white: #{$icon-expand-white};
  --icon-collapse-white: #{$icon-collapse-white};
  --icon-legislation: #{$icon-legislation};
  --icon-legislation-large: #{$icon-legislation-large};

  --multiselect-focus-outline-color: var(--color-mt-lys-furu);
  --multiselect-option-hover-bg: var(--color-mt-bg-furu);
  --multiselect-option-before: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20x%3D%22.5%22%20y%3D%22.5%22%20width%3D%2223%22%20height%3D%2223%22%20rx%3D%223.5%22%20fill%3D%22%23fff%22%20stroke%3D%22%23054449%22%2F%3E%3C%2Fsvg%3E');
  --multiselect-option-before-selected: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%2224%22%20height%3D%2224%22%20rx%3D%224%22%20fill%3D%22%23054449%22%2F%3E%3Cpath%20d%3D%22M6.826%209.98%205%2012.365l6.051%205.234L19%208.3l-1.922-1.9-6.014%207.463L6.826%209.98Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');

  --chapter-navigation-border: var(--color-mt-beige);
  --chapter-navigation-border: var(--color-primary);

  --current-issues-bg: var(--color-mt-bg-furu);
  --current-issues-icon-size: 3.5rem; // 56px
  --changelog-panel-bg: var(--color-mt-mellombeige);
  --menu-point-svg-circle: var(--color-mt-new-white);
  --menu-point-icon-height: 3.5rem; // 56px

  --mt-header-bg: var(--color-mt-new-white);
  --mt-header-footer-border: transparent;
  --mt-footer-background: var(--color-mt-granskog);
  --mt-footer-color: var(--color-mt-bg-furu);
  --mt-footer-links-color: var(--color-mt-lys-furu);
  --mt-footer-link-color-focus: var(--color-mt-bg-beige);

  --mt-button-primary-bg: var(--color-primary);
  --mt-button-primary-color: var(--color-mt-new-white);
  --mt-button-primary-border: var(--color-primary);
  --mt-button-primary-bg-hover: var(--color-mt-lys-furu);
  --mt-button-primary-color-hover: var(--color-primary);
  --mt-button-primary-border-hover: var(--color-mt-lys-furu);
  --mt-button-primary-bg-focus: var(--color-primary);
  --mt-button-primary-color-focus: var(--color-mt-new-white);
  --mt-button-primary-border-focus: var(--color-primary);
  --mt-button-primary-bg-disabled: #d7d7d7;
  --mt-button-primary-color-disabled: var(--color-mt-granskog-dark);
  --mt-button-primary-border-disabled: #d7d7d7;

  --mt-button-no-primary-border-focus-shadow: var(--color-mt-lys-furu);

  --mt-button-neutral-bg: var(--color-mt-bg-beige);
  --mt-button-neutral-color: var(--color-primary);
  --mt-button-neutral-border: var(--color-primary);
  --mt-button-neutral-bg-hover: var(--color-mt-bg-furu);
  --mt-button-neutral-color-hover: var(--color-primary);
  --mt-button-neutral-border-hover: var(--color-primary);
  --mt-button-neutral-bg-focus: var(--color-mt-new-white);
  --mt-button-neutral-color-focus: var(--color-primary);
  --mt-button-neutral-border-focus: var(--color-primary);
  --mt-button-neutral-bg-disabled: var(--color-mt-bg-beige);
  --mt-button-neutral-color-disabled: #6d7073;
  --mt-button-neutral-border-disabled: #6d7073;

  --mt-button-flat-bg: transparent;
  --mt-button-flat-color: var(--color-primary);
  --mt-button-flat-border: transparent;
  --mt-button-flat-bg-hover: var(--color-mt-bg-furu);
  --mt-button-flat-color-hover: var(--color-primary);
  --mt-button-flat-border-hover: var(--color-primary);
  --mt-button-flat-bg-focus: transparent;
  --mt-button-flat-color-focus: var(--color-primary);
  --mt-button-flat-border-focus: var(--color-primary);
  --mt-button-flat-bg-disabled: var(--color-mt-bg-beige);
  --mt-button-flat-color-disabled: #6d7073;
  --mt-button-flat-border-disabled: var(--color-mt-bg-beige);

  --fds-spacing-0: #{$fds-spacing-0};
  --fds-spacing-1: #{$fds-spacing-1};
  --fds-spacing-2: #{$fds-spacing-2};
  --fds-spacing-3: #{$fds-spacing-3};
  --fds-spacing-4: #{$fds-spacing-4};
  --fds-spacing-5: #{$fds-spacing-5};
  --fds-spacing-6: #{$fds-spacing-6};
  --fds-spacing-7: #{$fds-spacing-7};
  --fds-spacing-8: #{$fds-spacing-8};
  --fds-spacing-9: #{$fds-spacing-9};
  --fds-spacing-10: #{$fds-spacing-10};
  --fds-spacing-11: #{$fds-spacing-11};
  --fds-spacing-12: #{$fds-spacing-12};
  --fds-spacing-13: #{$fds-spacing-13};
  --fds-spacing-14: #{$fds-spacing-14};
  --fds-spacing-15: #{$fds-spacing-15};
  --fds-spacing-18: #{$fds-spacing-18};
  --fds-spacing-22: #{$fds-spacing-22};
  --fds-spacing-26: #{$fds-spacing-26};
  --fds-spacing-30: #{$fds-spacing-30};
}

.mt-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 0;
  background-color: var(--body-background);
  color: var(--body-color);
  font-family: $font-family;
  font-size: $font-size-body;

  .layout-with-sidebar {
    & + .mt-footer {
      margin-top: 0;
    }
  }

  .mt-footer {
    margin-top: var(--spacer-small);

    a {
      @extend .mt-link;
      color: var(--mt-footer-color);
      &:focus {
        box-shadow: 0 0 0 0.25rem var(--mt-footer-color);
      }
    }
    h2 {
      @extend .mt-h2;
    }
    h3 {
      @extend .mt-h3;
    }
    h4 {
      @extend .mt-h4;
    }
    h5 {
      @extend .mt-h5;
    }
    h6 {
      @extend .mt-h6;
    }
  }
}
