@use '../color-tokens' as *;
@use '../theme' as *;

$icon-figma: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2290%22%20height%3D%2290%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%231E1E1E%22%20d%3D%22M0%200h90v90H0z%22%2F%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22%231ABCFE%22%20d%3D%22M45%2045.5a9.5%209.5%200%201%201%2019%200%209.5%209.5%200%200%201-19%200Z%22%2F%3E%3Cpath%20fill%3D%22%230ACF83%22%20d%3D%22M26%2064.5a9.5%209.5%200%200%201%209.5-9.5H45v9.5a9.5%209.5%200%201%201-19%200Z%22%2F%3E%3Cpath%20fill%3D%22%23FF7262%22%20d%3D%22M45%2017v19h9.5a9.5%209.5%200%201%200%200-19H45Z%22%2F%3E%3Cpath%20fill%3D%22%23F24E1E%22%20d%3D%22M26%2026.5a9.5%209.5%200%200%200%209.5%209.5H45V17h-9.5a9.5%209.5%200%200%200-9.5%209.5Z%22%2F%3E%3Cpath%20fill%3D%22%23A259FF%22%20d%3D%22M26%2045.5a9.5%209.5%200%200%200%209.5%209.5H45V36h-9.5a9.5%209.5%200%200%200-9.5%209.5Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M26%2017h38v57H26z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
$icon-github: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M0%200v24h24V0H0zm14.534%2019.59c-.406.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481%201.782-.198%203.654-.875%203.654-3.947%200-.874-.311-1.588-.824-2.147.083-.202.357-1.016-.079-2.117%200%200-.671-.215-2.198.82A7.603%207.603%200%200%200%2012%207.868a7.643%207.643%200%200%200-2.003.269c-1.528-1.035-2.2-.82-2.2-.82-.434%201.102-.16%201.915-.077%202.118a3.092%203.092%200%200%200-.824%202.147c0%203.064%201.867%203.751%203.645%203.954-.229.2-.436.552-.508%201.07-.457.204-1.614.557-2.328-.666%200%200-.423-.768-1.227-.825%200%200-.78-.01-.055.487%200%200%20.525.246.889%201.17%200%200%20.463%201.428%202.688.944v1.489c0%20.211-.129.459-.528.385A8%208%200%200%201%2012%204a8%208%200%200%201%202.534%2015.59z%22%2F%3E%3C%2Fsvg%3E');

.icon-align {
  display: flex;
  align-items: center;
  gap: $icon-gap;

  &--baseline {
    align-items: baseline;
  }
}

@mixin caret-down($color) {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M18.214%204%2010%2012.364%201.786%204%200%205.818%2010%2016%2020%205.818%2018.214%204Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
}

@mixin caret-up($color) {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M1.786%2016%2010%207.636%2018.214%2016%2020%2014.182%2010%204%200%2014.182%201.786%2016Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
}

@mixin hamburger($color) {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22#{$color}%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18%2018H0v-2.25h18V18ZM18%2010.125H0v-2.25h18v2.25ZM18%202.25H0V0h18v2.25Z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
}

@mixin close-x($color) {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url%28%23a%29%22%3E%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M20%202.5%2012.5%2010l7.5%207.5-2.5%202.5-7.5-7.5L2.5%2020%200%2017.5%207.5%2010%200%202.5%202.5%200%2010%207.5%2017.5%200%2020%202.5Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
}

@mixin icon-background {
  padding-right: var(--icon-size-normal);
  content: '';
  width: var(--icon-size-normal);
  height: var(--icon-size-normal);
  background-size: var(--icon-size-normal) var(--icon-size-normal);
  background-repeat: no-repeat;
}

.icon {
  &--caret-down-after {
    @extend .icon-align;

    &:after {
      @include caret-down($color-mt-text-dark);
      @include icon-background;
    }

    &-on-primary {
      @extend .icon-align;

      &:after {
        @include caret-down($color-mt-white);
        @include icon-background;
      }

      &:hover {
        &:after {
          @include caret-down($color-primary);
        }
      }

      &[aria-expanded='true'] {
        &::after {
          @include caret-up($color-mt-white);
        }

        &:hover {
          &::after {
            @include caret-up($color-primary);
          }
        }
      }

      @media screen and (prefers-reduced-motion: no-preference) {
        &[aria-expanded] {
          &::after {
            @include caret-down($color-mt-white);
            transition: transform 0.3s ease;
          }

          &:hover {
            &::after {
              @include caret-down($color-primary);
            }
          }
        }

        &[aria-expanded='true']::after {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &--changelog-before {
    @extend .icon-align;

    &:before {
      background-image: var(--icon-changelog);
      @include icon-background;
    }
  }

  &--hamburger-menu-on-dark-before {
    @extend .icon-align;

    &:before {
      background-image: var(--icon-hamburger-on-dark);
      @include icon-background;
    }

    &[aria-expanded='true'] {
      &::before {
        background-image: var(--icon-x-on-dark);
      }
    }

    @media screen and (prefers-reduced-motion: no-preference) {
      &[aria-expanded] {
        &::before {
          transition: transform 0.3s ease;
        }
      }

      &[aria-expanded='true']::before {
        transform: rotate(-180deg);
      }
    }
  }
  &--hamburger-menu-on-light-after {
    @extend .icon-align;

    &::after {
      @include icon-background;
      background-image: var(--icon-hamburger);
    }

    &[aria-expanded='true'] {
      &::after {
        background-image: var(--icon-x);
      }
    }

    @media screen and (prefers-reduced-motion: no-preference) {
      &[aria-expanded] {
        &::after {
          transition: transform 0.3s ease;
        }
      }

      &[aria-expanded='true']::after {
        transform: rotate(-180deg);
      }
    }
  }
  &--newsletter-bell-before {
    @extend .icon-align;

    &:before {
      background-image: var(--icon-newsletter-neutral);
      @include icon-background;
    }

    &:hover {
      &:before {
        background-image: var(--icon-newsletter-neutral-hover);
      }
    }
  }

  &--alert-filled-error-before {
    @extend .icon-align;

    &:before {
      background-image: var(--icon-alert-filled-error);
      @include icon-background;
    }
  }

  &--alert-filled-success-before {
    @extend .icon-align;

    &:before {
      background-image: var(--icon-alert-filled-success);
      @include icon-background;
    }
  }

  &--alert-filled-warning-before {
    @extend .icon-align;

    &:before {
      background-image: var(--icon-alert-filled-warning);
      @include icon-background;
    }
  }

  &--alert-filled-repealed-before {
    @extend .icon-align;

    &:before {
      background-image: var(--icon-alert-filled-repealed);
      @include icon-background;
    }
  }

  &--figma {
    @extend .icon-align;

    &:before {
      background-image: $icon-figma;
      @include icon-background;
    }
  }

  &--github {
    @extend .icon-align;

    &:before {
      background-image: $icon-github;
      @include icon-background;
    }
  }

  &--list-checkmark-before {
    @extend .icon-align, .icon-align--baseline;

    &:before {
      background-image: var(--icon-list-checkmark);
      @include icon-background;
    }
  }

  &--search-before {
    @extend .icon-align;
    &:before {
      background-image: var(--icon-search-neutral);
      @include icon-background;
    }
    &:hover {
      &:before {
        background-image: var(--icon-search-neutral-hover);
      }
    }
  }

  &--search-before-primary {
    @extend .icon--search-before;
    &:before {
      background-image: var(--icon-search-primary);
    }
    &:hover {
      &:before {
        background-image: var(--icon-search-primary-hover);
      }
    }
  }

  &--search-after {
    @extend .icon-align;

    &:after {
      display: block;
      background-image: var(--icon-search-black);
      @include icon-background;
    }
  }

  &--forward-arrow-after {
    @extend .icon-align;

    &:after {
      display: block;
      background-image: var(--icon-arrow-primary-hover);
      @include icon-background;
    }
  }

  &--calendar-before {
    @extend .icon-align;

    &:before {
      background-image: var(--icon-calendar);
      @include icon-background;
    }
  }
}
