// stylelint-disable no-descending-specificity
@use '../utilities/mixins' as *;
@use '../theme' as *;
@use '../color-tokens' as *;
@use 'icon' as *;

$transportlink-default-color: 'primary' !default;
$transportlink-colors: 'error' !default;

.mt-link {
  @include focus-outline();
  @include disabled;
  $transport-card-list-font-size: $font-size-label;

  color: var(--color-links);
  border-radius: var(--border-radius-small);
  padding: var(--border-width-regular);
  line-height: 1.75rem;
  min-width: $minimum-click-width;

  &.inline-flex {
    display: inline-flex;
  }
  &.fit-content {
    width: fit-content;
  }

  &:hover {
    text-decoration: none;
  }
  &:focus {
    box-shadow: $focus-box-shadow-no-outline;
  }

  &.multi-line {
    display: flex;
    flex-direction: column;
    gap: 0;
    line-height: 140%;
  }

  &.no-underline {
    text-decoration: none;
    &.hover-indent {
      --hover-padding: var(--spacer-xxx-small);
      transition: padding-left ease-in-out 150ms;
      &:hover {
        padding-left: var(--hover-padding);
        text-decoration: none;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &[aria-current='page'] {
    font-weight: $font-weight-bold;
  }

  &.document {
    --icon-width: 15px;
    --indent: calc(var(--icon-width) + var(--spacer-xxx-small));
    display: inline-block;
    align-items: center;
    color: var(--color-links);
    margin-left: var(--indent);
    &::before {
      content: var(--icon-document);
      margin-right: var(--spacer-xxx-small);
      display: inline-block;
      width: var(--icon-width);
      margin-left: calc(-1 * var(--indent));
    }
  }

  &.down-arrow {
    display: inline-flex;

    &::before {
      content: var(--icon-arrow-down-small);
      margin-right: var(--spacer-xxx-small);
      margin-top: 1px;
      margin-bottom: -1px;
    }
  }

  &.forward-arrow {
    &::before {
      content: var(--icon-carret-right-small);
      display: inline-block;
      margin-right: var(--spacer-x-small);
    }
  }
  &[aria-current='page'] {
    color: var(--color-mt-text-dark);
    text-decoration: none;
  }

  &.forward-arrow-end {
    --hover-padding: var(--spacer-small);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding-left ease-in-out 150ms;
    &:hover {
      padding-left: var(--hover-padding);
    }
    &.padded {
      padding: var(--spacer-xx-small) var(--spacer-x-small);
    }
    &:after {
      display: block;
      background-image: var(--icon-arrow-right-on-primary);
      margin-left: var(--spacer-xxx-small);
      padding-right: var(--icon-size-normal);
      content: '';
      width: var(--icon-size-normal);
      height: var(--icon-size-normal);
      background-size: var(--icon-size-normal) var(--icon-size-normal);
      background-repeat: no-repeat;
    }
    &.blue-arrow {
      &:after {
        background-image: var(--icon-arrow-right-primary);
      }
    }
    &--large {
      @media only screen and (min-width: $breakpoint-large) {
        font-size: $transport-card-list-font-size;
      }
    }
  }

  &.skip-link {
    z-index: var(--z-index-always-focusable-a11y);
  }

  &.forward-arrow-end-link {
    display: inline-flex;
    font-size: $font-size-body;
    transition: padding-left ease-in-out 150ms;
    &:hover {
      text-decoration: none;
      padding-left: var(--spacer-xxx-small);
    }
    &:after {
      content: var(--icon-arrow-right-primary-small);
      display: inline-block;
      height: 1.3125rem;
      margin-left: var(--spacer-xxx-small);
      vertical-align: -7%;
    }
  }

  .next-link,
  &.next-link {
    display: block;
    &:hover {
      text-decoration: none;
    }
    &:after {
      content: var(--icon-arrow-right-primary-x-small);
      display: inline-block;
      margin-left: var(--spacer-xxx-small);
    }
  }
  .previous-link,
  &.previous-link {
    display: block;
    &:hover {
      text-decoration: none;
    }
    &:before {
      content: var(--icon-arrow-left-primary-x-small);
      display: inline-block;
      margin-right: var(--spacer-xxx-small);
    }
  }

  &.forward-arrow-small {
    --icon-size: #{$icon-size-small};
    display: flex;
    align-items: center;

    &:after {
      margin-left: var(--spacer-xxx-small);
      background-image: var(--icon-arrow-right-on-primary);
      content: '';
      width: var(--icon-size);
      height: var(--icon-size);
      background-size: var(--icon-size) var(--icon-size);
      background-repeat: no-repeat;
      display: block;
      padding-right: var(--icon-size);
    }
  }
  &.top-task {
    --text-color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--spacer-x-small);
    gap: var(--spacer-xxx-small);
    background-color: var(--color-mt-white);
    color: var(--text-color);
    &:hover {
      background-color: var(--color-mt-green-300);
      @media (prefers-reduced-motion: no-preference) {
        transition: background-color $transition-ms-300 ease;
      }
    }
    &:active {
      background-color: var(--color-mt-green-400);
      @media (prefers-reduced-motion: no-preference) {
        transition: background-color $transition-ms-100 ease;
      }
    }
    .heading {
      width: 100%;
      text-align: left;
      padding-right: 2rem;
      color: var(--text-color);
    }
    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--spacer-xxx-small);
      line-height: 140%;
      text-align: left;
      color: var(--text-color);
    }
  }
  .forward-arrow-after,
  &.forward-arrow-after {
    display: block;
    &::after {
      content: var(--icon-arrow-right-primary-small);
      display: inline-block;
      margin-left: var(--spacer-xxx-small);
      margin-right: -2rem;
    }
  }
  &.with-icon {
    display: flex;
    gap: var(--spacer-xxx-small);
  }

  &.transport-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--spacer-x-small);
    gap: var(--spacer-xx-small);
    svg {
      path {
        fill: var(--mt-button-primary-color);
      }
      circle {
        fill: transparent;
      }
    }
    &:hover {
      .text {
        &::after {
          content: var(--icon-arrow-primary-hover);
        }
      }
      svg {
        path {
          fill: var(--mt-button-primary-color-hover);
        }
      }
    }
    .text {
      display: flex;
      align-items: center;
      gap: var(--spacer-xxx-small);
      font-size: $transport-card-list-font-size;
      line-height: 140%;

      &::after {
        content: var(--icon-arrow-primary);
        display: inline-block;
        height: 1.75rem;
      }
    }
  }
  &.search-result {
    color: var(--color-text);
    gap: var(--spacer-xx-small);
    padding: var(--spacer-small) var(--spacer-x-small);

    border-radius: 0;
    border-bottom: var(--border-width-small) solid var(--color-mt-lys-furu);

    text-decoration-line: none;
    &:hover {
      background-color: var(--mt-button-flat-bg-hover);
      h2,
      h3 {
        text-decoration-line: none;
      }
    }
    h2,
    h3 {
      text-decoration-line: underline;
    }

    &:first-child {
      border-top: var(--border-width-small) solid var(--color-mt-lys-furu);
    }

    .breadcrumb {
      font-size: $font-size-small;
      padding-right: var(--spacer-xxx-small);

      &:first-child::before {
        content: none;
      }
      &::before {
        content: var(--icon-carret-right-small);
        display: inline-block;
        margin-right: var(--spacer-xxx-small);
      }
    }
  }
  &.highlighted-content {
    --content-margin: 0;
    --content-padding: var(--spacer-xx-small);
    --content-bg: var(--color-mt-white);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: var(--content-margin);
    padding: var(--content-padding);
    gap: var(--spacer-xx-small);
    background-color: var(--content-bg);
    text-decoration: none;
    color: var(--color-text);

    .heading {
      font-weight: $font-weight-normal;
      display: flex;
      align-items: center;
      gap: var(--spacer-xxx-small);
      text-decoration: underline;
    }

    &--campaign {
      --content-bg: var(--color-mt-bg-fjord);
      --content-padding: var(--spacer-small) var(--spacer-medium);
      display: grid;
      align-items: center;

      h2,
      h3 {
        margin-top: 0;
      }
      > .highlighted-text {
        gap: 0;
        & + img {
          width: 100%;
        }
      }
    }
    &--cta,
    &--blue {
      --content-padding: var(--spacer-x-small);

      @media (prefers-reduced-motion: no-preference) {
        transition: background-color $transition-ms-100 ease;
      }
    }

    .mt-img {
      width: 100%;
    }
    .highlighted-text {
      time + .heading {
        margin-top: var(--spacer-xxx-small);
      }
      .heading + * {
        margin-top: var(--spacer-xx-small);
      }
    }

    &:hover {
      --content-bg: var(--color-mt-green-300);

      @media (prefers-reduced-motion: no-preference) {
        transition: background-color $transition-ms-300 $cubic-bezier-easing;
      }
    }
    &:focus {
      box-shadow: $focus-box-shadow;
    }
    &:active {
      --content-bg: var(--color-mt-green-400);

      @media (prefers-reduced-motion: no-preference) {
        transition: background-color $transition-ms-100 ease;
      }
    }

    @media only screen and (min-width: $breakpoint-large) {
      flex-direction: row;
      .mt-img {
        width: 17rem;
      }
    }
  }
  &.animated-header-arrow-after {
    transition: padding-left ease-in-out 150ms;
    width: 100%;
    &:hover {
      padding-left: var(--spacer-xxx-small);
    }
    &::after {
      content: var(--icon-arrow-right-primary);
      display: inline-block;
      margin-right: -2rem;
      margin-left: var(--spacer-xxx-small);
      @media only screen and (max-width: $breakpoint-large) {
        margin-left: var(--spacer-xx-small);
      }
    }
  }
  &.link--transport {
    --transportlink-background: var(--color-#{$transportlink-default-color});
    --transportlink-color: var(--color-on-#{$transportlink-colors});
    --outline-color: transparent;
    --focus-box-shadow: $focus-box-shadow;
    --transportlink-padding: 0.875rem 1.5rem;

    font-size: $font-size-body;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;

    &:after {
      content: '';
      background-image: var(--icon-arrow-right-primary);
      margin-left: var(--spacer-xxx-small);
      padding-right: var(--icon-size-normal);
      width: var(--icon-size-normal);
      height: var(--icon-size-normal);
      background-size: var(--icon-size-normal) var(--icon-size-normal);
      background-repeat: no-repeat;
    }

    &:focus {
      border-color: var(--transportlink-background);
      box-shadow: $focus-box-shadow;
    }
    &:hover {
      background-color: transparent;
    }

    &--primary {
      @extend .no-underline;
      background-color: var(--transportlink-background);
      color: var(--transportlink-color);
      padding: var(--transportlink-padding);
      border-radius: $border-radius;

      &:after {
        background-image: var(--icon-arrow-primary);
      }

      &:hover {
        color: var(--mt-button-primary-color-hover);
        background: var(--mt-button-primary-bg-hover);
        &:after {
          background-image: var(--icon-arrow-primary-hover);
        }
      }

      &-large {
        @extend .no-underline;
        background-color: var(--transportlink-background);
        color: var(--transportlink-color);
        padding: var(--transportlink-padding);
        border-radius: $border-radius;
        width: 100%;
        transition: padding-left ease-in-out 150ms;

        &:after {
          background-image: var(--icon-arrow-primary);
        }

        &:hover {
          padding: var(--transportlink-padding);
          padding-left: var(--spacer-small);
          color: var(--mt-button-primary-color-hover);
          background: var(--mt-button-primary-bg-hover);
          text-decoration: none;
          &:after {
            background-image: var(--icon-arrow-primary-hover);
          }
        }
      }
    }

    &--secondary {
      @extend .no-underline;
      background-color: transparent;
      border: var(--border-width-regular) solid var(--list-border);
      font-weight: var(--font-weight-bold);
      padding: var(--transportlink-padding);
      border-radius: $border-radius;

      &-large {
        @extend .no-underline;
        transition: padding-left ease-in-out 150ms;
        padding: var(--spacer-xx-small) 0;
        width: 100%;
        background-color: transparent;

        &:after {
          margin-right: var(--spacer-xx-small);
        }

        &:hover {
          padding-left: var(--spacer-xx-small);
          text-decoration: none;
        }
      }
    }
  }

  &.link--button {
    color: var(--color-text);
    border-radius: $border-radius;
    padding: var(--spacer-xxx-small) var(--spacer-xx-small);

    &.info,
    &.success,
    &.warning,
    &.danger,
    &.neutral {
      &:hover {
        background-color: var(--status-bg-hover);
      }
    }
    &.info {
      background-color: var(--color-mt-bg-info);
    }
    &.success {
      background-color: var(--color-mt-bg-success);
    }
    &.warning {
      background-color: var(--color-mt-bg-warning);
    }
    &.danger {
      background-color: var(--color-mt-bg-danger);
    }
    &.neutral {
      background-color: var(--color-mt-bg-neutral);
    }
    &-icon-title-description {
      display: grid;
      grid-template-columns: min-content max-content;
      grid-template-areas: 'icon title' 'icon description';
      column-gap: var(--spacer-xx-small);
      row-gap: 0;
      text-decoration: none;

      &:hover {
        .title {
          text-decoration: none;
        }
      }
      &:before {
        grid-area: icon;
      }
      .title {
        grid-area: title;
        text-decoration: underline;
      }
      .description {
        grid-area: description;
      }
    }
  }
}
