.disclosure {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.disclosure + .disclosure {
  border-top: none;
}

.disclosure .disclosure-header {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  width: 100%;
  padding: 1rem 0;
  text-align: left;
  letter-spacing: normal;
  word-spacing: normal;
  background: transparent;
  border: none;
}
