// stylelint-disable no-descending-specificity
a:not([class]) {
  color: var(--color-links);
}

a,
button,
input,
select,
textarea {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;

  transition: box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: inherit;
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--color-primary-50);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    border-color: inherit;
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--color-primary-50);
  }

  &:disabled,
  &[disabled] {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
  }
}
