// stylelint-disable no-descending-specificity
@use '../utilities/mixins' as *;
@use '../theme' as *;

a {
  @include focus-outline();
  @include disabled;
  $transport-card-list-font-size: $font-size-label;

  color: var(--color-links);
  &.back-arrow {
    display: flex;
    align-items: center;
    color: var(--color-links);
    &::before {
      content: url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%2212%22%20fill%3D%22%23075A78%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.41%201.41L6%200%200%206l6%206%201.41-1.41L2.83%206l4.58-4.59z%22%2F%3E%3C%2Fsvg%3E');
      display: inline-block;
      height: 1.375rem;
      margin-right: var(--spacer-x-small);
    }
  }

  &.forward-arrow {
    &::before {
      content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNLjIgMS40MyAzLjY2MSA1IC4yIDguNTdsMS4wNjYgMS4wOTdMNS44IDUgMS4yNjYuMzMzLjIgMS40M1oiIGZpbGw9IiM0NjQ1NDUiLz48L3N2Zz4=');
      display: inline-block;
      margin-right: var(--spacer-x-small);
    }
  }
  &[aria-current='page'] {
    color: var(--color-mt-text-dark);
    text-decoration: none;
  }

  &.forward-arrow-end {
    padding: var(--spacer-x-small) var(--spacer-small);
    font-size: $transport-card-list-font-size;

    &:after {
      content: url('data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5.167%208.677%201.988l7.208%207.22H.166v2.584h15.72l-7.208%207.22%201.821%201.821L20.833%2010.5%2010.499.167Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
      display: inline-block;
      height: 1.3125rem;
    }
  }
  &.forward-arrow-small {
    &:after {
      content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTYgLjA5NS0xLjA0IDEuMDQgNC4xMTggNC4xMjdILjA5NXYxLjQ3Nmg4Ljk4M2wtNC4xMTkgNC4xMjZMNiAxMS45MDQgMTEuOTA1IDYgNiAuMDk1WiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==');
      margin-left: var(--spacer-xx-small);
      display: inline-block;
    }
  }
  &.top-task {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--spacer-small);
    gap: var(--spacer-xx-small);

    .heading {
      width: 100%;
      text-align: left;

      &::after {
        content: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url%28%23clip0%29%22%3E%3Cpath%20d%3D%22M10%20.659L8.265%202.393%2015.13%209.27H.159v2.46h14.97l-6.864%206.877L10%2020.34l9.841-9.841L10%20.659z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0%22%3E%3Cpath%20fill%3D%22%23fff%22%20transform%3D%22rotate%28-90%2010.25%2010.25%29%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
        display: inline-block;
        height: 1.75rem;
        margin-left: var(--spacer-xx-small);
      }
    }
    .text {
      width: 100%;
      display: flex;
      gap: var(--spacer-xx-small);
      line-height: 140%;
      text-align: left;
    }
  }

  &.transport-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--spacer-medium);
    gap: var(--spacer-x-small);

    .text {
      display: flex;
      align-items: center;
      gap: var(--spacer-xx-small);
      font-size: $transport-card-list-font-size;
      line-height: 140%;

      &::after {
        content: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url%28%23clip0%29%22%3E%3Cpath%20d%3D%22M10%20.659L8.265%202.393%2015.13%209.27H.159v2.46h14.97l-6.864%206.877L10%2020.34l9.841-9.841L10%20.659z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0%22%3E%3Cpath%20fill%3D%22%23fff%22%20transform%3D%22rotate%28-90%2010.25%2010.25%29%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
        display: inline-block;
        height: 1.75rem;
      }
    }
  }
}

button,
input,
select,
textarea {
  @include disabled;

  --outline-color: currentColor;

  transition: box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: inherit;
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--color-primary-50);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    border-color: inherit;
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--color-primary-50);
  }
}
