.bg-light-light-blue {
  background-color: var(--color-mt-lighter-light-blue);
}
.bg-light-beige {
  background-color: var(--color-mt-light-beige);
}
.bg-lighter-light-blue {
  background-color: var(--color-mt-lighter-light-blue);
}
