/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/scss/utilities/colors.js
 */

$color-mt-blue: hsl(196, 89%, 25%) !default;
$color-on-mt-blue: hsl(195.5, 46%, 75.3%) !default;
$color-mt-red: hsl(3,76%,52%) !default;
$color-on-mt-red: hsl(0, 100%, 5.1%) !default;
$color-mt-red-uu: hsl(3, 76%, 36%) !default;
$color-on-mt-red-uu: hsl(3, 68.2%, 82.7%) !default;
$color-mt-beige: hsl(54,19%,61%) !default;
$color-on-mt-beige: hsl(57.10000000000002, 19.3%, 21.4%) !default;
$color-mt-light-blue: hsl(193, 52%, 42%) !default;
$color-on-mt-light-blue: hsl(132, 100%, 5.9%) !default;
$color-mt-brown: hsla(0, 1%, 25%, 1) !default;
$color-on-mt-brown: rgb(170, 170, 170) !default;
$color-mt-grey: hsl(216,3%,66%) !default;
$color-on-mt-grey: hsl(200, 2.4%, 24.1%) !default;
$color-mt-white: hsl(0,0%,100%) !default;
$color-on-mt-white: rgb(118, 118, 118) !default;
$color-primary: hsl(196, 89%, 25%) !default;
$color-on-primary: hsl(0,0%,100%) !default;
$color-primary-50: hsl(196,89%,25%, .5) !default;
$color-on-primary-50: hsl(195.5, 46%, 75.3%) !default;
$color-secondary: hsl(54,19%,61%) !default;
$color-on-secondary: hsl(57.10000000000002, 19.3%, 21.4%) !default;
$color-mt-text-dark: hsla(0,1%,25%, 1) !default;
$color-on-mt-text-dark: rgb(170, 170, 170) !default;
$color-mt-background: hsl(38,40%,96%) !default;
$color-on-mt-background: hsl(40, 5.4%, 43.5%) !default;
$color-error: hsl(3, 76%, 36%) !default;
$color-on-error: hsl(0,0%,100%) !default;
$color-error-50: hsl(3, 76%, 36%, 0.5) !default;
$color-on-error-50: hsl(3, 68.2%, 82.7%) !default;

$base-color-tokens: ("mt-blue", "mt-red", "mt-red-uu", "mt-beige", "mt-light-blue", "mt-brown", "mt-grey", "mt-white", "primary", "primary-50", "secondary", "mt-text-dark", "mt-background", "error", "error-50");

$color-tokens: (
  "color-mt-blue": $color-mt-blue,
  "color-on-mt-blue": $color-on-mt-blue,
  "color-mt-red": $color-mt-red,
  "color-on-mt-red": $color-on-mt-red,
  "color-mt-red-uu": $color-mt-red-uu,
  "color-on-mt-red-uu": $color-on-mt-red-uu,
  "color-mt-beige": $color-mt-beige,
  "color-on-mt-beige": $color-on-mt-beige,
  "color-mt-light-blue": $color-mt-light-blue,
  "color-on-mt-light-blue": $color-on-mt-light-blue,
  "color-mt-brown": $color-mt-brown,
  "color-on-mt-brown": $color-on-mt-brown,
  "color-mt-grey": $color-mt-grey,
  "color-on-mt-grey": $color-on-mt-grey,
  "color-mt-white": $color-mt-white,
  "color-on-mt-white": $color-on-mt-white,
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-primary-50": $color-primary-50,
  "color-on-primary-50": $color-on-primary-50,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary,
  "color-mt-text-dark": $color-mt-text-dark,
  "color-on-mt-text-dark": $color-on-mt-text-dark,
  "color-mt-background": $color-mt-background,
  "color-on-mt-background": $color-on-mt-background,
  "color-error": $color-error,
  "color-on-error": $color-on-error,
  "color-error-50": $color-error-50,
  "color-on-error-50": $color-on-error-50
) !default;

@mixin color-tokens() {
  --color-mt-blue: #{$color-mt-blue};
  --color-on-mt-blue: #{$color-on-mt-blue};
  --color-mt-red: #{$color-mt-red};
  --color-on-mt-red: #{$color-on-mt-red};
  --color-mt-red-uu: #{$color-mt-red-uu};
  --color-on-mt-red-uu: #{$color-on-mt-red-uu};
  --color-mt-beige: #{$color-mt-beige};
  --color-on-mt-beige: #{$color-on-mt-beige};
  --color-mt-light-blue: #{$color-mt-light-blue};
  --color-on-mt-light-blue: #{$color-on-mt-light-blue};
  --color-mt-brown: #{$color-mt-brown};
  --color-on-mt-brown: #{$color-on-mt-brown};
  --color-mt-grey: #{$color-mt-grey};
  --color-on-mt-grey: #{$color-on-mt-grey};
  --color-mt-white: #{$color-mt-white};
  --color-on-mt-white: #{$color-on-mt-white};
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-primary-50: #{$color-primary-50};
  --color-on-primary-50: #{$color-on-primary-50};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
  --color-mt-text-dark: #{$color-mt-text-dark};
  --color-on-mt-text-dark: #{$color-on-mt-text-dark};
  --color-mt-background: #{$color-mt-background};
  --color-on-mt-background: #{$color-on-mt-background};
  --color-error: #{$color-error};
  --color-on-error: #{$color-on-error};
  --color-error-50: #{$color-error-50};
  --color-on-error-50: #{$color-on-error-50};
}