@use 'color-tokens' as *;
$border-width-small: 1px;
$border-width-regular: 2px;
$border-radius: 0.25em !default;
$border-red-regular: $border-width-regular solid $color-mt-red;

$breakpoint-large: 768px;

$color-links: 'var(--color-primary)' !default;
$color-grey-hue: $color-primary !default;
$color-background-body: scale-color($color-grey-hue, $lightness: 98%) !default;
$color-grey-hue: hue($color-grey-hue);

$font-family: Helvetica, Arial, sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;

$font-size-h1: clamp(2.1154141273rem, 5.041920391vw + 1rem, 3.1573345183rem);
$font-size-h2: clamp(1.5869573348rem, 4.7816357022vw + 1rem, 2.368593037rem);
$font-size-h3: clamp(1.19051563rem, 4.58637337vw + 1rem, 1.776889rem);
$font-size-h4: clamp(1rem, 4.333vw + 1rem, 1.333rem); // 20px
$font-size-intro: clamp(1.5rem, 2vw + 1rem, 1.875rem) !default; // 30px
$font-size-body: $font-size-h4 !default;
$font-size-small: 1rem !default; //16px
$font-size-label: clamp(1.1rem, 4.333vw + 1rem, 1.5rem) !default; //24px

$height-header-regular: 6.25rem;
$height-header-mobile: 3.75rem;

$spacer-xxx-small: 0.375rem !default; // 6px
$spacer-xx-small: 0.625rem !default; // 10px
$spacer-x-small: 1.25rem !default; // 20px
$spacer-small: 1.75rem !default; // 28px
$spacer-medium: 2.5rem !default; // 40px
$spacer-large: 3.5rem !default; // 56px
$spacer-x-large: 5rem !default; // 80px


$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-offcanvas-backdrop:         1040 !default;
$zindex-offcanvas:                  1045 !default;
$zindex-modal-backdrop:             1050 !default;
$zindex-modal:                      1055 !default;
$zindex-popover:                    1070 !default;
$zindex-tooltip:                    1080 !default;
