@use "color-tokens" as *;

$color-links: 'var(--color-primary)' !default;
$color-grey-hue: $color-primary !default;
$color-background-body: scale-color($color-grey-hue, $lightness: 98%) !default;
$color-grey-hue: hue($color-grey-hue);

$font-family: Helvetica, Arial, sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-bold: 700 !default;

$spacer-small: 0.625rem !default;
$spacer-medium: 1.5rem !default;
$spacer-large: 3rem !default;

:root {
  @include color-tokens();

  --color-links: #{$color-links};
  --grey-medium: hsl(#{$color-grey-hue}, 15%, 50%);
  --grey-light: hsl(#{$color-grey-hue}, 20%, 85%);
  --background-body: #{$color-background-body};
  --font-weight-light: #{$font-weight-light};
  --font-weight-bold: #{$font-weight-bold};
}
body {
  background-color: var(--color-mt-background);
  color: var(--color-mt-text-dark);
  font-family: $font-family;
}
