@use "color-tokens" as *;
$border-width-small: 1px;
$border-width-regular: 2px;

$border-red-regular: $border-width-regular solid $color-mt-red;

$breakpoint-large: 768px;

$color-links: 'var(--color-primary)' !default;
$color-grey-hue: $color-primary !default;
$color-background-body: scale-color($color-grey-hue, $lightness: 98%) !default;
$color-grey-hue: hue($color-grey-hue);

$font-family: Helvetica, Arial, sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;

$font-size-small: 0.875rem !default;

$height-header-regular: 6.25rem;

$spacer-small: 0.625rem !default;
$spacer-2: 1rem !default;
$spacer-3: 1.5rem !default;
$spacer-large: 3rem !default;

:root {
  @include color-tokens();

  --color-links: #{$color-links};
  --grey-medium: hsl(#{$color-grey-hue}, 15%, 50%);
  --grey-light: hsl(#{$color-grey-hue}, 20%, 85%);
  --background-body: #{$color-background-body};
  --font-weight-light: #{$font-weight-light};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};
  --spacer-large: #{$spacer-large};
  --spacer-small: #{$spacer-small};
  --spacer-2: #{$spacer-2};
  --spacer-3: #{$spacer-3};
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: $spacer-large;
  background-color: var(--color-mt-background);
  color: var(--color-mt-text-dark);
  font-family: $font-family;
}
