@use '../theme' as *;

@mixin focus-outline() {
  &.focus,
  &:focus {
    outline: none;
    box-shadow: $focus-box-shadow;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: $focus-box-shadow;
  }
}

@mixin form-inputs-hover-style {
  outline: $border-width-small solid var(--form-border-color-hover);
  border-color: var(--form-border-color-hover);
}

@mixin disabled {
  &:disabled,
  &[disabled],
  &.disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
  }
}

@mixin error-style {
  &.error {
    $error-focus-color: var(--color-error-50);

    border: $border-width-regular solid var(--color-error);

    &:focus {
      border-color: var(--color-error);
      outline: none;
    }
  }
}

@mixin radio-check-error-style {
  &.error {
    + .mt-label {
      color: var(--color-error);
    }
  }
}

@mixin children-spaced($spacer: var(--spacer-large)) {
  > * + * {
    margin-top: $spacer;
  }
}

@mixin xp-html-area {
  @include children-spaced(var(--space-content));

  --space-section: var(--spacer-medium);
  --space-sub-section: var(--spacer-small);
  --space-content: var(--spacer-xx-small);

  > h2 {
    margin-top: var(--spacer-medium);
    &.inclusively-hidden {
      + h3 {
        margin-top: 0;
      }
    }
  }

  > h3,
  > h4 {
    margin-top: var(--spacer-x-small);
  }
  ul {
    padding-left: var(--spacer-medium);
    li {
      line-height: 140%;
      & + li {
        margin-top: var(--spacer-xx-small);
      }
    }
  }
}

@mixin card-article {
  @include children-spaced(var(--spacer-x-small));

  padding: var(--spacer-x-small);

  .title {
    margin-top: 0;
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  .text {
    @include xp-html-area;
  }
}
@mixin article-spacing {
  --space-section: var(--spacer-small);
  --space-sub-section: var(--spacer-x-small);
  --space-content: var(--spacer-xx-small);

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));

  > * {
    grid-column: span 12;
  }
  ul,
  ol,
  .intro,
  .task,
  .highlighted-link,
  .form-intro-module,
  .disclosure,
  > * + p {
    margin-top: var(--space-content);
  }

  > .meta + p,
  .mt-figure {
    margin-top: var(--spacer-x-small);
  }

  table {
    margin-top: var(--spacer-large);
  }

  h2 {
    margin-top: var(--space-section);
    + h3 {
      margin-top: var(--space-content);
    }
  }

  > h3,
  > h4 {
    margin-top: var(--space-sub-section);
  }
  > h4 + *,
  > .mt-h4 + * {
    margin-top: 0;
  }

  .text {
    @include xp-html-area;
  }

  .meta {
    margin-top: var(--spacer-x-small);
  }

  section {
    > .inclusively-hidden + * {
      margin-top: var(--space-section);
    }
    &.table-of-contents {
      margin: var(--spacer-large) 0 0;
      h2 {
        margin-top: 0;
      }
      & + * {
        margin-top: var(--spacer-large);
      }
    }
  }
}

@mixin background-color-on-hover($color) {
  &:hover {
    background-color: $color;
    @media (prefers-reduced-motion: no-preference) {
      transition: background-color $transition-ms-300 ease;
    }
    @content;
  }
}

@mixin background-color-on-active($color) {
  &:active {
    background-color: $color;
    @media (prefers-reduced-motion: no-preference) {
      transition: background-color $transition-ms-100 ease;
    }
    @content;
  }
}

@mixin apply-icon(
  $icon: null,
  $position: 'before',
  $direction: 'down',
  $open-state-icon: null,
  $target-child: null,
  $overwrite-external-icon: null
) {
  $valid-directions: down, up, right, left;
  $pseudo: before, after;
  $external-link-icon: if(
    $overwrite-external-icon != null,
    $overwrite-external-icon,
    $icon-external-link
  );

  @if not index($valid-directions, $direction) {
    @error "Unknown direction value '#{$direction}' at $dir. $dir can only be of value 'down' | 'up' | 'right' | 'left'.";
  }

  @if not index($pseudo, $position) {
    @error "Unknown position value '#{$position}' at $position. $position can only be of value 'before' | 'after'.";
  }

  $icon-directions: (
    'down': 0,
    'up': -180,
    'right': -90,
    'left': 90,
  );

  $dir-mapped-to-rotate: map-get($icon-directions, #{$direction});
  $calc-open-rotation: calc($dir-mapped-to-rotate - 180);

  &[href]:not(:where(
    [href^='#'],
    [href^='?'],
    [href^='..'],
    [href^='tel:'],
    [href^='mailto:'],
    [href^='/']:not([href^='//']),
    [href*='mattilsynet.no']:not([href*='hoering.mattilsynet']),
    [href*='mattilsynet-xp7qa.enonic.cloud'],
    [href*='mattilsynet-xp7prod.enonic.cloud']
    )) {
    @if $target-child != null {
      &::after,
      &::before {
        display: none;
      }
      @each $target in $target-child {
        #{$target} {
          @include apply-pseudo-styling(
            $icon: $external-link-icon,
            $position: $position,
            $icon-direction: $direction,
            $mapped-rotation: $dir-mapped-to-rotate
          ) {
            @content;
          }
        }
      }
    } @else {
      @include apply-pseudo-styling(
        $icon: $external-link-icon,
        $position: $position,
        $icon-direction: $direction,
        $mapped-rotation: $dir-mapped-to-rotate
      ) {
        @content;
      }
    }
  }
  @if $icon != null {
    @if $target-child != null {
      &::after,
      &::before {
        display: none;
      }
      @each $target in $target-child {
        #{$target} {
          @include apply-pseudo-styling(
            $icon: $external-link-icon,
            $position: $position,
            $icon-direction: $direction,
            $mapped-rotation: $dir-mapped-to-rotate
          ) {
            @content;
          }
        }
      }
    } @else {
      @include apply-pseudo-styling(
        $icon: $icon,
        $position: $position,
        $icon-direction: $direction,
        $mapped-rotation: $dir-mapped-to-rotate
      ) {
        @content;
      }
      &[aria-expanded='true']::#{$position} {
        @if $open-state-icon != null {
          background: no-repeat center $open-state-icon;
        }
        transform: rotateX(#{$calc-open-rotation}deg);
        @media (prefers-reduced-motion: no-preference) {
          transition: transform $transition-ms-300 ease;
        }
      }
    }
  }
}

@mixin apply-pseudo-styling(
  $icon,
  $position,
  $icon-size: $icon-size-x-large,
  $icon-direction,
  $mapped-rotation
) {
  @if $position == before {
    &:after,
    &::after {
      display: none;
    }
  } @else {
    &:before,
    &::before {
      display: none;
    }
  }
  &:#{$position},
  &::#{$position} {
    content: '';
    display: inline-block;
    background: no-repeat center $icon;
    width: $icon-size-x-large;
    height: $icon-size-x-large;
    vertical-align: top;
    @if ($icon-direction != 'down') {
      transform: rotate(#{$mapped-rotation}deg);
    }
    @media (prefers-reduced-motion: no-preference) {
      transition: transform $transition-ms-300 ease;
    }
    @content;
  }
}
